.isDisabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity:0.5;
}
  
.isDisabled:hover {
  cursor: not-allowed;
  opacity:0.5;
}

.boton-alta{
  width: 15rem;
  background: #002b5c;
  color: white;
  opacity: 0.8;
  font-size: 1.3rem;
}

.boton-alta:hover{
  background: #0d6efd;    
}
