.is-invalid {
    border-color: #dc3545 !important; /* Cambia el color del borde a rojo */
  }

  button{
    background-color: #3d8bfd;
    color: white;
    font-size: 1.2rem;
  }  
  button:hover{
    background-color: #0d6efd;
    color: white;
    font-size: 1.2rem;
  } 

input, tr, td, th, select, .form-check-label{
    font-size: 1.3rem;
}

label{
  font-size: 1.15rem;
}

#cerrar{
  background-color: transparent;
  border-color: black;
}

#cerrar:hover{
  background-color: #0d6efd;
  color: white;
}

.azul{
  background-color: #3d8bfd;
  color: white;
  font-size: 1.25rem;
}  
.azul:hover{
  background-color: #0d6efd;
  color: white;
  font-size: 1.25rem;
}    

.isDisabled {
  pointer-events: none;
  cursor: not-allowed;
}

.isDisabled:hover {
  cursor: not-allowed;
}
