th, td, span, strong {
    font-size: 1.35rem;
}

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity:0.5;
    }
  
.isDisabled:hover {
    cursor: not-allowed;
    opacity:0.5;
}