.is-invalid {
    border-color: #dc3545 !important; 
}

  input, tr, td, th, select, .form-check-label{
    font-size: 1.3rem;
}

label{
  font-size: 1.15rem;
}

.isDisabled {
  pointer-events: none;
  cursor: not-allowed;
}

.isDisabled:hover {
  cursor: not-allowed;
}

.azul{
  background-color: #3d8bfd;
  color: white;
  font-size: 1.25rem;
}  
.azul:hover{
  background-color: #0d6efd;
  color: white;
  font-size: 1.25rem;
}  