.invisible{
    display:none;   
}

th, td, input{
    font-size:1.3rem;
}

.filaColor{
    background-color:red;
}

.celeste-fijo:hover{
    background-color: rgb(121, 174, 192);
    color: white;
    border-color: blue;
    font-size: 1.25rem;
  }

  hr {border: 3px solid #666; border-radius: 300px/10px; height: 0px; text-align: center;}

/* @media (max-width:1400px) and (min-width:992px){

} */

