.invisible{
    display:none;   
}

th, td{
    font-size:1.25rem;
}

.celeste-fijo:hover{
    background-color: rgb(121, 174, 192);
    color: white;
    border-color: blue;
    font-size: 1.25rem;
  }

