<div class="row mt-3" [ngClass]="{'invisible': tEspecial}" >
    <div class="col-4">
        <h1 class="mt-2">Tarifa General</h1>  
        <app-btn-editar *ngIf="!tEspecial" name="agregarCategoria" class="me-3" (click)="agregarCategoria()"></app-btn-editar>
    </div>
    <div class="col-4">

    </div>
 
    <app-consola-tarifa class="col-4 p-0"></app-consola-tarifa>

</div>
<div>
    <form [formGroup]="tarifaForm" (ngSubmit)="guardarTarifa()">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 2%"><input type="checkbox" (change)="onSeleccionarTodosChange($event)" formControlName="seleccionarTodos"></th>
                    <th style="width: 12%">Categoria</th>
                    <th style="width: 26%">Nombre</th>
                    <th style="width: 20%">Ultima Tarifa {{tEspecial? ultTarifaEspecial.fecha: ultTarifa? ultTarifa.fecha : ""}}</th>
                    <th style="width: 20%">Diferencia</th>
                    <th style="width: 20%">Nueva Tarifa</th>
                </tr>
            </thead>
            <tbody formArrayName="filas">
                <tr *ngFor="let fila of filas.controls; let i = index" [formGroupName]="i">
                    <td *ngIf="i % 3 === 0">
                        <input type="checkbox" formControlName="seleccionado">
                    </td>
                    <td *ngIf="i % 3 !== 0"></td>
                    <td>{{ fila.get('categoria')?.value }}</td>
                    <td>
                        <input type="text" class="form-control" formControlName="nombre">
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:30px">
                                {{ (fila.get('categoria')?.value === 'Km 1er Sector distancia' || fila.get('categoria')?.value === 'Km Intervalos distancia') ? 'Km' : '$' }}
                            </span>
                            <input type="text" class="form-control" formControlName="ultimaTarifa">
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:30px">
                                {{ (fila.get('categoria')?.value === 'Km 1er Sector distancia' || fila.get('categoria')?.value === 'Km Intervalos distancia') ? 'Km' : '$' }}
                            </span>
                            <input type="text" class="form-control" formControlName="diferencia">
                        </div>
                    </td>
                    <td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width:30px">
                                {{ (fila.get('categoria')?.value === 'Km 1er Sector distancia' || fila.get('categoria')?.value === 'Km Intervalos distancia') ? 'Km' : '$' }}
                            </span>
                            <input type="text" class="form-control" formControlName="nuevaTarifa">
                        </div>
                    </td>
                </tr>
            </tbody>            
        </table>
        <app-btn-editar name="editarTarifa" class="me-3" (click)="openModalEdicion()" ></app-btn-editar>
        
        <app-btn-agregar name="guardarTarifa" (click)="guardarTarifa()"></app-btn-agregar>

        <!-- <button type="button" class="btn btn-primary" (click)="guardarTarifa()">Guardar Tarifa</button> -->
    </form>
</div>
