.invisible{
    display:none;   
}

th, td, input{
    font-size:1.3rem;
}

.catColor{
    background-color:#cff4fc;
}

.adicColor{
    background-color:#f8f9fa;
}

.celeste-fijo:hover{
    background-color: rgb(121, 174, 192);
    color: white;
    border-color: blue;
    font-size: 1.25rem;
  }

  .isDisabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .isDisabled:hover {
    cursor: not-allowed;
  }

  hr {border: 3px solid #666; border-radius: 300px/10px; height: 0px; text-align: center;}

/* @media (max-width:1400px) and (min-width:992px){

} */

