<div class="container">
    <h1>Tarifas Chofer</h1>
    <div class="d-flex justify-content-evenly">
        <div>
            <h2>Seleccionar Cliente: </h2>
            <select class="form-select form-select-md mb-3" (change)="changeCliente($event)">
                <option selected>Seleccione</option>
                <option *ngFor="let cliente of clientes$.source._value">
                  {{cliente.razonSocial}} 
                </option>
              </select>
        </div>
       
     
    </div>

    <div>
      <h2>Asignar Tarifa</h2> 
      
        <div class="d-flex justify-content-evenly" *ngIf="clienteSeleccionado !== undefined else sinSeleccion" >
            <div> <!-- cargas generasles -->
              <h3>Cargas Generales: </h3>  
              <form [formGroup]="cargasGeneralesForm"  (ngSubmit)="onSubmit()">             
                  <div class="form-group">       
                      <table>
                        <tbody>
                          <tr class="form-group">
                            <td class="parametro">Utilitario: </td>
                            <td>
                              <input formControlName="utilitario" class="form-control edicion" required type="number">   
                            </td>
                          </tr>                               
                          <tr class="form-group">
                            <td class="parametro">Furgon: </td>
                            <td>
                              <input formControlName="furgon" class="form-control" required type="number">
                            </td>
                          </tr>
                          <tr class="form-group">
                            <td class="parametro">Camion Liviano: </td>
                            <td>
                              <input formControlName="camionLiviano" class="form-control edicion" required type="number">   
                            </td>
                          </tr>                               
                          <tr class="form-group">
                            <td class="parametro">Chasis: </td>
                            <td>
                              <input formControlName="chasis" class="form-control" required type="number">
                            </td>
                          </tr>
                          <tr class="form-group">
                            <td class="parametro">Balancin: </td>
                            <td>
                              <input formControlName="balancin" class="form-control edicion" required type="number">   
                            </td>
                          </tr>                               
                          <tr class="form-group">
                            <td class="parametro">Semi Remolque Local: </td>
                            <td>
                              <input formControlName="semiRemolqueLocal" class="form-control" required type="number">
                            </td>
                          </tr>
                          <table *ngIf="adicionalesCargasGenerales.length > 0" >
                              <tr *ngFor="let adicional of adicionalesCargasGenerales, let i = index">
                                <td class="parametro">
                                  {{adicional.concepto}}
                                </td>
                                <td>
                                  {{adicional.valor}}
                                </td>
                                <td>
                                  <svg type="button" (click)="eliminarAdicionalCG(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                  </svg>
                                </td>
                              </tr>                          
                          </table>
                        </tbody>
                      </table>
                        
                          <form [formGroup]="adicionalCGForm" (ngSubmit)="onSubmit()">
                          
                        
                            <tr  >
                                <th class="parametro">Concepto </th>
                                <th > Valor</th>
                            </tr>
                          
                            <tr class="form-group" >                          
                              
                                <td class="parametro" >
                                    <input formControlName="concepto" class="form-control" required type="text">
                                </td>
                                <td>
                                    <input formControlName="valor" class="form-control" required type="number">                              
                                </td>
                                <td class="align-middle">
                                    <svg type="button" (click)="guardarAdicionalCG()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </td>  
    
                            </tr>
                        
                        
                          </form>    
                          
                  </div>
              </form>      
            </div>
            <div> <!-- unidades con frio -->
                <h3>Unidades con Frio</h3>
                <form [formGroup]="unidadesConFrioForm"  (ngSubmit)="onSubmit()">             
                    <div class="form-group">       
                        <table>
                          <tbody>
                            <tr class="form-group">
                              <td class="parametro">Utilitario: </td>
                              <td>
                                <input formControlName="utilitario" class="form-control edicion" required type="number">   
                              </td>
                            </tr>                               
                            <tr class="form-group">
                              <td class="parametro">Furgon: </td>
                              <td>
                                <input formControlName="furgon" class="form-control" required type="number">
                              </td>
                            </tr>
                            <tr class="form-group">
                              <td class="parametro">Camion Liviano: </td>
                              <td>
                                <input formControlName="camionLiviano" class="form-control edicion" required type="number">   
                              </td>
                            </tr>                               
                            <tr class="form-group">
                              <td class="parametro">Chasis: </td>
                              <td>
                                <input formControlName="chasis" class="form-control" required type="number">
                              </td>
                            </tr>
                            <tr class="form-group">
                              <td class="parametro">Balancin: </td>
                              <td>
                                <input formControlName="balancin" class="form-control edicion" required type="number">   
                              </td>
                            </tr>                               
                            <tr class="form-group">
                              <td class="parametro">Semi Remolque Local: </td>
                              <td>
                                <input formControlName="semiRemolqueLocal" class="form-control" required type="number">
                              </td>
                            </tr>
                            <table *ngIf="adicionalesUnidadesConFrio.length > 0" >
                                <tr *ngFor="let adicional of adicionalesUnidadesConFrio, let i = index">
                                  <td class="parametro">
                                    {{adicional.concepto}}
                                  </td>
                                  <td>
                                    {{adicional.valor}}
                                  </td>
                                  <td>
                                    <svg type="button" (click)="eliminarAdicionalUCF(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                      <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                    </svg>
                                  </td>
                                </tr>                          
                            </table>
                          </tbody>
                        </table>
                          
                            <form [formGroup]="adicionalUCFForm" (ngSubmit)="onSubmit()">
                            
                          
                              <tr  >
                                  <th class="parametro">Concepto </th>
                                  <th > Valor</th>
                              </tr>
                            
                              <tr class="form-group" >                          
                                
                                  <td class="parametro" >
                                      <input formControlName="concepto" class="form-control" required type="text">
                                  </td>
                                  <td>
                                      <input formControlName="valor" class="form-control" required type="number">                              
                                  </td>
                                  <td class="align-middle">
                                      <svg type="button" (click)="guardarAdicionalUCF()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                      </svg>
                                  </td>  
      
                              </tr>
                          
                          
                            </form>    
                            
                    </div>
                </form>  
            </div>
            <div>   <!-- adicionales                  -->
                  <h3>Adicionales</h3>
                  <form [formGroup]="acompanianteForm"  (ngSubmit)="onSubmit()">
                      <tr class="form-group">
                          <td class="parametro align-middle">Acompañante: </td>
                          <td>
                            <input formControlName="acompaniante" class="form-control edicion" required type="number">   
                          </td>
                      </tr> 
                      <table *ngIf="adicionalKm.length > 0" >
                          <tr *ngFor="let adicional of adicionalKm, let i = index">
                            <td class="parametro">
                              {{adicional.adicionalKm}}
                            </td>
                            <td>
                              {{adicional.valor}}
                            </td>
                            <td>
                              <svg type="button" (click)="eliminarAdicionalKm(i)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                              </svg>
                            </td>
                          </tr>                          
                      </table>
                
                      <form [formGroup]="adicionalKmForm" (ngSubmit)="onSubmit()">
                            
                        <tr>
                            <th class="parametro">Adicional Km </th>
                            <th > Valor</th>
                        </tr>
                      
                        <tr class="form-group" >                          
                          
                            <td class="parametro" >
                                <input formControlName="adicionalKm" class="form-control" required type="text">
                            </td>
                            <td>
                                <input formControlName="valor" class="form-control" required type="number">                              
                            </td>
                            <td class="align-middle">
                                <svg type="button" (click)="guardarAdicionalKm()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </td>  

                        </tr>
                    
                    
                      </form>    
                  </form>
            </div>
        </div>
     
        <div>
          <button type="submit" class="btn btn-outline-secondary" (click)="onSubmit()">
            Guardar
          </button>
        </div>
      
      <ng-template #sinSeleccion>
        <h4>Seleccione chofer</h4>
      </ng-template>
      <ng-template #sinTarifas>
        <h4>El chofer aun no tiene tarifas asignadas</h4>
      </ng-template>
  </div> 
  
</div>


