
.parametro{
    width: 10rem;
}
.tabla{
    width: 18rem;
}

.valores{
    width: 18rem;
}

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}
  
.isDisabled:hover {
    cursor: not-allowed;
}

.altaIsDisabled{
    visibility: hidden;
}

.isDisabledAjustes{
    visibility: hidden;
}

.ngx-datatable.dark[_ngcontent-sax-c149] {
    font-size: 10px;
  }

  td, input{
    font-size: 1.15rem;
}
