th, td, input{
    font-size:1.25rem;
}

.encabezado{
    font-size:1.35rem;
}

#cerrar{   
    background-color: transparent;
    border-color: black;    
  }
  
  #cerrar:hover{
    background-color: #0d6efd;
    color: white;
  }