
<div class="modal-content">
    <div class="modal-header">
      <h1>Tarifa Personalizada</h1>
      <button type="button" class="btn-close btn btn-outline-secondary" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
        <h2>Generar Nueva Tarifa:</h2>
        <div class="form-group d-flex">            
            <div class="me-3">                
                <button type="button" class="btn" [class.btn-primary]="!modoAutomatico" (click)="cambiarModo('manual')">Manual</button>
                <button type="button" class="btn" [class.btn-primary]="modoAutomatico" (click)="cambiarModo('automatico')">Automática</button>
            </div>
            <div *ngIf="modoAutomatico">
                <input type="number" [(ngModel)]="porcentajeAumento" placeholder="Ingrese porcentaje de aumento" (keydown.enter)="aplicarPorcentaje()">
                <button type="button" class="btn btn-outline-primary ms-2" (click)="aplicarPorcentaje()">Aplicar Porcentaje</button>
            </div>
        </div>      
        <ng-container *ngFor="let seccion of $ultimaTarifa.secciones">
            <h4>Seccion {{seccion.orden}}: {{seccion.descripcion ? seccion.descripcion : ""}}</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="4">Tarifa Actual</th>
                        <th colspan="2">Diferencia</th>
                        <th colspan="2">Nueva tarifa</th>
                    </tr>
                    <tr>
                        <th>Categoria</th>
                        <th>Nombre</th>
                        <th>A Cobrar</th>
                        <th>A Pagar</th>
                        <th style="border-left: black 2px solid">A Cobrar</th>
                        <th>A Pagar</th>
                        <th style="border-left: black 2px solid">A Cobrar</th>
                        <th>A Pagar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of seccion.categorias">
                        <td>Categoria {{categoria.orden}}</td>
                        <td>{{categoria.nombre}}</td>
                        <!-- Valores originales -->
                        <td>{{categoria.aCobrar}}</td>
                        <td>{{categoria.aPagar}}</td>
                        <!-- Diferencias calculadas (mostrando 0 inicialmente) -->
                        <td style="border-left: black 2px solid">{{ calcularDiferencia(categoria.aCobrar, categoria.nuevoACobrar) | number:'1.2-2' }}</td>
                        <td>{{ calcularDiferencia(categoria.aPagar, categoria.nuevoAPagar) | number:'1.2-2' }}</td>
                        <!-- Nuevos valores calculados -->
                        <td style="border-left: black 2px solid">
                          <input type="text" [disabled]="modoAutomatico" [(ngModel)]="categoria.nuevoACobrar">
                        </td>
                        <td>
                          <input type="text" [disabled]="modoAutomatico" [(ngModel)]="categoria.nuevoAPagar">
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
    <div class="modal-footer">
        <app-btn-agregar name="Guardar" type="button" (click)="onSubmit()"></app-btn-agregar>
    </div>
</div>