 <!-- EDITAR LA OBSERVACION DE LA FACTURA!!! -->

<!-- 
 <div class="modal-header">
    <h1 class="modal-title fs-2" id="exampleModalToggleLabel2">Editar Detalle</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Detalle: </span>
        <input type="text" formControlName="detalle" class="form-control" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="guardarDetalle()">Guardar</button>
  </div>
   -->