<div id="caja" class="border border-2 p-4 rounded-4">
    <h1 >Alta Operacion</h1>

    <div class="container d-flex justify-content-center align-self-center">



      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="Fecha">Fecha</label>
          <div class="input-group">
            <input formControlName="fecha" class="form-control edicion" required type="date">            
          </div>
        </div>    
        <div class="form-group">
          <label for="Cliente">Cliente</label>
          <select class="form-select form-select-md mb-3" (change)="changeCliente($event)">
              <option value={{clienteSeleccionado}}>Elegir Cliente</option>
              <option *ngFor="let cliente of $clientes">
                {{cliente.razonSocial}}
              </option>
          </select>
        </div>    
        <div class="form-group">
            <label for="Chofer">Chofer</label>            
            <div class="accordion accordion-flush w-100" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Seleccionar Chofer
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="form-check d-flex justify-content-between align-items-center" *ngFor="let chofer of $choferes; let i = index" >
                       
                        <label class="form-check-label"  for="reverseCheck">
                          {{chofer.apellido}} {{chofer.nombre}}
                        </label>
                        <input class="form-check-input me-2" type="checkbox" value="" id="reverseCheck"   (change)="toggleCheckbox(i)">
                    </div>
                  
                </div>
              </div>
            </div>  
        </div>  
        <div class="form-group">
            <label for="UCF">Unidades con Frio</label>
            <select class="form-select" aria-label="Default select example" (change)="selectUCF($event)">
                <option selected>Seleccione</option>
                <option value="si">Si</option>
                <option value="no">No</option>              
            </select>
        </div>         
        <div class="form-group">
          <label for="Acompaniante">Acompañante</label>
          <select class="form-select" aria-label="Default select example" (change)="selectAcompaniante($event)">
              <option selected>Seleccione</option>
              <option value="si">Si</option>
              <option value="no">No</option>              
          </select>
      </div>       
        <div class="form-group">
          <label for="Observaciones">Observaciones</label>
          <div class="input-group">
            <textarea  formControlName="observaciones" class="form-control edicion" required type="text"></textarea>            
          </div>
        </div>         
        <button class="btn btn-secondary mt-2" type="submit">
          Guardar 
        </button>

      </form>

    </div>
</div>



