#caja{
    min-height: 23rem;    
}

form{
    width: 200px;
}

.accordion-body{
    margin: 0;
    padding: 0;
}

.form-check{
    height: 23.6px;
    padding-left: 0.7rem;
}

.form-group{
    width: 20rem;
}

input, option, textarea {
    font-size: 1.15rem;
  }

.invisible{
    display:none;   
}

#cerrar{   
    background-color: transparent;
    border-color: black;
  }
  
  #cerrar:hover{
    background-color: #0d6efd;
    color: white;
  }

  .isDisabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .isDisabled:hover {
    cursor: not-allowed;
  }
