

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 >Alta Operacion</h1>      
                    <!-- <button type="button" class="btn-close" ></button> -->
                </div>
                <div class="d-flex justify-content-between modal-body">
                    <div class="d-flex justify-content-center container">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="Fecha">Fecha</label>
                                <div class="input-group">
                                    <input formControlName="fecha" class="form-control edicion" required type="date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Cliente">Cliente</label>
                                <select formControlName="cliente" class="form-select mb-3" (change)="changeCliente($event)">
                                    <option value="">Elegir Cliente</option>
                                    <option *ngFor="let cliente of $clientes" [value]="cliente.idCliente">
                                      {{cliente.razonSocial}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Chofer">Chofer</label>
                                <select formControlName="chofer" class="form-select mb-3" (change)="changeChofer($event)">
                                    <option value="">Elegir Chofer</option>
                                    <option *ngFor="let chofer of $choferes" [value]="chofer.idChofer">
                                      {{chofer.apellido}} {{chofer.nombre}}
                                    </option>
                                </select>
                            </div>                      
                            <div class="form-group">
                                <label for="TarifaEventual">Tarifa Eventual</label>
                                <select formControlName="tarifaEventual" class="form-select mb-3" aria-label="Default select example" (change)="selectTarifaEventual($event)">
                                    <option value="">Seleccione</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div *ngIf="!tarifaEventual" class="form-group mt-2">
                                <label for="Acompaniante">Acompañante</label>
                                <select formControlName="acompaniante" class="form-select mb-3" aria-label="Default select example" (change)="selectAcompaniante($event)">
                                    <option value="">Seleccione</option>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>                          
                            <div class="form-group">
                                <label for="Observaciones">Observaciones</label>
                                <div class="input-group">
                                    <textarea formControlName="observaciones" class="form-control edicion"></textarea>
                                </div>
                            </div>                          
                            <button class="btn btn-secondary mt-3" type="submit" [disabled]="!form.valid">
                              Guardar
                            </button>
                        </form>
                    </div>
                    <div class="container" [ngClass]="{'invisible': !tarifaPersonalizada && !tarifaEventual &&!vehiculosChofer}">
                        <div *ngIf="tarifaPersonalizada">
                            <label for="TarifaEventual">Tarifa Personalizada</label>
                            <p class="m-2 border-top border-bottom">El cliente tiene una tarifa Personalizada. Seleccione la sección y la categoria correspondiente a la operación.</p>                        
                            <form [formGroup]="formTarifaPersonalizada">
                                <div class="form-group">
                                    <label for="Cliente">Secciion</label>
                                    <select formControlName="seccion" class="form-select mb-3" (change)="changeSecion($event)">
                                        <option selected >Elija la sección</option>                              
                                        <option *ngFor="let seccion of tarifaClienteSel?.secciones" [value]="seccion.orden">
                                          Seccion {{seccion.orden}}: {{seccion.descripcion? seccion.descripcion : ""}} 
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group" *ngIf="mostrarCategoria">
                                    <label for="Categoria">Categoria</label>
                                    <select formControlName="categoria" class="form-select mb-3" (change)="changeCategoria($event)">
                                        <option selected >Elija la categoria</option>                              
                                        <option *ngFor="let categoria of seccionElegida?.categorias" [value]="categoria.orden">
                                          Categoria {{categoria.orden}}: {{categoria.nombre}} 
                                        </option>
                                    </select>
                                </div>
                            </form>  
                        </div>
                        <div *ngIf="vehiculosChofer">
                            <label for="TarifaEventual">Vehiculos</label>
                            <p class="m-2 border-top border-bottom">El chofer tiene varios vehiculos cargados. Seleccione el que corresponda para esta operación.</p>                        
                            <form [formGroup]="formVehiculosChofer">
                                <ng-container *ngIf="choferSeleccionado !== undefined && choferSeleccionado.vehiculo.length > 1">
                                  <div class="form-group">
                                      <label for="Vehiculo Chofer">Vehiculo</label>
                                      <select class="form-select mb-3" formControlName="patente" (change)="changeVehiculo($event)">
                                        <option value="">Elegir Vehiculo</option>
                                        <option *ngFor="let vehiculo of choferSeleccionado.vehiculo" [value]="vehiculo.dominio">
                                          {{vehiculo.categoria.nombre}}: {{vehiculo.dominio}}
                                        </option>
                                      </select>
                                  </div>
                              </ng-container>
                            </form>
                        </div>
                        <div *ngIf="tarifaEventual">                            
                            <label for="TarifaEventual">Tarifa Eventual</label>
                            <p class="m-2 border-top border-bottom">La tarifa eventual se aplica una unica vez a esta operación especifica.</p>                        
                            <form [formGroup]="formTarifaEventual" (ngSubmit)="onSubmit()">
                              <div class="my-2">
                                <h6 class="mt-2">Chofer:</h6>
                                <div class="form-group">
                                    <label for="Fecha">Tarifa Eventual Concepto</label>
                                    <div class="input-group">
                                      <input formControlName="choferConcepto" class="form-control edicion" required type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Fecha">Tarifa Eventual Valor</label>
                                    <div class="input-group">
                                      <input formControlName="choferValor" class="form-control edicion" required type="number">
                                    </div>
                                </div>
                                <h6 class="my-2">Cliente:</h6>
                                <div class="form-group">
                                    <label for="Fecha">Tarifa Eventual Concepto</label>
                                    <div class="input-group">
                                      <input formControlName="clienteConcepto" class="form-control edicion" required type="text">
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="Fecha">Tarifa Eventual Valor</label>
                                    <div class="input-group">
                                      <input formControlName="clienteValor" class="form-control edicion" required type="number">
                                    </div>
                                </div>
                                </div>              
                            </form>                            
                        </div>                  
                    </div>
                </div>
                  
            </div>
        </div>
        

    



