<div class="modal-content">
    <div class="modal-header">
        <div >
            <h2>Asignar Tarifa Especial</h2>
            <!-- <h4 *ngIf="tarifasCliente.length === 0" class="mt-2">El cliente no tiene tarifas asignadas</h4> -->
        </div>        
        <!-- <button type="button" class="btn-close btn btn-outline-secondary" (click)="activeModal.close()"></button> -->
    </div>
    <div class="modal-body">
        <div class="container mt-0 pt-0">
            <h2>Tabla de Tarifas</h2>

            <!-- <form [formGroup]="tarifaForm" (ngSubmit)="guardarTarifa()">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th><input type="checkbox" (change)="onSeleccionarTodosChange($event)" formControlName="seleccionarTodos"></th>
                    <th>Categoria</th>
                    <th>Nombre</th>
                    <th>Ultima Tarifa</th>
                    <th>Diferencia</th>
                    <th>Nueva Tarifa</th>
                  </tr>
                </thead>
                <tbody formArrayName="filas">
                  <tr *ngFor="let fila of filas.controls; let i = index" [formGroupName]="i">
                    <td><input type="checkbox" formControlName="seleccionado"></td>
                    <td>{{ fila.get('categoria')?.value }}</td>
                    <td><input type="text" formControlName="nombre"></td>
                    <td><input type="text" formControlName="ultimaTarifa" ></td>
                    <td><input type="text" formControlName="diferencia" ></td>
                    <td><input type="text" formControlName="nuevaTarifa"></td>
                  </tr>
                </tbody>
              </table>
            
              <div class="form-group">
                <label>Generar Nueva Tarifa:</label><br>
                <button type="button" (click)="onGenerarNuevaTarifaManual()">Manual</button>
                <button type="button" (click)="onGenerarNuevaTarifaAutomatica()">Automática</button>
                <input type="number" [formControl]="porcentajeAumento" placeholder="Ingrese porcentaje de aumento">
                <button type="button" (click)="calcularNuevaTarifaPorcentaje()">Aplicar Porcentaje</button>
              </div>
            
              <button type="submit" class="btn btn-primary">Guardar Tarifa</button>
            </form> -->
        </div>       
    </div>   
</div>



