.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5; /* o cualquier otro estilo para indicar que está deshabilitado */
}

.adicionalKm{
    width: 7.3rem;
}

th, td {
    font-size: 1.25rem;
}
