.tabla{
    width: 9.09%;
}

#botones{
    width: 12%;
}

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}
  
.isDisabled:hover {
    cursor: not-allowed;
}

.isDisabledAjustes{
    visibility: hidden;
}