<h1>Choferes</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th class="tabla" scope="col">Id Chofer</th>
          <th class="tabla" scope="col">Apellido</th>
          <th class="tabla" scope="col">Nombre</th>
          <th class="tabla" scope="col">Correo </th>
          <th class="tabla" scope="col">Celular</th>
          <th class="tabla" scope="col">Fecha Nacimiento</th>
          <th class="tabla" scope="col">Patente</th>
          <th class="tabla" scope="col">Categoria</th>
          <th scope="col" id="botones"></th>                    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let chofer of choferes$.source._value">
          <th class="align-middle" scope="row">{{chofer.idChofer}} </th>
          <td class="align-middle">{{chofer.apellido}}</td>
          <td class="align-middle">{{chofer.nombre}}</td>         
          <td class="align-middle">{{chofer.email}}</td>
          <td class="align-middle">{{chofer.celular}}</td>
          <td class="align-middle">{{chofer.fechaNac}}</td>
          <td class="align-middle">{{chofer.dominio}}</td>
          <td class="align-middle">{{chofer.categoria}}</td>
          <td class="align-middle">
              <app-btn-editar type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirEdicion(chofer)"></app-btn-editar>          
              <app-btn-editar type="button" data-bs-toggle="modal" data-bs-target="#jornadaModal" [name]="'Jornada'" (click)="jornada(chofer.idChofer)"></app-btn-editar> 
          </td>
        </tr>        
      </tbody>   
    
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Nombre">Nombre</label>
            <div class="input-group">
              <input formControlName="nombre" class="form-control edicion" required type="text">            
            </div>
          </div>    
          <div class="form-group">
            <label for="Apellido">Apellido</label>
            <div class="input-group">
              <input formControlName="apellido" class="form-control" required type="text">
            </div>
          </div>    
          <div class="form-group">
              <label for="Email">Email</label>
              <div class="input-group">
                <input formControlName="email" class="form-control" required type="email">
              </div>
          </div>       
          <div class="form-group">
              <label for="Celular">Celular</label>
              <div class="input-group">
                <input formControlName="celular" class="form-control" required type="text">
              </div>
          </div>   
          <div class="form-group">
            <label for="FechaNac">Fecha Nacimiento</label>
            <div class="input-group">
              <input formControlName="fechaNac" class="form-control" required type="date">
            </div>
          </div>        
          <div class="form-group">
            <label for="Dominio">dominio</label>
            <div class="input-group">
              <input formControlName="dominio" class="form-control" required type="text">
            </div>
          </div>      
          <div class="form-group">
            <label for="Categoria">Categoria Vehiculo</label>
            <select class="form-select form-select-md mb-3" (change)="changeCategoria($event)">
              <option value={{categoriaSeleccionada}}>Elegir Categoria</option>
              <option *ngFor="let categoria of categorias">
                {{categoria.categoria}}
              </option>
            </select>
          </div>   
      
          <div >        
            <button  type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          </div>  
      
        </form>
      </div>      
    </div>
  </div>
</div>

<div class="modal fade" id="jornadaModal" tabindex="-1" aria-labelledby="jornadaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="jornadaModalLabel">Editar Jornada</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Jornada</h2>
        
        <form [formGroup]="jornadaForm" (ngSubmit)="onSubmitJornada()">         
          <div class="form-group">       
            <table>
              <tbody>
                <tr class="form-group">
                  <td>Base: </td>
                  <td>
                    <input formControlName="base" class="form-control edicion" required type="number">   
                  </td>
                </tr>         
                <tr class="form-group">
                  <td>Carga: </td>
                  <td>
                    <input formControlName="carga" class="form-control" required type="number">
                  </td>
                </tr>
                <tr class="form-group">
                  <td>Publicidad: </td>
                  <td>
                    <input formControlName="publicidad" class="form-control" required type="number">
                  </td>
                </tr>
              </tbody>
              
            </table>
            
          </div>    
         
          <form [formGroup]="adicionalForm"  >
              <label for="Km">Adicional por Km: </label>
              <thead>
                <tr>
                  <th>Distancia</th>
                  <th>Valor</th>
                </tr>          
              </thead>
              <tbody>            
                <tr>
                  <td>0-100 km</td>
                  <td>
                    <input class="form-control edicion" required type="text" disabled value="0">            
                  </td>
                </tr>
                <tr>
                  <td>101-150 km</td>
                  <td>
                    <input formControlName="adicionalKm1" class="form-control edicion" required type="number">            
                  </td>
                </tr>
                <tr>
                  <td>151-200 km</td>
                  <td>
                    <input formControlName="adicionalKm2" class="form-control edicion" required type="number">            
                  </td>
                </tr>
                <tr>
                  <td>201-250 km</td>
                  <td>
                    <input formControlName="adicionalKm3" class="form-control edicion" required type="number">            
                  </td>
                </tr>
                <tr>
                  <td>251-300 km</td>
                  <td>
                    <input formControlName="adicionalKm4" class="form-control edicion" required type="number">            
                  </td>
                </tr>
                <tr>
                  <td>301-350 km</td>
                  <td>
                    <input formControlName="adicionalKm5" class="form-control edicion" required type="number">            
                  </td>
                </tr>
              </tbody>
          </form>
          <div >        
            <button  type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          </div>        
        </form>
      </div>      
    </div>
  </div>
</div>
