.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5; /* o cualquier otro estilo para indicar que está deshabilitado */
}

.adicionalKm{
    width: 7.3rem;
}

th, td, input {
    font-size: 1.4rem;
}

.op-facturada{
    color: green;
    font-weight: bold;
}

.op-sinFacturar{
    color: red;
    font-weight: bold;
}

.general{
    color: lightgreen;
    font-weight: bold;
}

.especial{
    color: lightyellow;
    font-weight: bold;
}

.eventual{
    color: lightpink;
    font-weight: bold;
}

.personalizada{
    color: lightsalmon;
    font-weight: bold;
}
