

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-2" id="exampleModalToggleLabel2">Liquidación de Servicios</h1>
                  
        <button type="button" class="btn-close btn " id="cerrar" (click)="activeModal.close()"></button>
      </div>        
      <div class="modal-body">
          <h3>{{proveedorSeleccionado.razonSocial}}</h3>       
              <table class="table table-success table-striped table-bordered w-100">
                  <thead>
                      <tr>
                          <th scope="col" class="" style="width: 10%;">Fecha</th>
                          <th scope="col" class="" style="width: 10%;">Quincena</th>
                          <th scope="col" class="" style="width: 65%;">Concepto Cliente</th>
                          <th scope="col" class="" style="width: 15%;">A cobrar</th>                              
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let facturaProveedor of facLiqProveedor; let i = index">
                          <td>{{facturaProveedor.fecha}}</td>
                          <td class="text-center" [innerHTML]="getQuincena(facturaProveedor.fecha)"></td>                        
                       
                          <td>
                              <div class="input-group">                                       
                                  <input  class="form-control edicion" type="text" [(ngModel)]="facturaProveedor.observaciones">
                              </div>                
                          </td>
                         
                          <td class="">$ {{formatearValor(facturaProveedor.valores.total)}}</td>                                        
                      </tr>
                  </tbody> 
                  <tfoot>
                      <td colspan="3" class="table-active ps-2 fw-bold fs-4 ">Total</td>
                      <td class="table-active ps-2 fw-bold ">$ {{formatearValor(totalFacLiqProveedor)}}</td>
                  </tfoot>
              </table>     
      </div>
      <div class="modal-footer">
          <h4>Generar Factura:</h4>
          <app-btn-leer name="excel" (click)="onSubmit('excel')"></app-btn-leer>
          <app-btn-leer name="pdf" (click)="onSubmit('pdf')"></app-btn-leer>
      </div>
    </div>
  </div>