.invisible{
    display:none
}

th, td, input{
    font-size:1.3rem;
}

.input-resaltado {
    border: 2px solid blue; /* Color verde claro */
  }

hr {border: 3px solid #666; border-radius: 300px/10px; height: 0px; text-align: center;}