<div class="row mt-3" [ngClass]="{'invisible': tEspecial}" >
  <div class="col-4">
      <h1 class="mt-2">Tarifa General</h1>        
  </div>
  <div class="col-4">

  </div>

  <app-consola-tarifa class="col-4 "></app-consola-tarifa>

</div>
<div>
    <form [formGroup]="tarifaForm" (ngSubmit)="guardarTarifa()">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" (change)="onSeleccionarTodosChange($event)" formControlName="seleccionarTodos"></th>
                    <th>Categoria Tarifa Gral</th>
                    <th>
                        Nombre
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle ms-2" viewBox="0 0 16 16" type="button" (click)="mostrarInfo()">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                        </svg>
                    </th>
                    <th>Ultima Tarifa {{tEspecial? ultTarifaEspecial.fecha: ultTarifaGralChofer? ultTarifaGralChofer.fecha : ""}}</th>
                    <th>Diferencia</th>
                    <th>Nueva Tarifa</th>
                </tr>
            </thead>
            <tbody formArrayName="filas">
                <tr *ngFor="let fila of filas.controls; let i = index" [formGroupName]="i">
                    <td><input type="checkbox" formControlName="seleccionado"></td>
                    <td>{{ fila.get('categoria')?.value }}</td>
                    <td><input type="text" formControlName="nombre"></td>
                    <td><input type="text" formControlName="ultimaTarifa"></td>
                    <td><input type="text" formControlName="diferencia"></td>
                    <td><input type="text" formControlName="nuevaTarifa"></td>
                </tr>
            </tbody>
        </table>
    
      <!-- <div class="form-group">
        <label>Generar Nueva Tarifa:</label><br>
        <button type="button" (click)="onGenerarNuevaTarifaManual()">Manual</button>
        <button type="button" (click)="onGenerarNuevaTarifaAutomatica()">Automática</button>
        <input type="number" [formControl]="porcentajeAumento" placeholder="Ingrese porcentaje de aumento"
              (keydown.enter)="calcularNuevaTarifaPorcentaje()">
        <button type="button" class="btn btn-primary" (click)="calcularNuevaTarifaPorcentaje()">Aplicar Porcentaje</button>
      </div> -->
    
        <button type="button" class="btn btn-primary" (click)="guardarTarifa()">Guardar Tarifa</button>
    </form>
</div>

