th, td{
    font-size:1.4rem;
}

.verde{
    background-color: green;
    color: white !important;
}

.amarillo{
    background-color: yellow;
    color: black !important;    
}

.rojo{
    background-color: red;
    color: white !important;
}

.gris{
    background-color: grey;
    color: white !important;
}

.celeste{
    background-color: lightblue;
    color: white !important;
}