.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}
  
.isDisabled:hover {
    cursor: not-allowed;
}

.contactoForm{
    width: 8rem;
}

.isDisabledAjustes{
    visibility: hidden;
}

input, td, th{
    font-size: 1.3rem;
  }