.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}
  
.isDisabled:hover {
    cursor: not-allowed;
}

.contactoForm{
    width: 8rem;
}

.isDisabledAjustes{
    visibility: hidden;
}

td, input{
    font-size: 1.15rem;
}