

    <h2 class="mt-3">Choferes</h2>   
    <input class="form-control mt-2" type="text" [(ngModel)]="searchText" placeholder="Buscar por chofer, cliente o número de operación">

<ngx-datatable
  class="dark"
  [rows]="datosTablaChofer | filter: searchText"
  [columns]="[
    { prop: 'chofer', name: 'Chofer' },
    { prop: 'cant', name: 'Cant Op' },
    { prop: 'sumaAPagar', name: 'Suma a Pagar' },
    { prop: 'sumaACobrar', name: 'Suma a Cobrar' },
    { name: 'Ganancia', cellTemplate: gananciaTpl },
    { name: '% Ganancia', cellTemplate: porcentajeGananciaTpl },
    { prop: 'faltaPagar', name: 'Falta Pagar' },
    { name: 'Acciones', cellTemplate: accionesTpl }
  ]"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'">
</ngx-datatable>

<ng-template #gananciaTpl let-row="row">
  {{ row.sumaACobrar - row.sumaAPagar }}
</ng-template>

<ng-template #porcentajeGananciaTpl let-row="row">
  {{ ((row.sumaACobrar - row.sumaAPagar) * 100 / row.sumaACobrar).toFixed(2) }}%
</ng-template>

<ng-template #accionesTpl let-row="row" let-rowIndex="rowIndex">  
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" (click)="mostrarMasDatos(rowIndex, row)">   
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>   
    </svg>
</ng-template>

