*{
    font-size: 1.25rem;
}
.col-moneda {
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.totales span,
.totales b {
  font-size: 1.5rem;
}

.positivo {
  color: green;
}

.negativo {
  color: red;
}
