<h1>Operaciones Programadas</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">N° Operación</th>
          <th scope="col">Cliente</th>
          <th scope="col">Direccion</th>          
          <th scope="col" id="bt"></th>                    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let op of opActivas$.source._value">
          <th class="align-middle" scope="row">{{op.fecha}} </th>
          <td class="align-middle">{{op.idOperacion}}</td>
          <td class="align-middle">{{op.cliente.razonSocial}}</td>
          <td class="align-middle">{{op.cliente.direccion}}</td>          
          <td class="align-middle"><app-btn-editar type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" [name]="'Cerrar Operación'" (click)="abrirOp(op)" ></app-btn-editar> </td>                    
        </tr>    
      </tbody>
</table>

 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar Operacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="opCerrada !== undefined">
        <form [formGroup]="opForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="Patente">Fecha</label>
            <div class="input-group">
              <input class="form-control" required type="date" disabled [value]="opCerrada.fecha">            
            </div>
          </div>    
          <div class="form-group">
            <label for="Cliente">Cliente</label>
            <div class="input-group">
              <input class="form-control" required type="text" disabled [value]="opCerrada.cliente.razonSocial">
            </div>
          </div>
          <div class="form-group">
            <label for="Cliente">Dirección</label>
            <div class="input-group">
              <input class="form-control" required type="text" disabled [value]="opCerrada.cliente.direccion">
            </div>
          </div>
          <div class="form-group">
              <label for="Km">Km recorridos</label>
              <div class="input-group">
                <input formControlName="km" class="form-control" required type="number">
              </div>
          </div>    
          <div class="form-group">
              <label for="Peaje">Peaje importe total</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input formControlName="peaje" class="form-control" required type="number"> 
              </div>              
              <div class="mb-3">
                <label for="formFile" class="form-label">Cargar remito de operacion</label>
                <input class="form-control" formControlName="remito" type="file" id="formFile">
              </div>
              
          </div>    
      
          <button class="btn btn-secondary" type="submit" data-bs-dismiss="modal" aria-label="Close">
            Guardar 
          </button>
      
        </form>
      </div>      
    </div>
  </div>
</div> 




