<div [ngClass]="{'isDisabled': isLoading}">
  <h2>Proformas Activas</h2>
  <div class="mt-4">
    <h4>Clientes</h4>
    <input type="text" placeholder="Buscar cliente..." [(ngModel)]="filtroCliente" class="form-control mb-2" />
    <table class="table table-light table-striped table-bordered">
      <thead class="sticky-top">
        <th style="width: 21%">Cliente</th>
        <th>Proforma N°</th>
        <th>Cant Op</th>
        <th>Suma a Cobrar</th>
        <th>Suma a Pagar</th>
        <th>Ganancia Neta</th>
        <th>% Ganancia</th>
        <th style="width: 13%" class="text-center">Acciones</th>
      </thead>
      <tbody>
        @if (proformasClientes.length > 0) {
          @for (cliente of proformasClientes | globalFilter:filtroCliente:['razonSocial','opCerradas', 'opAbiertas', 'opSinFacturar', 'opFacturadas','total','aPagar','ganancia']; track cliente; let i = $index) {
            <tr>
              <td>{{cliente.entidad.razonSocial}}</td>
              <td class="text-center">{{cliente.idInfLiq}}</td>
              <td class="text-center">{{cliente.operaciones.length}}</td>
              <td class="table-success">{{cliente.valores.total | formatearValor :"$"}}</td>
              <td>{{cliente.valores.totalContraParte | formatearValor :"$"}}</td>
              <td>{{(cliente.valores.total - cliente.valores.totalContraParte) | formatearValor :"$"}}</td>
              <!-- <td class="text-center table-warning">{{(100-((cliente.montoFacturaChofer*100)/cliente.valores.total)) | formatearValor}} %</td> -->
              <td class="text-center table-warning">{{ cliente.valores.totalContraParte | calcularPorcentaje:cliente.valores.total:true }}</td>
              <td class="d-flex">
                <app-btn-leer name="Detalle" class="me-2" (click)="obtenerFacturasOp(cliente,'cliente', 'vista', '')"></app-btn-leer>
                <div class="dropdown m-0 p-0">
                  <app-btn-leer name='print' class="me-2"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  ></app-btn-leer>
                  <ul class="dropdown-menu">
                    <app-btn-leer name="excel" class="me-2" (click)="obtenerFacturasOp(cliente,'cliente', 'reimpresion', 'excel')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="obtenerFacturasOp(cliente,'cliente', 'reimpresion', 'pdf')"></app-btn-leer>
                  </ul>
                </div>
                <app-btn-eliminar name="Eliminar" class="me-2" (click)="procesarProforma(cliente,'cliente', 'baja', '')"></app-btn-eliminar>
                <div class="dropdown m-0 p-0">
                  <app-btn-agregar name='Factura' class="me-2"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  ></app-btn-agregar>
                  <ul class="dropdown-menu">
                    <app-btn-leer name="excel" class="me-2" (click)="procesarProforma(cliente,'cliente', 'facturar', 'excel')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="procesarProforma(cliente,'cliente', 'facturar', 'pdf')"></app-btn-leer>
                  </ul>
                </div>
                <!-- <app-btn-agregar name="Factura" (click)="procesarProforma(cliente,'cliente', 'facturar')"></app-btn-agregar> -->
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="8">No hay proformas cargadas</td>
          </tr>
        }
      </tbody>
    </table>
  </div>


  <hr class="mt-5">
  <div class="mt-5">
    <h4>Choferes</h4>
    <input type="text" placeholder="Buscar chofer..." [(ngModel)]="filtroChofer" class="form-control mb-2" />
    <table class="table table-light table-striped table-bordered">
      <thead class="sticky-top">
        <th style="width: 21%">Chofer</th>
        <th>Proforma N°</th>
        <th>Cant Op</th>
        <th>Suma a Cobrar</th>
        <th>Suma a Pagar</th>
        <th>Ganancia Neta</th>
        <th>% Ganancia</th>
        <th style="width: 13%" class="text-center">Acciones</th>
      </thead>
      <tbody>
        @if (proformasChoferes.length > 0) {
          @for (chofer of proformasChoferes | globalFilter:filtroChofer:['apellido','opCerradas', 'opAbiertas', 'opSinFacturar', 'opFacturadas','total','aCobrar']; track chofer; let i = $index) {
            <tr>
              <td>{{chofer.entidad.razonSocial}}</td>
              <td class="text-center">{{chofer.idInfLiq}}</td>
              <td class="text-center">{{chofer.operaciones.length}}</td>
              <td>{{chofer.valores.totalContraParte | formatearValor :"$"}}</td>
              <td class="table-danger">{{chofer.valores.total | formatearValor :"$"}}</td>
              <td>{{(chofer.valores.totalContraParte - chofer.valores.total) | formatearValor :"$"}}</td>
              <!-- <td class="text-center table-warning">{{(100-((chofer.valores.total*100)/chofer.montoFacturaCliente)) | formatearValor}} %</td> -->
              <td class="text-center table-warning">{{ chofer.valores.total | calcularPorcentaje:chofer.valores.totalContraParte:true }}</td>
              <td class="d-flex">
                <app-btn-leer name="Detalle" class="me-2" (click)="obtenerFacturasOp(chofer,'chofer', 'vista', '')"></app-btn-leer>
                <div class="dropdown m-0 p-0">
                  <app-btn-leer name='print' class="me-2"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  ></app-btn-leer>
                  <ul class="dropdown-menu">
                    <app-btn-leer name="excel" class="me-2" (click)="obtenerFacturasOp(chofer,'chofer', 'reimpresion', 'excel')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="obtenerFacturasOp(chofer,'choferes', 'reimpresion', 'pdf')"></app-btn-leer>
                  </ul>
                </div>
                <app-btn-eliminar name="Eliminar" class="me-2" (click)="procesarProforma(chofer,'chofer', 'baja', '')"></app-btn-eliminar>
                <div class="dropdown m-0 p-0">
                  <app-btn-agregar name='Factura' class="me-2"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  ></app-btn-agregar>
                  <ul class="dropdown-menu">
                    <app-btn-leer name="excel" class="me-2" (click)="procesarProforma(chofer,'chofer', 'facturar', 'excel')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="procesarProforma(chofer,'chofer', 'facturar', 'pdf')"></app-btn-leer>
                  </ul>
                </div>
                <!-- <app-btn-agregar name="Factura" (click)="procesarProforma(chofer,'chofer', 'facturar')"></app-btn-agregar> -->
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="8">No hay proformas cargadas</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <hr class="mt-5">
  <div class="mt-5">
    <h4>Proveedores</h4>
    <input type="text" placeholder="Buscar proveedor..." [(ngModel)]="filtroProveedor" class="form-control mb-2" />
    <table class="table table-light table-striped table-bordered">
      <thead class="sticky-top">
        <th style="width: 21%">Proveedor</th>
        <th>Proforma N°</th>
        <th>Cant Op</th>
        <th>Suma a Cobrar</th>
        <th>Suma a Pagar</th>
        <th>Ganancia Neta</th>
        <th>% Ganancia</th>
        <th style="width: 13%" class="text-center">Acciones</th>
      </thead>
      <tbody>
        @if (proformasProveedores.length > 0) {
          @for (prov of proformasProveedores | globalFilter:filtroProveedor:['razonSocial','opCerradas', 'opAbiertas', 'opSinFacturar', 'opFacturadas','total','aCobrar']; track prov; let i = $index) {
            <tr>
              <td>{{prov.entidad.razonSocial}}</td>
              <td class="text-center">{{prov.idInfLiq}}</td>
              <td class="text-center">{{prov.operaciones.length}}</td>
              <td>{{prov.valores.totalContraParte | formatearValor :"$"}}</td>
              <td class="table-danger">{{prov.valores.total | formatearValor :"$"}}</td>
              <td>{{(prov.valores.totalContraParte - prov.valores.total) | formatearValor :"$"}}</td>
              <!-- <td class="text-center table-warning">{{(100-((prov.valores.total*100)/prov.montoFacturaCliente)) | formatearValor}} %</td> -->
              <td class="text-center table-warning">{{ prov.valores.total | calcularPorcentaje:prov.valores.totalContraParte:true }}</td>
              <td class="d-flex">
                <app-btn-leer name="Detalle" class="me-2" (click)="obtenerFacturasOp(prov,'proveedor', 'vista', '')"></app-btn-leer>
                <div class="dropdown">
                  <app-btn-leer name='print' class="me-2"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  ></app-btn-leer>
                  <ul class="dropdown-menu">
                    <app-btn-leer name="excel" class="me-2" (click)="obtenerFacturasOp(prov,'proveedor', 'reimpresion', 'excel')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="obtenerFacturasOp(prov,'proveedor', 'reimpresion', 'pdf')"></app-btn-leer>
                  </ul>
                </div>
                <app-btn-eliminar name="Eliminar" class="me-2" (click)="procesarProforma(prov,'proveedor', 'baja', '')"></app-btn-eliminar>
                <div class="dropdown m-0 p-0">
                  <app-btn-agregar name='Factura' class="me-2"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                  ></app-btn-agregar>
                  <ul class="dropdown-menu">
                    <app-btn-leer name="excel" class="me-2" (click)="procesarProforma(prov,'proveedor', 'facturar', 'excel')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="procesarProforma(prov,'proveedor', 'facturar', 'pdf')"></app-btn-leer>
                  </ul>
                </div>
                <!-- <app-btn-agregar name="Factura" (click)="procesarProforma(prov,'proveedor', 'facturar')"></app-btn-agregar> -->
              </td>
            </tr>
          }
        } @else {
          <tr>
            <td colspan="8">No hay proformas cargadas</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

@if (isLoading) {
  <app-spinner></app-spinner>
}
