
<div class="d-flex justify-content-between mt-3">
  <h1>Clientes</h1>
  <app-btn-leer class="btn btn-secondary mt-2" name="cliente" (click)="openModal()"></app-btn-leer>
</div>

<input class="form-control mt-3" type="text" [(ngModel)]="searchText" placeholder="Buscar por Razón Social, direccion o número de cliente">
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <!-- <th scope="col">N° Cliente</th> -->
            <th scope="col">Razon Social</th>
            <th scope="col">Direccion</th>
            <th scope="col">CUIT</th>
            <th scope="col">Contacto</th>
            <th scope="col">Puesto</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col" [ngStyle]="{'width': '12%'}">Acciones</th>              
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let cliente of $clientes | filter: searchText">
            <!-- <th class="align-middle" scope="row">{{cliente.idCliente}} </th> -->
            <td class="align-middle">{{cliente.razonSocial}}</td>
            <td class="align-middle">{{cliente.direccion}}</td>
            <td class="align-middle">{{cliente.cuit}}</td>
            <!-- <td colspan="4" class="align-middle">             
                <tr *ngFor=" let contacto of cliente.contactos; let i = index">
                    <div *ngIf="i === 0">
                        <td class="fila-contacto align-middle"> {{contacto.puesto}} </td>  
                        <td class="fila-contacto align-middle"> {{contacto.apellido}} </td>                       
                        <td class="fila-contacto align-middle"> {{contacto.telefono}} </td>
                        <td class="fila-contacto align-middle"> {{contacto.email}} </td> 
                    </div>                         
                </tr>     
            </td>             -->
            <td class="fila-contacto align-middle"> {{cliente.contactos.length > 0 ?  cliente.contactos[0].puesto : "Sin datos"}} </td>  
            <td class="fila-contacto align-middle"> {{cliente.contactos.length > 0 ?  cliente.contactos[0].apellido : "Sin datos"}} </td>                       
            <td class="fila-contacto align-middle"> {{cliente.contactos.length > 0 ?  cliente.contactos[0].telefono : "Sin datos"}} </td>
            <td class="fila-contacto align-middle"> {{cliente.contactos.length > 0 ?  cliente.contactos[0].email : "Sin datos"}} </td> 
            <td>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" type="button" width="16" height="16" fill="currentColor" class="bi bi-eye mx-3" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirVista(cliente)">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
              </svg> -->
              <app-btn-leer name="Detalle" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirVista(cliente)"></app-btn-leer>
              <!-- <svg xmlns="http://www.w3.org/2000/svg" type="button" width="16" height="16" fill="currentColor" class="bi bi-pencil mx-3" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirEdicion(cliente)">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
              </svg> -->
              <app-btn-editar class="mx-1" name="Editar" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="abrirEdicion(cliente)"></app-btn-editar>
             <!--  <svg xmlns="http://www.w3.org/2000/svg" type="button" width="16" height="16" fill="currentColor" class="bi bi-trash mx-3" viewBox="0 0 16 16" (click)="eliminarCliente(cliente)">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg> -->
              <app-btn-eliminar name="Eliminar" (click)="eliminarCliente(cliente)"></app-btn-eliminar>
            </td>
        </tr>    
    </tbody>
</table>

<!-- MODAL DETALLE Y EDICION -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header row" >
          <div class="d-flex">
              <h2 class="modal-title" id="exampleModalLabel">{{!soloVista ? "Editar Cliente" : "Cliente"}}</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="borrarForms()"></button>        
          </div>
          <div *ngIf="clienteEditar !== undefined">
              <h5>Id: {{clienteEditar.idCliente}} </h5>                
          </div>
      </div>      
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <h3>Datos del Cliente:</h3>
          <!-- <button *ngIf="!edicion && !soloVista"  class="btn btn-outline-secondary" (click)="editarPerfil()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
          </button>  -->
          <!-- <app-btn-editar name="EditarClaro" *ngIf="!edicion && !soloVista" (click)="editarPerfil()"></app-btn-editar>   -->
       <!--    <button *ngIf="edicion" class="btn btn-outline-secondary" (click)="editarPerfil()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
          </button>  -->
          <!-- <app-btn-eliminar name="x" *ngIf="edicion" (click)="editarPerfil()" ></app-btn-eliminar>  -->
        </div>    
          
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
         
            <div class="form-group">
                <label for="RazonSocial">Razon Social</label>
                <div class="input-group">
                  <input formControlName="razonSocial" class="form-control" required type="text" [ngClass]="{'isDisabled': soloVista}">            
                </div>
            </div>    
            <div class="form-group">
                <label for="Direccion">Direccion</label>
                <div class="input-group">
                  <input formControlName="direccion" class="form-control" required type="text" [ngClass]="{'isDisabled': soloVista}">
                </div>
            </div>    
            <div class="form-group">
                <label for="Cuit">CUIT</label>
                <div class="input-group">
                  <input formControlName="cuit" class="form-control" required type="text" [ngClass]="{'isDisabled': soloVista}">
                </div>
            </div>             
        </form>    
        <div class="d-flex justify-content-between">
          <h3 class="mt-3">Contactos: </h3>       
         <!--  <button *ngIf="!soloVista" class="btn btn-outline-secondary mt-2" type="submit" (click)="agregarContacto()" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">
            Agregar contacto
          </button> -->
          <app-btn-agregar name="AgregarContactoClaro" *ngIf="!soloVista" class="mt-2" type="submit" (click)="agregarContacto()" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"></app-btn-agregar>
        </div>
        
            <table class="table table-striped">
                <thead>
                    <tr>                                            
                        <th>Puesto</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th colspan="2" id="botones"></th>                                                 
                    </tr>
                </thead>
                <tbody *ngIf="clienteEditar !== undefined">
                    <tr *ngFor=" let contacto of clienteEditar.contactos; let i = index">  
                        <td class="fila-contacto align-middle"> {{contacto.puesto}} </td>  
                        <td class="fila-contacto align-middle"> {{contacto.apellido}} </td>
                        <td class="fila-contacto align-middle"> {{contacto.nombre}} </td>
                        <td class="fila-contacto align-middle"> {{contacto.telefono}} </td>
                        <td class="fila-contacto align-middle"> {{contacto.email}} </td>     
                        <td>
                            <!-- <button  *ngIf="!soloVista" class="btn btn-outline-secondary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" (click)="armarContacto(contacto, i)" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                            </button> -->   
                            <app-btn-editar name="EditarClaro" *ngIf="!soloVista" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" (click)="armarContacto(contacto, i)"></app-btn-editar>                         
                        </td>        
                        <td>
                          <!-- <button  *ngIf="!soloVista" class="btn btn-outline-secondary" (click)="eliminarContacto(i)" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                              </svg>
                          </button>   -->  
                          <app-btn-eliminar name="EliminarClaro" *ngIf="!soloVista" (click)="eliminarContacto(i)"></app-btn-eliminar>                        
                      </td>                                             
                    </tr>     
                </tbody>
            </table>    
            <div>
           <!--      <button  *ngIf="!soloVista" class="btn btn-secondary mt-2" (click)="onSubmit()" data-bs-dismiss="modal" >
                  Guardar los cambios
                </button> -->
                <app-btn-agregar name="GuardarCambiosClaro" *ngIf="!soloVista" class="mt-2" (click)="onSubmit()" data-bs-dismiss="modal"></app-btn-agregar>
            </div>      
      </div>     
    </div>
  </div>
</div>
<!-- MODAL CONTACTOS -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Contacto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="borrarForms()"></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="formContacto" (ngSubmit)="guardarContacto()">
              <div class="input-group">
                  <span class="input-group-text contactoForm" id="basic-addon3">Puesto: </span>
                  <input type="text" formControlName="puesto" class="form-control " required
                  type="text" [placeholder]="'ej:  director de logistica'" 
                          [ngClass]="{ 'is-invalid': formContacto.get('puesto').invalid && 
                          (formContacto.get('puesto').dirty || formContacto.get('puesto').touched) }">
              </div>   
              <div class="input-group">
                  <span class="input-group-text contactoForm" id="basic-addon3">Apellido: </span>
                  <input type="text" formControlName="apellido" class="form-control " required
                  type="text" [placeholder]="'ej:  Pautasso'" 
                          [ngClass]="{ 'is-invalid': formContacto.get('apellido').invalid && 
                          (formContacto.get('apellido').dirty || formContacto.get('apellido').touched) }">
              </div>    
              <div class="input-group">
                  <span class="input-group-text contactoForm" id="basic-addon3">Nombre: </span>
                  <input type="text" formControlName="nombre" class="form-control " required
                  type="text" [placeholder]="'ej:  Rocio'" 
                          [ngClass]="{ 'is-invalid': formContacto.get('nombre').invalid && 
                          (formContacto.get('nombre').dirty || formContacto.get('nombre').touched) }">
              </div>       
              <div class="input-group">
                  <span class="input-group-text contactoForm" id="basic-addon3">Telefono: </span>
                  <input type="text" formControlName="telefono" class="form-control " required
                  type="text" [placeholder]="'ej:  Rocio'" 
                          [ngClass]="{ 'is-invalid': formContacto.get('telefono').invalid && 
                          (formContacto.get('telefono').dirty || formContacto.get('telefono').touched) }">
              </div>  
              <div class="input-group">
                  <span class="input-group-text contactoForm" id="basic-addon3">Email: </span>
                  <input type="text" formControlName="email" class="form-control " required
                  type="text" [placeholder]="'ej:  davidcortes@gmail.com'" 
                          [ngClass]="{ 'is-invalid': formContacto.get('email').invalid && 
                          (formContacto.get('email').dirty || formContacto.get('email').touched) }">
              </div>  
          </form>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="guardarContacto()">Guardar</button> -->
        <app-btn-agregar name="GuardarClaro" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="guardarContacto()"></app-btn-agregar>
      </div>
    </div>
  </div>
</div>


