

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-2" id="exampleModalToggleLabel2">Liquidación de Servicios</h1>

      <button type="button" class="btn-close btn " id="cerrar" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex justify-content-between">
        <div class="w-75">
          <h3>{{titulo}}</h3>
          <div class="d-flex w-100">
            <h4 class="me-5">Mes: {{mes}}</h4>
            <div class="d-flex w-50">
                <h4 class="me-4">Periodo:</h4>
                <div class="d-flex">
                    <div class="btn-group" role="group">
                        <input type="radio" class="btn-check" name="opciones" id="opcionTrue" 
                              [(ngModel)]="periodoBoolean" [value]="true">
                        <label class="btn btn-outline-primary btn-sm" for="opcionTrue">Mes</label>

                        <input type="radio" class="btn-check" name="opciones" id="opcionFalse" 
                              [(ngModel)]="periodoBoolean" [value]="false">
                        <label class="btn btn-outline-primary btn-sm" for="opcionFalse">Quincena</label>
                    </div>
                    <!-- <p>Estado actual: {{ periodoBoolean }}</p> -->
                </div>                
            </div>
          </div>
        </div>
        <div class="d-flex">
          <h4 class="me-3">Ajustes</h4>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16" type="button" (click)="abrirModalDescuentos()" style="color: rgb(0, 110, 255);">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="sticky-top">
            <tr>
              @for (col of columnasVisibles; track col) {
                <th class="text-center">
                  <div class="d-flex">
                    <span class="w-100 text-center">{{ col.nombre }}</span>
                    <input
                      type="checkbox"
                      [(ngModel)]="col.seleccionada"
                      class="flex-shrink-1"
                      (change)="actualizarColumnasSeleccionadas()"
                      />
                    </div>
                  </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (operacion of facLiquidadas; track operacion) {
                <tr>
                  @for (col of columnasVisibles; track col) {
                    <td class="text-center">
                      @if (col.nombre === 'Quincena') {
                        <span [innerHTML]="obtenerDatoColumna(operacion, col)"></span>
                      } @else {
                        {{ obtenerDatoColumna(operacion, col) }}
                      }
                    </td>
                  }
                </tr>
              }
              <tr>
                @if (fromParent.origen !== 'proveedores') {
                  <th colspan="11"><span class="ms-3">Subtotal</span></th>
                }
                @if (fromParent.origen === 'proveedores') {
                  <th colspan="12"><span class="ms-3">Subtotal</span></th>
                }
                <th class="text-center">{{formatearValor(subtotal)}}</th>
              </tr>
              @if (tieneDescuentos) {
                <ng-container class="table-group-divider table-bordered table-striped">
                  @if (fromParent.origen !== 'proveedores') {
                    <tr><th colspan="12">Descuentos:</th></tr>
                    @for (desc of descuentosAplicados; track desc) {
                      <tr>
                        <td colspan="11">{{desc.concepto}}</td>
                        <td class="text-center" [ngClass]="desc.valor >= 0 ? 'positivo' : 'negativo'">{{desc.valor | formatearValor :"$"}}</td>
                      </tr>
                    }
                  } @else {
                    <tr><th colspan="13">Descuentos:</th></tr>
                    @for (desc of descuentosAplicados; track desc) {
                      <tr>
                        <td colspan="12">{{desc.concepto}}</td>
                        <td class="text-center" [ngClass]="desc.valor >= 0 ? 'positivo' : 'negativo'">{{desc.valor  | formatearValor :"$"}}</td>
                      </tr>
                    }
                  }
                </ng-container>
              }
            </tbody>

            <tfoot class="table-group-divider">
              <tr>
                @if (fromParent.origen !== 'proveedores') {
                  <th colspan="11"><span class="ms-3">Total</span></th>
                }
                @if (fromParent.origen === 'proveedores') {
                  <th colspan="12"><span class="ms-3">Total</span></th>
                }
                <th class="text-center">{{tieneDescuentos ? formatearValor(total + totalDescuento) : formatearValor(total)}}</th>
              </tr>
            </tfoot>            
          </table>
        </div>
      </div>      
      <div class="modal-footer d-flex justify-content-between">
          <div class="align-self-end w-50">
              <label for="obs" class="form-label m-0">Observaciones internas</label>
              <textarea class="form-control" id="obs" rows="1" [(ngModel)]="obsInterna"></textarea>
          </div>
          <div class="d-flex align-self-end">
              <div class="d-flex me-3">
                  <h4 class="mb-0 me-2 align-self-center">Proforma</h4>
                  <app-btn-leer name="excel" class="me-2" (click)="onSubmit('excel', 'proforma')"></app-btn-leer>
                  <app-btn-leer name="pdf" (click)="onSubmit('pdf', 'proforma')"></app-btn-leer>
              </div>
              <div class="d-flex">
                <h4 class="mb-0 me-2 align-self-center">Informe de Liquidación:</h4>
                <div>
                    <app-btn-leer name="excel" class="me-2" (click)="onSubmit('excel', 'factura')"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="onSubmit('pdf', 'factura')"></app-btn-leer>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>


