input, td, th, textarea {
  font-size: 1.3rem;
}

label {
  font-size: 1.1rem;
}

button{
  border-color: #0d6efd;    
}

#cerrar{   
  background-color: transparent;
  border-color: black;
}

#cerrar:hover{
  background-color: #0d6efd;
  color: white;
}