<!-- =========================
     MODAL HEADER
========================= -->

<div class="modal-header flex-column align-items-stretch">
    <div class="d-flex w-100 align-items-center">
        <h3 class="modal-title flex-grow-1">Carga de operaciones</h3>

        <button
            type="button"
            class="btn-close me-2"
            (click)="activeModal.dismiss()"
        ></button>
    </div>

    <!-- Tabs -->
    <div class="tab-container mt-2">
        @for (tab of tabs; track tab.id) {
            <div
                class="tab"
                [class.active]="vistaActiva === tab.id"
                [class.disabled]="
                    tab.id === 'tabla' && operaciones.length === 0
                "
                (click)="selectTab(tab.id)"
            >
                <span class="fs-4">{{ tab.name }}</span>

                @if (tab.id === "tabla" && operaciones.length > 0) {
                    <span class="badge bg-primary ms-2">
                        {{ operaciones.length }}
                    </span>
                }
            </div>
        }
    </div>
</div>

<!-- =========================
     MODAL BODY
========================= -->
<div class="modal-body">
    <!-- ========================
       VISTA SELECCION
  ========================= -->

    @if (vistaActiva === "seleccion") {
        <!-- filtros -->
        <div class="row bg-light border rounded border-1 rounded-2 pb-2 mb-3">
            <!-- clientes/choferes activos -->
            <div class="col-4 d-flex">
                <!-- Dropdowns Izquierda -->
                <div class="d-flex justify-content-start align-self-end">
                    <!-- Choferes Activos -->
                    <button
                        class="btn btn-primary boton-choferes me-1"
                        type="button"
                        (click)="openModalActivos('choferes')"
                    >
                        Choferes Activos
                    </button>
                    <!-- Clientes Activos -->

                    <button
                        class="btn btn-primary celeste-fijo me-1"
                        type="button"
                        (click)="openModalActivos('clientes')"
                    >
                        Clientes Activos
                    </button>
                    <button
                        class="btn btn-secondary gris-fijo me-1"
                        type="button"
                        (click)="openModalNoOperativos()"
                    >
                        Choferes No Operativos
                    </button>
                </div>
            </div>
            <!-- fecha -->
            <div class="col-3">
                <label class="form-label">Fecha</label>
                <input
                    type="date"
                    class="form-control"
                    [(ngModel)]="fechaSeleccionada"
                    (change)="calcularChoferesNoOperativosPorFecha()"
                />
            </div>
            <!-- selección de cliente -->
            <div class="col-3">
                <label class="form-label">Cliente</label>
                <select class="form-select" [(ngModel)]="clienteSeleccionado">
                    <option [ngValue]="null">Seleccionar cliente...</option>

                    @for (c of clientesActivos; track c.idCliente) {
                        <option [ngValue]="c">
                            {{ c.razonSocial }}
                        </option>
                    }
                </select>
            </div>
            <!-- guardar -->
            <div class="col-2 d-flex justify-content-end">
                <button
                    class="btn btn-primary align-self-end fs-5"
                    (click)="crearOperaciones()"
                >
                    Crear operaciones
                </button>
            </div>
        </div>

        <!-- choferes -->
        <div class="card">
            <div class="card-header fs-4">Choferes</div>

            <div class="card-body">
                <div class="row">
                    @for (ch of choferesDisponibles; track ch.idChofer) {
                        <div class="col-md-4 mb-2">
                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    [checked]="
                                        choferesSeleccionadosIds.has(
                                            ch.idChofer
                                        )
                                    "
                                    (change)="
                                        toggleChofer(
                                            ch.idChofer,
                                            $any($event.target).checked
                                        )
                                    "
                                />

                                <div class="">
                                    <span class="me-2 fs-4"
                                        >{{ ch.apellido }},
                                        {{ ch.nombre }} :</span
                                    >
                                </div>
                                <div>
                                    <label class="form-check-label">
                                        @for (v of ch.vehiculo; track v) {
                                            <span
                                                class="badge me-2 f-4"
                                                [ngClass]="
                                                    getClaseCategoria(
                                                        v.categoria.catOrden
                                                    )
                                                "
                                            >
                                                {{ v.categoria.nombre }}</span
                                            >
                                        }
                                    </label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- choferes no operativos-->
        @if (choferesNoOperativos.length > 0) {
            <div class="card">
                <div class="card-header fs-4">Choferes No Operativos</div>

                <div class="card-body">
                    <div class="row">
                        @for (ch of choferesNoOperativos; track ch.idChofer) {
                            <div class="col-md-4 mb-2">
                                <div class="form-check">
                                    <input
                                        class="form-check-input"
                                        type="checkbox"
                                        disabled
                                        [checked]="
                                            choferesSeleccionadosIds.has(
                                                ch.idChofer
                                            )
                                        "
                                        (change)="
                                            toggleChofer(
                                                ch.idChofer,
                                                $any($event.target).checked
                                            )
                                        "
                                    />

                                    <div class="">
                                        <span class="me-2 fs-4 noOperativo"
                                            >{{ ch.apellido }},
                                            {{ ch.nombre }} :</span
                                        >
                                    </div>
                                    <div>
                                        <label class="form-check-label">
                                            @for (v of ch.vehiculo; track v) {
                                                <span
                                                    class="badge me-2 f-4"
                                                    [ngClass]="
                                                        getClaseCategoria(
                                                            v.categoria.catOrden
                                                        )
                                                    "
                                                >
                                                    {{
                                                        v.categoria.nombre
                                                    }}</span
                                                >
                                            }
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }

    <!-- ========================
       VISTA TABLA
  ========================= -->

    @if (vistaActiva === "tabla") {
        @if (operacionesAgrupadas.length === 0) {
            <div class="alert alert-warning">
                Primero debe crear las operaciones desde la pestaña
                <strong>Selección</strong>.
            </div>
        } @else {
            <app-operaciones-table
                [grupos]="operacionesAgrupadas"
                (eliminar)="eliminarOperacion($event)"
            >
            </app-operaciones-table>
        }
    }
</div>

<!-- =========================
     MODAL FOOTER
========================= -->

<div class="modal-footer">
    <button class="btn btn-secondary" (click)="activeModal.dismiss()">
        Cancelar
    </button>

    <button
        class="btn btn-success"
        (click)="guardar()"
        [disabled]="isLoading || operaciones.length === 0"
    >
        @if (isLoading) {
            Guardando...
        } @else {
            Guardar operaciones
        }
    </button>
</div>

@if (isLoading) {
    <app-spinner></app-spinner>
}
