th, td, select, option {
    font-size: 1.4rem;
}

.positivo {
  color: red; // deuda
  font-weight: 500;
}

.negativo {
  color: green; // pago
  font-weight: 500;
}

.panel-resultados {
  margin-top: 10px;
  background: white;
}

.panel-box {  
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 16px;
}