<div class="modal-content">
    <div class="modal-header">
        <h1>Operación</h1>
        <button type="button" class="btn-close btn " id="cerrar" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
        <div class="row border border-dark border-1 rounded-4 shadow p-3 mb-3 bg-body-tertiary rounded mx-1 px-0 isDisabled">
            <div class="col-4">                
                <div class="form-group">
                    <label for="Fecha" class="fs-5">Fecha</label>
                    <div class="input-group">
                        <input class="form-control edicion" type="date" [value]="op.fecha">
                    </div>
                </div>     
                <div *ngIf="op.estado.cerrada || op.estado.facturada" class="form-group isDisabled">       
                    <label for="Patente" class="fs-5">Patente: </label>                                   
                    <div class="input-group" [ngClass]="{'isDisabled': vista}">
                        <input class="form-control edicion" [value]="op.patenteChofer">
                    </div>                                                          
                </div>                               
            </div>
            <div class="col-4 ">                
                <div class="form-group">
                    <label for="Cliente" class="fs-5">Cliente</label>
                    <div class="input-group">
                        <input class="form-control edicion" type="text" [value]="op.cliente.razonSocial">
                    </div>
                </div>          
                <div class="form-group">
                    <label for="Cliente" class="fs-5">Tarifa Cliente</label>
                    <div class="input-group ">
                        <input class="form-control edicion" type="text" [ngModel]="op.cliente.tarifaTipo.especial? 'Especial' : op.cliente.tarifaTipo.eventual? 'Eventual' : op.cliente.tarifaTipo.personalizada? 'Personalizada' : 'General' ">
                    </div>
                </div>                               
            </div>
            <div class="col-4">
                <div class="form-group">                                    
                    <label for="Chofer" class="fs-5">Chofer</label>
                    <div class="input-group">
                        <input class="form-control edicion" type="text" [value]="op.chofer.apellido + ' ' + op.chofer.nombre">
                    </div>                    
                </div> 
                <div class="form-group isDisabled">
                    <label for="Cliente" class="fs-5">Tarifa Chofer</label>
                    <div class="input-group ">
                        <input class="form-control edicion" type="text" [ngModel]="op.chofer.tarifaTipo.especial ? 'Especial' : op.chofer.tarifaTipo.eventual ? 'Eventual' : op.chofer.tarifaTipo.personalizada? 'Personalizada' :  'General'">
                    </div>
                </div>                                  
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <!-- OPERACION ABIERTA -->      
                <div *ngIf="op.estado.abierta" class="border border-dark border-1 rounded-4 shadow p-3 mb-3 bg-body-tertiary rounded altura" >                    
                    <div class="form-group isDisabled">       
                        <label for="Patente" class="fs-5">Patente: </label>                                   
                        <div class="input-group" [ngClass]="{'isDisabled': vista}">
                            <input class="form-control edicion" [value]="op.patenteChofer">
                        </div>                                                          
                    </div>              
                    <div class="form-group" [ngClass]="{'isDisabled': vista || cerrar}">   
                        <label for="Acompaniante" class="fs-5">Acompañante</label>                                 
                        <select class="form-select mb-3" (change)="changeAcompaniante($event)">                                        
                            <option [value]="acompaniante" selected>{{acompaniante ? "Si" : "No"}}</option>
                            <option [value]="true">Si</option>
                            <option [value]="false">No</option>
                        </select>
                    </div>  
                    <form [formGroup]="form" >    
                        <div class="form-group" [ngClass]="{'invisible': cerrar}">
                            <label for="HojaRuta" class="fs-5">Hoja de Ruta</label>
                            <div class="input-group" [ngClass]="{'isDisabled': vista}">
                                <textarea formControlName="hojaRuta"  class="form-control edicion"></textarea>
                            </div>
                        </div> 
                        <div class="form-group" [ngClass]="{'invisible': cerrar}">
                            <label for="Observaciones" class="fs-5">Observaciones</label>
                            <div class="input-group" [ngClass]="{'isDisabled': vista}">
                                <textarea formControlName="observaciones"  class="form-control edicion"></textarea>
                            </div>
                        </div> 
                    </form>           
                   
                    <h3 class="mt-5 mb-3" [ngClass]="{'invisible': !cerrar}">Cerrar Operación:</h3> 
                    <form [formGroup]="form" class="border border-dark border-1 rounded-4 shadow p-3 mb-1 bg-body-tertiary rounded pb-5" [ngClass]="{'invisible': !cerrar}">         
                        <div class="form-group">                                    
                            <label for="Km" class="fs-5">Km Recorridos</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1" style="width:30px">Km</span>
                                <input #kmInput formControlName="km" class="form-control edicion" required type="text" inputmode="numeric" (keyup.enter)="onSubmit()" appSoloNumeros>
                            </div>                        
                        </div>                        
                        <div class="form-group mt-3">                                    
                            <label for="Documentacion" class="fs-5">Documentacion</label>
                            <input formControlName="documentacion" class="form-control edicion" type="file" id="formFile">
                        </div>               
                    </form>            
                </div>   
                <!-- OPERACION CERRADA -->      
                <div *ngIf="!op.estado.abierta" class="border border-dark border-1 rounded-4 shadow p-3 mb-3 bg-body-tertiary rounded isDisabled altura">     
                    <div class="form-group">       
                        <label for="Patente" class="fs-5">Patente: </label>                                   
                        <div class="input-group" [ngClass]="{'isDisabled': vista}">
                            <input class="form-control edicion" [value]="op.patenteChofer">
                        </div>                                                          
                    </div>   
                    <h3 class="mt-2">Adicionales</h3>                 
                    <div class="form-group" >                                    
                        <label for="A Cobrar" class="fs-5">Acompañante</label>
                        <div class="input-group">
                            <!-- <span class="input-group-text" id="basic-addon1" style="width:30px">$</span> -->
                            <input class="form-control edicion isDisabled" required type="text" [value]="op.acompaniante ? 'Si' : 'No' ">
                        </div>                        
                    </div>       
                    <div class="form-group" >                                    
                        <label for="A Cobrar" class="fs-5">Km Recorridos</label>
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1" style="width:30px">Km</span>
                            <input class="form-control edicion isDisabled" required type="text" [(ngModel)]="op.km">
                        </div>                        
                    </div>      
                    <form [formGroup]="form" class="m-2">    
                        <div class="form-group" [ngClass]="{'invisible': cerrar}">
                            <label for="HojaRuta" class="fs-5">Hoja de Ruta</label>
                            <div class="input-group" [ngClass]="{'isDisabled': vista}">
                                <textarea formControlName="hojaRuta"  class="form-control edicion"></textarea>
                            </div>
                        </div> 
                        <div class="form-group" [ngClass]="{'invisible': cerrar}">
                            <label for="Observaciones" class="fs-5">Observaciones</label>
                            <div class="input-group" [ngClass]="{'isDisabled': vista}">
                                <textarea formControlName="observaciones"  class="form-control edicion"></textarea>
                            </div>
                        </div> 
                    </form>                                                                  
                    
                </div>   
            </div>
            <div class="col-8 " [ngClass]="{'isDisabled': vista || cerrar || op.estado.cerrada || op.estado.facturada}">
                <div class="border border-dark border-1 rounded-4 shadow p-3 mb-3 bg-body-tertiary rounded h-100">
                    <div class="row">
                        <h3>Tarifa Aplicada: {{op.tarifaTipo.eventual ? "Eventual" : op.tarifaTipo.personalizada ? "Personalizada" : "" }} </h3> 
                        <!-- OPERACIONES EVENTUALES-->
                        <ng-container *ngIf="op.tarifaTipo.eventual">
                            <div class="row">                            
                                <div class="col border-end">
                                    <h4 class="my-2 mt-2">Cliente</h4>                         
                                    <div class="col">
                                        <div class="form-group mt-3">
                                            <label for="Fecha" class="fs-5">Tarifa Eventual Concepto</label>
                                            <div class="input-group">
                                            <input class="form-control edicion" required type="text" [(ngModel)]="tarifaEventual.cliente.concepto" >
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <label for="Fecha" class="fs-5">Tarifa Eventual Valor</label>
                                            <div class="input-group">
                                                <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                                <input  class="form-control edicion" required type="text" inputmode="number" [(ngModel)]="tarifaEventual.cliente.valor" appFormatoNumericoNgModel>
                                            </div>                                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <h4 class="mt-2">Chofer:</h4>
                                    <div class="form-group mt-3">
                                        <label for="Fecha" class="fs-5">Tarifa Eventual Concepto</label>
                                        <div class="input-group">
                                            <input class="form-control edicion" required type="text" [(ngModel)]="tarifaEventual.chofer.concepto">
                                        </div>
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="Fecha" class="fs-5">Tarifa Eventual Valor</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                            <input class="form-control edicion" required type="text" inputmode="number" [(ngModel)]="tarifaEventual.chofer.valor" appFormatoNumericoNgModel>
                                        </div>                                                                                        
                                    </div>                               
                                </div>
                            </div>
                        </ng-container>
                        <!-- OPERACIONES PERSONALIZADAS -->
                        <ng-container *ngIf="op.tarifaTipo.personalizada">
                            <div class="row">                                                            
                                <div class="col">
                                    <form [formGroup]="formTarifaPersonalizada">
                                        <ng-container *ngIf="tarifaClienteSel">
                                            <div class="form-group">
                                                <label for="Cliente">Secciion</label>
                                                <select class="form-select mb-3" (change)="changeSecion($event)">
                                                    <option [value]="op.tarifaPersonalizada.seccion" selected >{{op.tarifaTipo.personalizada ? 'Seccion ' + op.tarifaPersonalizada.seccion + " : " + tarifaClienteSel.secciones[op.tarifaPersonalizada.seccion - 1].descripcion : 'Sin datos'}}</option>                              
                                                    <option *ngFor="let seccion of tarifaClienteSel?.secciones" [value]="seccion?.orden">
                                                        Seccion {{seccion?.orden}}: {{seccion?.descripcion? seccion.descripcion : ""}} 
                                                    </option>
                                                </select>
                                            </div>
                                        </ng-container>                                        
                                    </form>
                                </div>
                                <div class="col">
                                    <form [formGroup]="formTarifaPersonalizada">
                                        <div class="form-group">
                                            <label for="Categoria">Categoria</label>
                                            <select class="form-select mb-3" (change)="changeCategoria($event)" >
                                                <option selected>{{op.tarifaTipo.personalizada ? 'Categoria ' + op.tarifaPersonalizada.categoria + " : " + op.tarifaPersonalizada.nombre : 'Sin datos'}}</option>                                                                      
                                                <option *ngFor="let categoria of seccionElegida?.categorias" [value]="categoria.orden">
                                                    Categoria {{categoria.orden}}: {{categoria.nombre}} 
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                </div>                                 
                            </div>
                            <div class="row">
                                <div class="col border-end">
                                    <h4 class="my-2 mt-2">Cliente:</h4>                         
                                    <div class="form-group mb-2">
                                        <label for="Fecha" class="fs-5">Tarifa Personalizada Valor</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                            <input  class="form-control edicion isDisabled" required type="text" [value]="formatearValor(op.tarifaPersonalizada.aCobrar)">
                                        </div>                                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <h4 class="my-2 mt-2">Chofer</h4>                         
                                    <div class="form-group mb-2">
                                        <label for="Fecha" class="fs-5">Tarifa Personalizada Valor</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                            <input  class="form-control edicion isDisabled" required type="text" [value]="formatearValor(op.tarifaPersonalizada.aPagar)">
                                        </div>                                                        
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- OPERACIONES GENERALES Y ESPECIALES -->
                        <ng-container *ngIf="!op.tarifaTipo.personalizada && !op.tarifaTipo.eventual">  
                            <div class="row isDisabled">
                                <div class="col border-end">
                                    <h4 class="my-2 mt-2">Cliente: <span class="fw-semibold fs-4">{{op.cliente.tarifaTipo.general ? "General" : "Especial"}}</span></h4>                         
                                    <div class="form-group mb-2">
                                        <label for="Fecha" class="fs-5">Tarifa Base Valor</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                            <input  class="form-control edicion" required type="text" [value]="formatearValor(op.valores.cliente.tarifaBase)">
                                        </div>                                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <h4 class="my-2 mt-2">Chofer: <span class="fw-semibold fs-4">{{op.chofer.tarifaTipo.general ? "General" : "Especial"}}</span></h4>                         
                                    <div class="form-group mb-2">
                                        <label for="Fecha" class="fs-5">Tarifa Base Valor</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                            <input  class="form-control edicion" required type="text" [value]="formatearValor(op.valores.chofer.tarifaBase)">
                                        </div>                                                        
                                    </div>
                                </div>
                            </div>
                        </ng-container>                        
                        <h3 class="mt-3">Adicionales: </h3>
                        <div class="row isDisabled">
                            <div class="col border-end">
                                <div class="form-group">
                                    <label for="Fecha" class="fs-5">Acompañante valor</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                        <input  class="form-control edicion isDisabled" required type="text" [value]="op.tarifaTipo.eventual || op.tarifaTipo.personalizada ? formatearValor(0) : formatearValor(op.valores.cliente.acompValor)">
                                    </div>                                                        
                                </div>
                                <div class="form-group mt-3">
                                    <label for="Fecha" class="fs-5">Km adicionales valor</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                        <input  class="form-control edicion isDisabled" required type="text" [value]="op.tarifaTipo.eventual || op.tarifaTipo.personalizada ? formatearValor(0) : formatearValor(op.valores.cliente.kmAdicional)">
                                    </div>                                                        
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Fecha" class="fs-5">Acompañante valor</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                        <input  class="form-control edicion isDisabled" required type="text" [value]="op.tarifaTipo.eventual || op.tarifaTipo.personalizada ? formatearValor(0) : formatearValor(op.valores.chofer.acompValor)">
                                    </div>                                                        
                                </div>
                                <div class="form-group mt-3">
                                    <label for="Fecha" class="fs-5">Km adicionales valor</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                        <input  class="form-control edicion isDisabled" required type="text" [value]="op.tarifaTipo.eventual || op.tarifaTipo.personalizada ? formatearValor(0) : formatearValor(op.valores.chofer.kmAdicional)">
                                    </div>                                                        
                                </div>                       
                            </div>

                        </div>                      
                    </div>                   
                </div>                
            </div>
        </div>
        <div class="row border border-dark border-1 rounded-4 shadow p-3 mt-3 bg-body-tertiary rounded mx-1 px-0 isDisabled">
            <div class="col-4 d-flex align-items-center">
                <h3 class="m-0 ms-2">Totales Op:</h3>     
            </div>            
            <div class="col-4">
                <div class="form-group" >                                    
                    <label for="A Cobrar" class="fs-5">A Cobrar</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                        <input class="form-control edicion isDisabled" required type="text" [(ngModel)]="aCobrar">
                    </div>                        
                </div>                                        
            </div>                                                                     
            <div class="col-4">
                <div class="form-group" >                                    
                    <label for="A Pagar" class="fs-5">A Pagar</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                        <input class="form-control edicion isDisabled" required type="text" [(ngModel)]="aPagar">
                    </div>                        
                </div>     
            </div>            
        </div>
    </div>
    <div class="modal-footer" *ngIf="!vista">        
        <app-btn-agregar *ngIf="!cerrar" name="Guardar" (click)="onSubmit()"></app-btn-agregar>        
        <!-- <app-btn-agregar *ngIf="cerrar" name="Cerrar" (click)="onSubmit()"  ></app-btn-agregar>     -->
        <button *ngIf="cerrar"  class="btn azul mt-2" type="submit" (click)="onSubmit()" >
            Cerrar Operación 
        </button>    
    </div>
</div>
