<h2 class="mt-2">Listado de Informes Facturados</h2>  
<div class="row mb-3 column-gap-3">
    <div class="col">
        <label><span class="fs-5">Filtros</span></label>
        <div class="row bg-light border rounded border-1 rounded-2 pb-2"> 
            <div class="col">
                <label>Tipo</label>
                <select class="form-select"
                        [(ngModel)]="filtroTipo"
                        (change)="aplicarFiltros()">
                    <option value="todos">Todos</option>
                    <option value="cliente">Clientes</option>
                    <option value="chofer">Choferes</option>
                    <option value="proveedor">Proveedores</option>
                </select>
            </div>
            <div class="col">
                <label>Razón Social / N° de informe / Fecha</label>
                <input type="text" class="form-control" [(ngModel)]="filtroRazonSocial" (input)="aplicarFiltros()" placeholder="Buscar...">
            </div>
        </div>
    </div>         
    <div class="col ">
            <label><span class="fs-5">Consulta</span></label>
            <div class="row bg-light border rounded border-1 rounded-2 pb-2">
                <div class="col">
                    <label>Estado</label>
                    <select class="form-select"
                            [(ngModel)]="filtroEstado"
                            >
                        <option value="facturado">Facturados</option>
                        <option value="anulado">Anulados</option>
                        <option value="cobrado">Cobrados</option>               
                    </select>
                </div>
                <div class="col">
                    <label>Desde</label>
                    <input type="date" class="form-control"
                        [(ngModel)]="fechaDesde"
                        >
                </div>

                <div class="col">
                    <label>Hasta</label>
                    <input type="date" class="form-control"
                        [(ngModel)]="fechaHasta"
                        >
                </div>

                <div class="col align-self-end mb-2">
                    <button class="btn btn-outline-primary" (click)="cargarInformes(fechaDesde,fechaHasta )">Consultar</button>
                </div>
            </div>
    </div>
            
    

</div>
@if(cargando){
    <div class="text-center my-4">
      <app-spinner></app-spinner>
    </div>
}  
@if(!cargando && informesFiltrados.length === 0){
    <div class="alert alert-warning">
        No se encontraron informes con los filtros aplicados.
    </div>
}
@if(!cargando && informesFiltrados.length > 0){
    <div>
        <p><strong>Total: {{ informesFiltrados.length }}</strong> informes listados</p>

        <app-informes-tabla
          [items]="informesFiltrados"
          [columnas]="columnas"
          
          [loading]="cargando"
          (accionClick)="onAccion($event)"
          (ordenar)="onOrdenar($event)">
        </app-informes-tabla>
    </div>
}
<!-- @if(!cargando && informesFiltrados.length > 0){
    <div class="">
        <table class="table table-sm table-bordered table-hover table-striped table-light">
            <thead>
            <tr>
                <th (click)="ordenar('fecha')" class="sortable">Fecha</th>
                <th (click)="ordenar('numeroInterno')" class="sortable">N°</th>
                <th (click)="ordenar('tipo')" class="sortable">Tipo</th>
                <th (click)="ordenar('razonSocial')" class="sortable">Razon Social</th>
                <th (click)="ordenar('total')" class="sortable text-end">Total</th>
                <th (click)="ordenar('cantOp')" class="sortable text-end">Cant Op</th>
                <th>Estado</th>
                <th>Detalle</th>
                <th>Reimprimir</th>
                <th>Factura</th>                
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let inf of informesFiltrados">
                <td>{{ inf.fecha }}</td>
                <td>{{ inf.numeroInterno }}</td>
                <td>{{ inf.tipo }}</td>
                <td>{{ inf.entidad.razonSocial }}</td>                
                <td class="text-end">{{ inf.valores.total | formatearValor:'$' }}</td>
                <td>{{ inf.operaciones.length }}</td>
                <td>{{ inf.estado }}</td>
                <td class="text-center">
                    <app-btn-leer name="DetalleColor"class="me-2" (click)="openModalVista(inf, 'vista')"></app-btn-leer>
                </td>
                <td class="text-center">
                    <app-btn-leer name="excel"class="me-2" (click)="reimprimirLiq(inf, 'excel')" [ngClass]="{'isDisabled': !puede(inf, 'reimprimir')}"></app-btn-leer>
                    <app-btn-leer name="pdf" (click)="reimprimirLiq(inf, 'pdf')" [ngClass]="{'isDisabled': !puede(inf, 'reimprimir')}"></app-btn-leer>
                </td> 
                <td [ngClass]="{'isDisabled': inf.estado === 'emitido'}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf-fill bg-danger" viewBox="0 0 16 16" type="button" (click)="verPdf(inf)">
                        <path d="M5.523 12.424q.21-.124.459-.238a8 8 0 0 1-.45.606c-.28.337-.498.516-.635.572l-.035.012a.3.3 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647q-.178.037-.356.078a21 21 0 0 0 .5-1.05 12 12 0 0 0 .51.858q-.326.048-.654.114m2.525.939a4 4 0 0 1-.435-.41q.344.007.612.054c.317.057.466.147.518.209a.1.1 0 0 1 .026.064.44.44 0 0 1-.06.2.3.3 0 0 1-.094.124.1.1 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a5 5 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.5.5 0 0 1 .145-.04c.013.03.028.092.032.198q.008.183-.038.465z"/>
                        <path fill-rule="evenodd" d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.7 11.7 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.86.86 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.84.84 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.8 5.8 0 0 0-1.335-.05 11 11 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.24 1.24 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a20 20 0 0 1-1.062 2.227 7.7 7.7 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103"/>
                    </svg>                    
                </td>
            </tr>
            </tbody>
        </table>
    </div>
} -->


