td, th, input {
    font-size: 1.4rem;
}

.celeste {
    background-color: rgb(212, 234, 241);
}

.cyan {
    background-color:rgb(228, 245, 238);
    border: solid 1px cyan
}


#cerrar{
    background-color: transparent;
    border-color: black;
  }
  
  #cerrar:hover{
    background-color: #0d6efd;
    color: white;
  }

  .rojo{
    background:  rgb(252, 0, 0) ;
  }

  .verde {
    background-color:green !important;
  }