th, td, input, li{
    font-size:1.4rem;
}

.verde{
    background-color: green;
    color: white !important;
}

.amarillo{
    background-color: yellow;
    color: black !important;    
}

.rojo{
    background-color: red;
    color: white !important;
}

.gris{
    background-color: grey;
    color: white !important;
}

.celeste{
    background-color: lightblue;
    color: white !important;
}

.boton-filtros{
    width: 12rem;
    background: #002b5c;
    color: white;
    opacity: 0.8;
    font-size: 1.3rem;
  }
  
  .boton-filtros:hover{
    background: #0d6efd;    
  }

  .boton-choferes{    
    background: #002b5c;
    color: white;
    opacity: 0.8;
    font-size: 1.3rem;
  }
  
  .boton-choferes:hover{
    background: #0d6efd;    
  }

  .boton{
    background: #002b5c;
    color: white;
    opacity: 0.8;
    font-size: 1.3rem;
  }
  .boton:hover{
    background: #0d6efd;    
  }