<div class="container">
    <h1 class="text-center">Historial</h1>
    <div class="d-flex justify-content-between m-0 mb-4">
        <div class="d-flex">
          <div  style="width: 20rem;"><h4 class="align-middle">Consultar por: </h4></div>
          <select class="form-select form-select-md mb-3" (change)="changeConsulta($event)">
            <option selected>Seleccione</option>
            <option value="cliente">Cliente</option>
            <option value="chofer">Chofer</option>
            <option value="proveedor">Proveedor</option>
          </select>
        </div>
        <div>
            <!-- <app-facturacion-consulta  [componenteConsulta]="componenteConsulta" (newItemEvent)="getMsg($event)" [fechasConsulta]="fechasConsulta" ></app-facturacion-consulta> -->
            <button   data-bs-target="#consultaModalHist" data-bs-toggle="modal" id="bt" class="btn btn-outline-secondary ">
              Consultar Operaciones
            </button>
          <!-- MODAL CONSULTA OPERACION -->
            <div class="modal fade modal-sm" id="consultaModalHist" tabindex="-1" aria-labelledby="consultaModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                        </div>
                        <app-facturacion-consulta (newItemEvent)="getMsg($event)" [titulo]="titulo"></app-facturacion-consulta>
                            
                    </div>
                </div>
            </div>     
          </div>
    </div>

    <h4>Periodo: {{fechasConsulta.fechaDesde}} / {{fechasConsulta.fechaHasta}}</h4> 

    <div *ngIf="consulta === ''">
        <h4>Selecciones una categoria para la consulta</h4>
    </div>
    <div *ngIf="consulta === 'cliente'">
        <app-historial-cliente></app-historial-cliente>
    </div>
    <div *ngIf="consulta === 'chofer'">
        <app-historial-chofer></app-historial-chofer>
    </div>
    <div *ngIf="consulta === 'proveedor'">
        <app-historial-proveedor></app-historial-proveedor>
    </div>
    
 
</div>
