th,td, input, select, option {
    font-size: 1.3rem;
}

.panel-resultados {
  margin-top: 10px;
  background: white;
}

.panel-box {  
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 16px;
}