<div class="modal-header">
  <h2 class="modal-title">Operaciones del día {{ fecha }}</h2>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <ng-container *ngFor="let grupo of operacionesAgrupadas">
    <h3 class="mt-4">
        {{ grupo.razonSocial }}
        - Tarifa: {{ grupo.tipo}}
    </h3>

    <table class="table table-bordered table-sm mt-2">
      <thead class="table-light">
        <tr>
          <th style="width: 15%; overflow: hidden;">Chofer</th>
          <th style="width: 16%; overflow: hidden;">Vehículo</th>
          <th style="width: 5%;">Acomp</th>
          <th *ngIf="grupo.tipo === 'eventual'" colspan="4">Tarifa Eventual</th>
          <th *ngIf="grupo.tipo !== 'eventual'">Sección</th>
          <th *ngIf="grupo.tipo !== 'eventual'">Categoría</th>
          <th>Hoja de Ruta</th>
          <th>Observaciones</th>
        </tr>
        <tr *ngIf="grupo.tipo === 'eventual'">
          <th colspan="3"></th>
          <th>Concepto Chofer</th>
          <th>Valor Chofer</th>
          <th>Concepto Cliente</th>
          <th>Valor Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let op of grupo.operaciones">
          <td>{{ op.chofer.apellido }}, {{ op.chofer.nombre }}</td>
          <td>
            <select [(ngModel)]="op.patenteChofer" class="form-select form-select-sm">
              <option *ngIf="op.chofer.vehiculo.length > 1" value="">Seleccione el vehículo</option>
              <option *ngFor="let v of op.chofer.vehiculo" [value]="v.dominio">{{v.categoria.nombre}}: {{ v.dominio }}</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="op.acompaniante" class="form-select form-select-sm">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </td>

          <!-- EVENTUAL -->
          <ng-container *ngIf="grupo.tipo === 'eventual'">
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="op.tarifaEventual.chofer.concepto"></td>
            <td><input type="number" class="form-control form-control-sm" [(ngModel)]="op.tarifaEventual.chofer.valor"></td>
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="op.tarifaEventual.cliente.concepto"></td>
            <td><input type="number" class="form-control form-control-sm" [(ngModel)]="op.tarifaEventual.cliente.valor"></td>
          </ng-container>

          <!-- NO EVENTUAL -->
          <ng-container *ngIf="grupo.tipo !== 'eventual'">
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="op.tarifaPersonalizada.seccion"></td>
            <td><input type="text" class="form-control form-control-sm" [(ngModel)]="op.tarifaPersonalizada.categoria"></td>
          </ng-container>

          <td><input type="text" class="form-control form-control-sm" [(ngModel)]="op.hojaRuta"></td>
          <td><textarea class="form-control form-control-sm" rows="1" [(ngModel)]="op.observaciones"></textarea></td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>

<div class="modal-footer">
  <button class="btn btn-secondary" (click)="activeModal.dismiss()">Cancelar</button>
  <button class="btn btn-primary" (click)="guardar()">Guardar</button>
</div>
