<div class="container">
    <h1>Legajo</h1>
    <div class="col-6">
        <form>
            <table class="table table-dark table-striped">
                <tbody>
                    <tr>
                        <th class="align-middle alerta">Dni Frente</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Dni Dorso</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Registro Profesional Frente</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Registro Profesional Dorso</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Cedula Frente</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Cedula Dorso</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Poliza Seguro</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">R.U.T.A.</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Foto Vehiculo 1</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Foto Vehiculo 2</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="align-middle alerta">Foto Vehiculo 3</th>
                        <td class="align-middle alerta">
                            <div class="input-group custom-file-button">                                
                                <input type="file" class="form-control" id="inputGroupFile">
                                <label class="input-group-text" for="inputGroupFile">Examinar</label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
