td,th{
  font-size: 1.2rem;
}
.boton-alta{
  width: 18rem;
  background: #002b5c;
  color: white;
  opacity: 0.8;
  font-size: 1.3rem;
}

.boton-alta:hover{
  background: #0d6efd;    
}

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity:0.5;
    }
  
.isDisabled:hover {
    cursor: not-allowed;
    opacity:0.5;
}

.celeste{
  background-color: rgb(121, 174, 192);
  color: white;
  border-color: blue;
  font-size: 1.3rem;
}

.celeste:hover{
  background-color: rgb(73, 160, 189);;
  color: white;
  border-color: blue;
  font-size: 1.3rem;
}