<div class="d-flex justify-content-between">
    <div class="d-flex">
        <div class="align-self-start mt-3 me-2">
            <app-btn-leer
                name="Proveedor"
                (click)="openModal('alta')"
                [ngClass]="{ isDisabled: usuarioSesion.esRol('demo') }"
            >
            </app-btn-leer>
        </div>
        <div class="align-self-start mt-3 mb-1">
            <button
                class="btn btn-primary boton-alta"
                type="button"
                (click)="descargarProveedores()"
            >
                Descargar Proveedores
            </button>
        </div>
        <div class="align-self-start ms-2 mt-3 mb-1">
            <button
                class="btn btn-primary boton-alta"
                type="button"
                (click)="visibilidadProveedores()"
                [ngClass]="{ isDisabled: usuarioSesion.esRol('demo') }"
            >
                Proveedores Visibles
            </button>
        </div>
    </div>

    <div class="d-flex w-100 h-50 align-self-end justify-content-end">
        <div class="btn-group ms-3 mb-2 me-2" role="group">
            <input
                type="radio"
                class="btn-check"
                name="filtroProveedores"
                id="proveedoresActivos"
                autocomplete="off"
                checked
                (change)="cambiarFiltro('visibles')"
            />
            <label class="btn btn-outline-primary" for="proveedoresActivos"
                >Visibles</label
            >
            <input
                type="radio"
                class="btn-check"
                name="filtroProveedores"
                id="proveedoresTodos"
                autocomplete="off"
                (change)="cambiarFiltro('todos')"
            />
            <label class="btn btn-outline-primary" for="proveedoresTodos"
                >Todos</label
            >
        </div>
    </div>
</div>

<app-tabla-generica
    [columnas]="columnas"
    [filas]="filas"
    [acciones]="accionesTabla"
>
</app-tabla-generica>

<ng-template #modalChoferes let-modal>
    <div class="modal-header">
        <h3>
            <strong>{{ proveedorEditar?.razonSocial }}</strong>
        </h3>
        <button
            type="button"
            class="btn-close"
            (click)="modal.close()"
        ></button>
    </div>
    <div class="modal-body">
        <div class="row mt-3 mb-2">
            <div class="d-flex justify-content-between">
                <h3 class="w-25">Vehículos del Proveedor</h3>
                <button class="btn celeste" (click)="altaVehiculos()">
                    Agregar Vehiculo
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-plus-circle"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                        />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
                        />
                    </svg>
                </button>
            </div>
        </div>

        @if (vehiculosProveedor.length > 0) {
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Dominio</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Tipo Comb.</th>
                        <th>Categoría</th>
                        <th>Seguimiento</th>
                        <th>Tarj. Comb.</th>
                        <th>Publicidad</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (
                        vehiculo of vehiculosProveedor;
                        track vehiculo.idVehiculo;
                        let i = $index
                    ) {
                        <tr>
                            <td>
                                <strong>{{ vehiculo.dominio }}</strong>
                            </td>
                            <td>{{ vehiculo.marca }}</td>
                            <td>{{ vehiculo.modelo }}</td>
                            <td>{{ vehiculo.tipoCombustible }}</td>
                            <td>
                                <strong>{{ vehiculo.categoria.nombre }}</strong>
                            </td>
                            <td>
                                {{
                                    !vehiculo.segSat ? "No" : vehiculo.satelital
                                }}
                            </td>
                            <td>
                                {{ vehiculo.tarjetaCombustible ? "Si" : "No" }}
                            </td>
                            <td>{{ vehiculo.publicidad ? "Si" : "No" }}</td>
                            <td class="align-middle">
                                <app-btn-editar
                                    name="EditarClaro"
                                    (click)="editarVehiculo(i)"
                                ></app-btn-editar>
                                <app-btn-eliminar
                                    name="EliminarClaro"
                                    (click)="eliminarVehiculo(i)"
                                ></app-btn-eliminar>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else {
            <div class="alert alert-info">Sin vehículos asociados.</div>
        }
        <hr />
        <h3>Choferes asociados</h3>
        @if (choferesProveedor.length > 0) {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Cuit</th>
                        <th>Celular</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @for (chofer of choferesProveedor; track chofer.idChofer) {
                        <!--           <div class="mb-2">
            {{ chofer.datosPersonales.apellido }} {{ chofer.datosPersonales.nombre }}
          </div> -->

                        <tr>
                            <td>
                                <strong>
                                    {{ chofer.datosPersonales.apellido }}
                                </strong>
                            </td>
                            <td>{{ chofer.datosPersonales.nombre }}</td>
                            <td>{{ chofer.datosPersonales.cuit }}</td>
                            <td>
                                {{ chofer.datosPersonales.celularContacto }}
                            </td>
                            <td>{{ chofer.datosPersonales.email }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        } @else {
            <div class="alert alert-info">Sin choferes asociados.</div>
        }
    </div>
    <div class="modal-footer">
        <app-btn-agregar
            name="Guardar"
            type="button"
            (click)="guardarVehiculos()"
        ></app-btn-agregar>
    </div>
</ng-template>

@if (isLoading) {
    <app-spinner></app-spinner>
}
