<div class="container text-center mt-0 p-0">
    <!-- Dropup para seleccionar el formato -->
    <div class="btn-group dropup">
        <button class="btn btn-lg btn-primary dropdown-toggle" style="width: 150px; font-size: 1.6rem;" type="button" data-bs-toggle="dropdown">
          {{ formatoSeleccionado }}
        </button>
        <ul class="dropdown-menu w-100" style="font-size: 1.25rem;">
            <li><a class="dropdown-item" (click)="establecerRangoManual()">Manual</a></li>
            <li><a class="dropdown-item" (click)="calcularTrimestreActual()">Trimestre</a></li>
            <li><a class="dropdown-item" (click)="calcularMesActual()">Mes</a></li>
            <li><a class="dropdown-item" (click)="calcularQuincenaActual()">Quincena</a></li>
            <li><a class="dropdown-item" (click)="calcularSemanaActual()">Semana</a></li>
            <li><a class="dropdown-item" (click)="calcularDiaActual()">Día</a></li>            
        </ul>
    </div>

    <!-- Mostrar rango de fechas -->
    <div class="d-flex justify-content-center">
        <!-- Botón izquierdo -->
        <div class="" [ngClass]="{'invisible': formatoSeleccionado === 'Manual'}">
            <button class="btn btn-outline-primary" style="width: 90px; font-size: 1.15rem;" (click)="cambiarRango(false)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
                {{ formatoSeleccionado }}
            </button>            
        </div>
        <!-- input -->
        <div style="width: 300px;">
            <input class="form-control text-center" style="font-size: 1.2rem;" type="text" readonly [value]="'Desde: ' + fechaDesdeString + ' Hasta: ' + fechaHastaString">
            <!-- <input class="form-control text-center" style="font-size: 1.25rem;" type="text" readonly [value]="'Desde: ' + fechaManualDesdeString + ' Hasta: ' + fechaManualHastaString" [ngClass]="{'invisible': formatoSeleccionado !== 'Manual'}"> -->
        </div>
        <!-- Botón derecho -->
        <div class="" [ngClass]="{'invisible': formatoSeleccionado === 'Manual'}">
            <button class="btn btn-outline-primary" style="width: 90px; font-size: 1.15rem;" (click)="cambiarRango(true)">
              {{ formatoSeleccionado }} 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
              </svg>
            </button>
        </div>
    </div>
    <!-- Botón para aplicar la selección manual -->
    <div class="" [ngClass]="{'invisible': formatoSeleccionado !== 'Manual'}"  >
        <!-- <button class="btn btn-success" (click)="establecerRangoManual()">Aplicar rango manual</button> -->
        <div class="btn-group dropup" >
            <button class="btn btn-outline-primary" style="width: 135px; font-size: 1.6rem;" (click)="consultarRangoManual()">                
                Consultar
            </button>
            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" data-bs-auto-close="outside"></button>
            <ul class="dropdown-menu">
                <li>
                    
                    <input class="form-control text-center" style="font-size: 1.15rem;" type="text" readonly [value]="'Desde: ' + fromDate.year + '/' + fromDate.month + '/' + fromDate.day + '   Hasta: ' + toDate?.year + '/' + toDate?.month + '/' +toDate?.day">
                    <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                    
                        <ng-template #t let-date let-focused="focused">
                        <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                        >
                        {{ date.day }}
                        </span>
                        </ng-template>
                    </ngb-datepicker>
                </li>
            </ul>
        </div>
    </div>
</div>