<h2 class="mt-2">Listado de Informes Emitidos para Facturación</h2>

<div class="row mb-3">
    <div class="col">
      <label>Tipo</label>
      <select class="form-select" [(ngModel)]="filtroTipo" (change)="aplicarFiltros()">
        <option value="todos">Todos</option>
        <option value="cliente">Clientes</option>
        <option value="chofer">Choferes</option>
        <option value="proveedor">Proveedores</option>
      </select>
    </div>

    <div class="col">
      <label>Razón Social / N° de informe</label>
      <input type="text" class="form-control" [(ngModel)]="filtroRazonSocial" (input)="aplicarFiltros()" placeholder="Buscar...">
    </div>

    <div class="col">
      <label>Desde</label>
      <input type="date" class="form-control" [(ngModel)]="fechaDesde">
    </div>

    <div class="col">
      <label>Hasta</label>
      <input type="date" class="form-control" [(ngModel)]="fechaHasta">
    </div>
    <div class="col align-self-end mb-2">
        <button class="btn btn-outline-primary" (click)="cargarInformes(fechaDesde,fechaHasta )">Consultar</button>
    </div>
</div>

@if(cargando){
    <div class="text-center my-4">
      <app-spinner></app-spinner>
    </div>
}  
@if(!cargando && informesFiltrados.length === 0){
    <div class="alert alert-warning">
      No se encontraron informes con los filtros aplicados.
    </div>
}

@if(!cargando && informesFiltrados.length > 0){
    <div>
        <p><strong>Total: {{ informesFiltrados.length }}</strong> informes listados</p>

        <app-informes-tabla
          [items]="informesFiltrados"
          [columnas]="columnas"
          
          [loading]="cargando"
          (accionClick)="onAccion($event)"
          (ordenar)="onOrdenar($event)">
        </app-informes-tabla>
    </div>
}
 
  <!-- <div>
    <button class="btn btn-outline-primary me-5" (click)="verificarFacturasDuplicados()">Duplicados</button>
    <button class="btn btn-outline-danger me-" (click)="eliminarObjeto()">Duplicados</button>
    <button class="btn btn-outline-warning me-5" (click)="editarObjetos()">Editar Objetos</button>
    <button class="btn btn-outline-success me-5" (click)="actualizarObjetos()">ACtualizar Objetos</button>    
    <button class="btn btn-info me-5" (click)="asignarNumerosInternosFaltantes()">Asignar Numeros Internos Faltantes</button>
  </div> -->
