  <h2>Listado de Informes para Facturación</h2>

  <div class="row mb-3">
    <div class="col-md-2">
      <label>Tipo</label>
      <select class="form-select" [(ngModel)]="filtroTipo" (change)="aplicarFiltros()">
        <option value="todos">Todos</option>
        <option value="cliente">Clientes</option>
        <option value="chofer">Choferes</option>
        <option value="proveedor">Proveedores</option>
      </select>
    </div>

    <div class="col-md-3">
      <label>Razón Social</label>
      <input type="text" class="form-control" [(ngModel)]="filtroRazonSocial" (input)="aplicarFiltros()" placeholder="Buscar...">
    </div>

    <div class="col-md-3">
      <label>Desde</label>
      <input type="date" class="form-control" [(ngModel)]="fechaDesde">
    </div>

    <div class="col-md-3">
      <label>Hasta</label>
      <input type="date" class="form-control" [(ngModel)]="fechaHasta">
    </div>
    <div>
        <button class="btn btn-outline-primary" (click)="cargarInformes(fechaDesde,fechaHasta )">Consultar</button>
    </div>
  </div>

  <div *ngIf="cargando" class="text-center my-4">
    <app-spinner></app-spinner>
  </div>

  <div *ngIf="!cargando && informesFiltrados.length === 0" class="alert alert-warning">
    No se encontraron informes con los filtros aplicados.
  </div>

  <div *ngIf="!cargando && informesFiltrados.length > 0">
    <p><strong>Total: {{ informesFiltrados.length }}</strong> informes listados</p>
    <table class="table table-sm table-bordered table-hover table-striped table-light">
      <thead class="table-light">
        <tr>
          <th>#</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>Id</th>
          <th>Id Informe</th>
          <th>Razón Social</th>
          <th class="table-success">Total</th>
          <th class="text-center">Cant Op</th>
          <th>Estado</th>
          <th class="text-center">Detalle</th>
          <th class="text-center">Editar</th>
          <th class="text-center">Reimprimir</th>
          <th class="text-center" style="width: 2%;">F.Electrónica</th>
          <th class="text-center">Anular</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let inf of informesFiltrados; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ inf.fecha }}</td>
          <td>{{ inf.tipo }}</td>
          <td>{{ inf.numeroInterno }}</td>
          <td>{{ inf.idInfLiq }}</td>
          <td>{{ inf.entidad.razonSocial }}</td>
          <td class="table-success">{{ inf.valores.total | formatearValor:'$' }}</td>
          <td class="text-center">{{ inf.operaciones.length }}</td>
          <td>{{ inf.estado }}</td>
          <td class="text-center">
            <app-btn-leer name="DetalleColor"class="me-2" (click)="openModalVista(inf, 'vista')"></app-btn-leer>
          </td>
          <td class="text-center">
            <app-btn-editar name="EditarColor" class="me-1" (click)="openModalVista(inf, 'edicion')"></app-btn-editar>
          </td>
          <td class="text-center">
            <app-btn-leer name="excel"class="me-2" (click)="reimprimirLiq(inf, 'excel')"></app-btn-leer>
            <app-btn-leer name="pdf" (click)="reimprimirLiq(inf, 'pdf')"></app-btn-leer>
          </td>          
          <td class="text-center">
            <app-btn-agregar *appRole="['god','admin', 'manager']"  name="electronica" (click)="vincularFacElec(inf)"></app-btn-agregar>            
          </td>
          <td class="text-center">
            <app-btn-eliminar *appRole="['god','admin', 'manager']"  name="EliminarColor" (click)="anularInfLiq(inf)"></app-btn-eliminar>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div>
    <button class="btn btn-outline-primary me-5" (click)="verificarFacturasDuplicados()">Duplicados</button>
    <button class="btn btn-outline-danger me-" (click)="eliminarObjeto()">Duplicados</button>
    <button class="btn btn-outline-warning me-5" (click)="editarObjetos()">Editar Objetos</button>
    <button class="btn btn-outline-success me-5" (click)="actualizarObjetos()">ACtualizar Objetos</button>    
    <button class="btn btn-info me-5" (click)="asignarNumerosInternosFaltantes()">Asignar Numeros Internos Faltantes</button>
  </div> -->
