th,td, input, select, option {
    font-size: 1.3rem;
}

th.ordenable {
  cursor: pointer;
  user-select: none; /* evita seleccionar texto al hacer click */
}

th.ordenable:hover {
  background-color: #f1f1f1; /* leve highlight */
}

.isDisabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity:0.5;
}
  
.isDisabled:hover {
  cursor: not-allowed;
  opacity:0.5;
}