<div class="container">
    
    <div class="row text-center" >       
        <h1 class="text-center">¡Ups!</h1>
        <img src="https://i.ibb.co/LJwvD6c/depositphotos-469313400-stock-illustration-computer-failure-or-error-and2.jpg" class="img-fluid mx-auto" alt="error">
        <div class="">
            
            <p>El programador no terminó esta parte</p>    
            <p>Volvé en la próxima actualización</p>    
            <button class="btn btn-primary text-light text-center fs-4 text-start" (click)="volverAFacturacion()" >
                Volver
            </button>
        </div>
    </div>
</div>