<div class="modal-content">
    <div class="modal-header">
        <h2>Asignar Tarifa</h2> 
        <button type="button" class="btn-close btn btn-outline-secondary" (click)="activeModal.close()"></button>     
    </div>
    <div class="modal-body">
        <form  [formGroup]="form"  (ngSubmit)="onSubmit()">
            <div class="">
                <table>
                  <tbody>
                    <h4>Base</h4>
                    <tr class="form-group">
                      <td class="parametro">Valor Jornada: </td>
                      <td>
                        <input formControlName="valorJornada" class="form-control edicion" required type="number" >   
                      </td>
                    </tr>                               
                    <tr class="form-group">
                      <td class="parametro">Publicidad: </td>
                      <td>
                        <input formControlName="publicidad" class="form-control" required type="number">
                      </td>
                    </tr>
                    <tr class="form-group">
                      <td class="parametro">Acompañante: </td>
                      <td>
                        <input formControlName="acompaniante" class="form-control" required type="number">
                      </td>
                    </tr>
                    
                  </tbody>
                  
                </table>
            </div>
            <div class="">
                <h4>Adicional por Km: </h4>                
                <tr >
                    <td class="parametro align-middle">Primer sector desde: </td>
    
                    <td class="input-group ">
                        
                        <input formControlName="distanciaPrimerSector" class="form-control adicionalKm" required type="number">
                        <span class="input-group-text"> km </span>
                    
                        <span class="input-group-text ms-2"> $ </span>
                        <input formControlName="valorPrimerSector" class="form-control adicionalKm" required type="number">                                
                    </td>
                </tr>
                <tr >
                    <td class="parametro align-middle">Intervalos cada: </td>   
                    <td class="input-group ">
                        <input formControlName="distanciaIntervalo" class="form-control adicionalKm" required type="number">
                        <span class="input-group-text"> km </span>
                    
                        <span class="input-group-text ms-2"> $ </span>
                        <input formControlName="valorIntervalo" class="form-control adicionalKm" required type="number">
                    </td>
                </tr>    
            </div>
            <div class="">
                <h4 class="mt-2">Tarifa Especial</h4>
                <tr>
                    <th class="">Concepto </th>
                    <th > Valor</th>
                </tr>
              
                <tr class="form-group" >                          
                  
                    <td class="parametro" >
                        <input formControlName="concepto" class="form-control"  type="text">
                    </td>
                    <td>
                        <input formControlName="valor" class="form-control"  type="number">                              
                    </td>
                  
                </tr>
            </div>
        </form>             
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-secondary ms-2 mb-2" [disabled]="form.invalid " (click)="onSubmit()">
        Guardar
      </button>
    </div>
</div>