<div>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" 
          [checked]="informesOpToogle" (click)="informesToogle ('a')">
    <label class="btn btn-outline-primary" for="option1">Informes Op</label>

    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off"
          [checked]="informesLiqToogle" (click)="informesToogle('b')">
    <label class="btn btn-outline-success" for="option2">Informes Liq</label>

    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off"
          [checked]="opToogle" (click)="informesToogle('c')">
    <label class="btn btn-outline-success" for="option3">operaciones</label>

    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off"
          [checked]="backupToogle" (click)="informesToogle('d')">
    <label class="btn btn-outline-success" for="option4">backup</label>
</div>
</div>
@if(informesOpToogle){
<div class="container-fluid py-3">
  <h1 class="mb-4">Migrar Informes de Operaciones</h1>

  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-3">
      <label>Fecha desde:</label>
      <input type="date" class="form-control" [(ngModel)]="fechaDesde" />
    </div>
    <div class="col-md-3">
      <label>Fecha hasta:</label>
      <input type="date" class="form-control" [(ngModel)]="fechaHasta" />
    </div>
    <div class="col-md-3">
      <label>Colección origen:</label>
      <select class="form-control" [(ngModel)]="coleccionOrigen">
        <option value="informesOpClientes">informesOpClientes</option>
        <option value="informesOpChoferes">informesOpChoferes</option>
        <option value="informesOpProveedores">informesOpProveedores</option>
         
        <option value="infOpLiqClientes">infOpLiqClientes</option>
        <option value="infOpLiqChoferes">infOpLiqChoferes</option>
        <option value="infOpLiqProveedores">infOpLiqProveedores</option>
      </select>
    </div>
    <!-- <div class="col-md-3">
      <label>Colección destino:</label>
      <select class="form-control" [(ngModel)]="coleccionDestino">
        <option value="informesOpClientes">informesOpClientes</option>
        <option value="informesOpChoferes">informesOpChoferes</option>
        <option value="informesOpProveedores">informesOpProveedores</option>
         
        <option value="infOpLiqClientes">infOpLiqClientes</option>
        <option value="infOpLiqChoferes">infOpLiqChoferes</option>
        <option value="infOpLiqProveedores">infOpLiqProveedores</option>
      </select>
    </div> -->
  </div>

  <!-- Botones de acción -->
   <div class="d-flex justify-content-between">
      <div class="mb-4">
        <button class="btn btn-primary me-2" (click)="cargarDatos()">Cargar datos</button>
        <button class="btn btn-secondary me-2" (click)="verificarDuplicados()">Duplicados</button>
        <!-- <button class="btn btn-warning me-2" (click)="transformarDatos()">Transformar</button> -->
        <!-- <button class="btn btn-success" (click)="guardarTransformados()">Guardar en destino</button> -->
      </div>
      <div>
        <button class="btn btn-danger me-2" (click)="eliminarObjeto()">Borrar Duplicados</button>
      </div>
      <div>
        <button  class="btn btn-outline-dark" (click)="consultarNuevaColeccion()">Consultar nueva colección:</button>
        <span>{{docuNuevaColeccion.length}}</span>
      </div>

   </div>


  <!-- Spinner de carga -->
  <app-spinner *ngIf="cargando"></app-spinner>

  <div class="row">
    <!-- Tabla 1: Origen -->
    <div class="col-12">
      <div class="border rounded p-2 h-100 d-flex flex-column" style="max-height: 80vh;">
        <h5>Datos de colección origen ({{ datosOrigen.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroOrigen" />
        <div class="table-responsive overflow-auto">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Fecha</th>
                <th class="bg-info">ID Op</th>
                <th>Id Informe</th>
                <th>Cliente</th>
                <th>Chofer</th>
                <th>Km</th>                
                <th class="bg-success">Total</th>
                <th>Contra Parte</th>
                <th>Liquidada</th>
              </tr>
            </thead>
            <tbody>
              @for (item of datosOrigen | globalFilter:filtroOrigen:['fecha','idOperacion', 'idInfOp', 'idCliente', 'idChofer', 'km','valores.total','contraParteMonto','liquidacion']; track item; let i = $index) {
                <tr>
                  <td>{{ item.fecha}}</td>
                  <td class="bg-info">{{ item.idOperacion }}</td>
                  <td>{{ item.idInfOp}}</td>                  
                  <td>{{ item.idCliente }}</td>
                  <td>{{ item.idChofer }}</td>
                  <td>{{ item.km}}</td>
                  <td class="bg-success">{{ item.valores?.total | currency }}</td>
                  <td>{{ item.contraParteMonto | currency }}</td>
                  <td>{{ item.liquidacion}}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Tabla 2: Transformados -->
    <div class="col-12">
      <div class="border rounded p-2 h-100 d-flex flex-column" style="max-height: 80vh;">
        <h5>Datos Duplicados ({{ informesOpDuplicadas.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroDestino" />
        <div class="table-responsive overflow-auto">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Fecha</th>
                <th class="bg-info">ID Op</th>
                <th>Id Informe</th>
                <th>Cliente</th>
                <th>Chofer</th>
                <th>Km</th>                
                <th class="bg-success">Total</th>
                <th>Contra Parte</th>
                <th>Liquidada</th>
              </tr>
            </thead>
            <tbody>
              @for (item of informesOpDuplicadas | globalFilter:filtroDestino:['fecha','idOperacion', 'idInfOp', 'idCliente', 'idChofer', 'km','valores.total','contraParteMonto','liquidacion']; track item; let i = $index) {
                <tr>
                  <td>{{ item.fecha}}</td>
                  <td class="bg-info">{{ item.idOperacion }}</td>
                  <td>{{ item.idInfOp}}</td>                  
                  <td>{{ item.idCliente }}</td>
                  <td>{{ item.idChofer }}</td>
                  <td>{{ item.km}}</td>
                  <td class="bg-success">{{ item.valores?.total | currency }}</td>
                  <td>{{ item.contraParteMonto | currency }}</td>
                  <td>{{ item.liquidacion}}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>
    </div>
<!--     @if (informesOpDuplicadas.length > 0) {
      <div class="col-12">
        <div class="border rounded p-2 h-100 d-flex flex-column" style="max-height: 80vh;">
          <h5 class="bg-danger">Datos Duplicados ({{ informesOpDuplicadas.length }})</h5>
          <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroDduplicados" />
          <div class="table-responsive overflow-auto">
            <table class="table table-sm table-bordered table-hover">
              <thead class="table-light">
                <tr>
                  <th>Fecha</th>
                  <th class="bg-info">ID Op</th>
                  <th>Id Informe</th>
                  <th>Cliente</th>
                  <th>Chofer</th>
                  <th>Km</th>                
                  <th class="bg-success">Total</th>
                  <th>Contra Parte</th>
                  <th>Liquidada</th>
                </tr>
              </thead>
              <tbody>
                @for (item of informesOpDuplicadas | globalFilter:filtroDestino:['fecha','idOperacion', 'idFacturaOp', 'idCliente', 'idChofer', 'km','valores.total','contraParteMonto','liquidacion']; track item; let i = $index) {
                  <tr>
                    <td>{{ item.fecha}}</td>
                    <td class="bg-info">{{ item.idOperacion }}</td>
                    <td>{{ item.idFacturaOp}}</td>                  
                    <td>{{ item.idCliente }}</td>
                    <td>{{ item.idChofer }}</td>
                    <td>{{ item.km}}</td>
                    <td class="bg-success">{{ item.valores?.total | currency }}</td>
                    <td>{{ item.contraParteMonto | currency }}</td>
                    <td>{{ item.liquidacion}}</td>
                  </tr>
                }              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    } -->
    
  </div>
</div>
}@else if (informesLiqToogle){
    <div class="container my-4">

    <h2>Migración de Facturas a Informes de Liquidación</h2>

    <!-- Formulario de selección -->
    <div class="row g-3 align-items-end mb-4">
      <div class="col-md-3">
        <label>Fecha desde:</label>
        <input type="date" class="form-control" [(ngModel)]="fechaDesde">
      </div>
      <div class="col-md-3">
        <label>Fecha hasta:</label>
        <input type="date" class="form-control" [(ngModel)]="fechaHasta">
      </div>
      <div class="col-md-3">
        <label>Colección de origen:</label>
        <select class="form-select" [(ngModel)]="coleccionOrigen">
          <option value="">-- Seleccionar --</option>
          <option value="facturaCliente">FacturaCliente</option>
          <option value="facturaChofer">FacturaChofer</option>
          <option value="facturaProveedor">FacturaProveedor</option>
          <option value="proforma">Proforma</option>
          <option value="resumenLiq">resumenLiq</option>
        </select>
      </div>
      <div class="col-md-3">
        <label>Colección de destino:</label>
        <select class="form-select" [(ngModel)]="coleccionDestino">
          <option value="">-- Seleccionar --</option>
          <option value="resumenLiq">resumenLiq</option>
         <!--  <option value="resumenLiqChoferes">resumenLiqChoferes</option>
          <option value="resumenLiqProveedores">resumenLiqProveedores</option> -->
        </select>
      </div>
    </div>

    <!-- Botones -->
    <div class="d-flex justify-content-between">
        <div class="mb-3">
          <button class="btn btn-primary me-2" (click)="cargarFacturasOrigen()" [disabled]="cargando">Cargar datos</button>
          <button class="btn btn-secondary me-2" (click)="transformarInformesLiq()" [disabled]="!infOrigen.length">Transformar</button>
          <button class="btn btn-secondary me-2" (click)="verificarFacturasDuplicados()">Duplicados</button>
          <button class="btn btn-success" (click)="guardarInLiqTransformados()" [disabled]="!infLiqTransformados.length || cargando">Guardar transformados</button>
          <!-- <button class="btn btn-outline-dark ms-5" (click)="migrarProformasAInformeLiq()" [disabled]="!infOrigen.length || cargando">Proformas</button> -->
        </div>
        <div>
          <button  class="btn btn-outline-dark" (click)="consultarNuevaColeccion()">Consultar nueva colección:</button>
          <span>{{docuNuevaColeccion.length}}</span>
        </div>
    </div>
    

    <!-- Tabla: Datos Origen -->
    <div class="row">
      <div class="col-12">
        <h5>Datos de origen ({{ infOrigen.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroOrigen" />
        <div class="table-responsive" style="max-height: 70vh; overflow-y: auto;">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>                
                <th>Fecha</th>
                <th class="bg-primary">ID factura</th>
                <th>id entidad</th>
                <th>operaciones</th>
                <th class="bg-success">Total</th>
                <th>Contra Parte</th>
              </tr>
            </thead>
            <tbody>
              @for (d of infOrigen | globalFilter:filtroOrigen:['fecha','idFacturaCliente','idFacturaChofer', 'idFacturaProveedor','idCliente', 'idChofer','idProveedor','valores.total','contraParteMonto','cobrado']; track d; let i = $index) {
                <tr>
                  <td>{{ d.fecha | date }}</td>
                  <td class="bg-primary">{{ d.idFacturaCliente || d.idFacturaChofer || d.idFacturaProveedor }}</td>
                  <td>{{ d.idCliente || d.idChofer || d.idProveedor }}</td>
                  <td>{{ d.operaciones.length}}</td>                
                  <td class="bg-success">{{ d.valores?.total | currency }}</td>
                  <td>{{ d.montoFacturaChofer || d.montoFacturaCliente | currency }}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>

      <!-- Tabla: Datos Transformados -->
      <div class="col-12">
        <h5>Datos transformados ({{ infLiqTransformados.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroDestino" />
        <div class="table-responsive" style="max-height: 70vh; overflow-y: auto;">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Fecha</th>
                <th class="bg-primary">ID Informe</th>
                <th>id entidad</th>
                <th>Razon Social</th>
                <th>operaciones</th>
                <th class="bg-success">Total</th>
                <th>Contra Parte</th>
                <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
              @for (i of infLiqTransformados | globalFilter:filtroDestino:['fecha','idInfLiq','entidad.id', 'entidad.razonSocial','operaciones.length', 'valores.total','valores.totalContraParte','tipo']; track i;) {
                <tr>
                  <td>{{ i.fecha | date }}</td>
                  <td class="bg-primary">{{ i.idInfLiq }}</td>                
                  <td>{{ i.entidad.id }}</td>
                  <td>{{ i.entidad.razonSocial }}</td>
                  <td>{{ i.operaciones.length }}</td>
                  <td  class="bg-success">{{ i.valores.total | currency }}</td>
                  <td>{{ i.valores.totalContraParte | currency }}</td>
                  <td>{{ i.tipo }}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

}@else if (opToogle){
  <h2>Operaciones</h2>
  <div class="container-fluid py-3">
  <h1 class="mb-4">Verificar valores de Op </h1>

  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-3">
      <label>Fecha desde:</label>
      <input type="date" class="form-control" [(ngModel)]="fechaDesde" />
    </div>
    <div class="col-md-3">
      <label>Fecha hasta:</label>
      <input type="date" class="form-control" [(ngModel)]="fechaHasta" />
    </div>
    <div class="col-md-3">
      <label>Colección origen:</label>
      <select class="form-control" [(ngModel)]="coleccionOrigen">                 
        <option value="operaciones">Operaciones</option>
      </select>
    </div>
    <div class="col-md-3">
      <label>Colección destino:</label>
      <select class="form-control" [(ngModel)]="coleccionDestino">
        <option value="infOpLiqClientes">infOpLiqClientes</option>
        <option value="infOpLiqChoferes">infOpLiqChoferes</option>
        <option value="infOpLiqProveedores">infOpLiqProveedores</option>
      </select>
    </div>
  </div>

  <!-- Botones de acción -->
   <div class="d-flex justify-content-between">
      <div class="mb-4">
        <button class="btn btn-primary me-2" (click)="cargarOp()">Cargar datos</button>
        <button class="btn btn-secondary me-2" (click)="verificarValores()">VErificar valores</button>
        
      </div>
      <!-- <div>
        <button class="btn btn-danger me-2" (click)="eliminarObjeto()">Borrar Duplicados</button>
      </div>
      <div>
        <button  class="btn btn-outline-dark" (click)="consultarNuevaColeccion()">Consultar nueva colección:</button>
        <span>{{docuNuevaColeccion.length}}</span>
      </div> -->

   </div>


  <!-- Spinner de carga -->
  <app-spinner *ngIf="cargando"></app-spinner>

  <div class="row">
    <!-- Tabla 1: Origen -->
    <div class="col-12">
      <div class="border rounded p-2 h-100 d-flex flex-column" style="max-height: 80vh;">
        <h5>Datos de Operaciones con errores ({{ operaciones.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroOrigen" />
        <div class="table-responsive overflow-auto">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Fecha</th>
                <th class="table-info">ID Op</th>
                <th>Cliente</th>
                <th>tarifaBase</th>
                <th>acomp</th>
                <th>km valor</th>                
                <th class="table-success">A Cobrar</th>
                <th>Chofer</th>
                <th>tarifaBase</th>
                <th>acomp</th>
                <th>km valor</th>                
                <th class="table-danger">A Pagar</th>
              </tr>
            </thead>
            <tbody>
              @for (item of operaciones | globalFilter:filtroOrigen:['fecha','idOperacion', 'cliente.razonSocial', 'chofer.apellido', 'valores.cliente.acompValor', 'valores.cliente.kmAdicional', 'valores.cliente.tarifaBase','valores.cliente.aCobrar', 'valores.chofer.acompValor', 'valores.chofer.kmAdicional', 'valores.chofer.tarifaBase','valores.chofer.aPagar']; track item; let i = $index) {
                <tr>
                  <td>{{ item.fecha}}</td>
                  <td class="table-info">{{ item.idOperacion }}</td>                                    
                  <td>{{ item.cliente.razonSocial }}</td>
                  <td>{{ item.valores?.cliente.tarifaBase  | formatearValor : '$' }}</td>
                  <td>{{ item.valores?.cliente.acompValor  | formatearValor : '$'}}</td>
                  <td>{{ item.valores?.cliente.kmAdicional  | formatearValor : '$'}}</td>
                  <td class="table-success">{{ item.valores?.cliente.aCobrar | formatearValor : '$' }}</td>
                  <td>{{ item.chofer.apellido + " " + item.chofer.nombre }}</td>
                  <td>{{ item.valores?.chofer.tarifaBase  | formatearValor : '$' }}</td>
                  <td>{{ item.valores?.chofer.acompValor  | formatearValor : '$'}}</td>
                  <td>{{ item.valores?.chofer.kmAdicional  | formatearValor : '$'}}</td>
                  <td class="table-danger">{{ item.valores?.chofer.aPagar | formatearValor : '$' }}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    Datos con errores:
    <div class="col-12">
      <div class="border rounded p-2 h-100 d-flex flex-column" style="max-height: 80vh;">
        <h5>Datos de Operación con errores ({{ opErrores.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroError" />
        <div class="table-responsive overflow-auto">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Fecha</th>
                <th class="table-info">ID Op</th>
                <th>Cliente</th>
                <th>tarifaBase</th>
                <th>acomp</th>
                <th>km valor</th>                
                <th class="table-success">A Cobrar</th>
                <th>Chofer</th>
                <th>tarifaBase</th>
                <th>acomp</th>
                <th>km valor</th>                
                <th class="table-danger">A Pagar</th>
              </tr>
            </thead>
            <tbody>
              @for (item of opErrores | globalFilter:filtroError:['fecha','idOperacion', 'cliente.razonSocial', 'chofer.apellido', 'valores.cliente.acompValor', 'valores.cliente.kmAdicional', 'valores.cliente.tarifaBase','valores.cliente.aCobrar', 'valores.chofer.acompValor', 'valores.chofer.kmAdicional', 'valores.chofer.tarifaBase','valores.chofer.aPagar']; track item; let i = $index) {
                <tr>
                  <td>{{ item.fecha}}</td>
                  <td class="table-info">{{ item.idOperacion }}</td>                                    
                  <td>{{ item.cliente.razonSocial }}</td>
                  <td>{{ item.valores?.cliente.tarifaBase  | formatearValor : '$' }}</td>
                  <td>{{ item.valores?.cliente.acompValor  | formatearValor : '$'}}</td>
                  <td>{{ item.valores?.cliente.kmAdicional  | formatearValor : '$'}}</td>
                  <td class="table-success">{{ item.valores?.cliente.aCobrar | formatearValor : '$' }}</td>
                  <td>{{ item.chofer.apellido + " " + item.chofer.nombre }}</td>
                  <td>{{ item.valores?.chofer.tarifaBase  | formatearValor : '$' }}</td>
                  <td>{{ item.valores?.chofer.acompValor  | formatearValor : '$'}}</td>
                  <td>{{ item.valores?.chofer.kmAdicional  | formatearValor : '$'}}</td>
                  <td class="table-danger">{{ item.valores?.chofer.aPagar | formatearValor : '$' }}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Tabla 2: Transformados -->
    <div class="col-12">
      <div class="border rounded p-2 h-100 d-flex flex-column" style="max-height: 80vh;">
        <h5>Informes con erroes ({{ infOpErrores.length }})</h5>
        <input class="form-control mb-2" type="text" placeholder="Buscar..." [(ngModel)]="filtroDestino" />
        <div class="table-responsive overflow-auto">
          <table class="table table-sm table-bordered table-hover">
            <thead class="table-light">
              <tr>
                <th>Fecha</th>
                <th class="table-info">ID Op</th>
                <th>Id Informe</th>
                <th>Cliente</th>
                <th>Chofer</th>
                <th>tarifaBase</th>                
                <th>acomp</th>
                <th>kmMonto</th>
                <th class="table-success">Total</th>                
              </tr>
            </thead>
            <tbody>
              @for (item of infOpErrores | globalFilter:filtroDestino:['fecha','idOperacion', 'idInfOp', 'idCliente', 'idChofer', 'valores.tarifaBase','valores.acompaniante','valores.kmMonto','valores.total']; track item; let i = $index) {
                <tr>
                  <td>{{ item.fecha}}</td>
                  <td class="table-info">{{ item.idOperacion }}</td>
                  <td>{{ item.idInfOp}}</td>                  
                  <td>{{ item.idCliente }}</td>
                  <td>{{ item.idChofer }}</td>
                  <td>{{ item.valores.tarifaBase}}</td>
                  <td>{{ item.valores.acompaniante}}</td>
                  <td>{{ item.valores.kmMonto}}</td>
                  <td class="table-success">{{ item.valores?.total | currency }}</td>
                </tr>
              }              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
}@else if (backupToogle) {
<div class="container-fluid py-3">
  <h1 class="mb-4">Migrar Informes de Operaciones</h1>

  <!-- Filtros -->
  <div class="row mb-3">
    <div class="col-md-3">
      <label>Fecha desde:</label>
      <input type="date" class="form-control" [(ngModel)]="fechaDesde" />
    </div>
    <div class="col-md-3">
      <label>Fecha hasta:</label>
      <input type="date" class="form-control" [(ngModel)]="fechaHasta" />
    </div>
    <div class="col-md-3">
      <label>Colección origen:</label>
      <select class="form-control" [(ngModel)]="coleccionOrigen">

        <option value="operaciones" class="bg-primary text-white">operaciones</option>

        <option value="clientes" class="bg-primary text-white">clientes</option>
        <option value="choferes" class="bg-success text-white">choferes</option>
        <option value="proveedores" class="bg-warning text-dark">proveedores</option>

        <option value="tableroDiario" class="bg-secondary-subtle text-secondary-emphasis">tableroDiario</option>
 
        <option value="tarifasGralCliente" class="bg-primary-subtle text-primary-emphasis">tarifasGralCliente</option>
        <option value="tarifasEspCliente" class="bg-primary-subtle text-primary-emphasis">tarifasEspCliente</option>
        <option value="tarifasPersCliente" class="bg-primary-subtle text-primary-emphasis">tarifasPersCliente </option>
        <option value="tarifasGralChofer" class="bg-success-subtle text-success-emphasis">tarifasGralChofer </option>
        <option value="tarifasEspChofer" class="bg-success-subtle text-success-emphasis">tarifasEspChofer</option>
        <option value="tarifasGralProveedor" class="bg-warning-subtle text-warning-emphasis">tarifasGralProveedor </option>
        <option value="tarifasEspProveedor" class="bg-warning-subtle text-warning-emphasis">tarifasEspProveedor</option>
        <option value="tarifasEventuales" class="bg-danger-subtle text-danger-emphasis">tarifasEventuales </option>


        <option value="historialTarifasGralCliente" class="bg-primary-subtle text-primary-emphasis">historialTarifasGralCliente</option>
        <option value="historialTarifasEspCliente" class="bg-primary-subtle text-primary-emphasis">historialTarifasEspCliente</option>
        <option value="historialTarifasPersCliente" class="bg-primary-subtle text-primary-emphasis">historialTarifasPersCliente</option>
        <option value="historialTarifasGralChofer" class="bg-success-subtle text-success-emphasis">historialTarifasGralChofer</option>
        <option value="historialTarifasEspChofer" class="bg-success-subtle text-success-emphasis">historialTarifasEspChofer</option>
        <option value="historialTarifasGralProveedor" class="bg-warning-subtle text-warning-emphasis">historialTarifasGralProveedor </option>

    
         
        <option value="numeradores" class="bg-body-secondary">numeradores</option>

        <option value="legajos" class="bg-body-tertiary">legajos</option>
          


        <option value="informesOpClientes" class=" bg-info text-dark">informesOpClientes</option>
        <option value="informesOpChoferes" class=" bg-info text-dark">informesOpChoferes</option>
        <option value="informesOpProveedores" class=" bg-info text-dark">informesOpProveedores</option>
         
        <option value="infOpLiqClientes" class="bg-light text-dark">infOpLiqClientes</option>
        <option value="infOpLiqChoferes" class="bg-light text-dark">infOpLiqChoferes</option>
        <option value="infOpLiqProveedores" class="bg-light text-dark">infOpLiqProveedores</option>

        <option value="resumenLiq" class="bg-danger text-white">resumenLiq </option>

        <option value="proforma" class="bg-danger text-white">proforma </option>
      </select>
    </div>
   
  </div>

  <!-- Botones de acción -->
   <div class="d-flex justify-content-between">
      <div class="mb-4">
        <button class="btn btn-primary me-2" (click)="cargarDatosCompletos()">Cargar datos Completos</button>
        <button class="btn btn-success me-2" (click)="cargarDatosPorFecha()">Cargar datos por Fecha</button>
        <button class="btn btn-warning me-2" (click)="descargarComoJSON()">descargar datos</button>
        
        
      </div> 
      
      <div>
        <input type="file" (change)="cargarOperacionesDesdeArchivo($event)" />
        <button class="btn btn-outline-success me-2" (click)="guardarObjeto()">Guardar datos</button>
      </div>


   </div>

   <div>
    <h4>DATOS DEL BACKUP: {{datosBackUp.length}}</h4>
   </div>

</div>
}


@if (cargando) {
  <app-spinner></app-spinner>
}
