<div class="modal-header">
    <div>
        <h3 class="modal-title">Vincular Factura Electrónica</h3>        
        <h4 class="modal-title">{{informeLiq.entidad.razonSocial}} comprobante N° {{informeLiq.numeroInterno}}</h4>      
    </div>  
    <button type="button" class="btn-close" aria-label="Close" (click)="cancelar()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" class="isDisabled">
    <div class="mb-2">
      <label>CAE</label>
      <input class="form-control" formControlName="cae"
      [class.is-invalid]="form.get('cae')?.invalid && form.get('cae')?.touched" />
    </div>
    <div class="mb-2">
      <label>CUIT Emisor</label>
      <input class="form-control" formControlName="cuit"
      [class.is-invalid]="form.get('cuit')?.invalid && form.get('cuit')?.touched" />
    </div>
    <div class="mb-2">
      <label>Número de Comprobante</label>
      <input class="form-control" formControlName="numero" />
    </div>
    <div class="mb-2">
      <label>Punto de Venta</label>
      <input class="form-control" formControlName="puntoVenta" />
    </div>
    <div class="mb-2">
      <label>Tipo de Comprobante</label>
      <select class="form-select" formControlName="tipoComprobante">
        @if(!tipoComprobanteDesc){
          <option [ngValue]="null" disabled>Seleccionar tipo</option>
        }@else {
          <option [ngValue]="tipoComprobanteOrd" disabled>{{tipoComprobanteDesc}}</option>
        }
       
        @for (tipo of tiposComprobante; track tipo) {
          <option [value]="tipo.codigo">
            {{ tipo.descripcion }}
          </option>
        }
        
      </select>
    </div>
    <div class="mb-2">
      <label>Fecha de Emisión</label>
      <input class="form-control" formControlName="fecha" type="date" />
    </div>
    <div class="mb-2">
      <label>CUIT Receptor</label>
      <input class="form-control" formControlName="nroDocRec" />
    </div>
    <div class="mb-2">
      <label>Importe</label>
      <input class="form-control" formControlName="importe" />
    </div>
  </form>
    <div class="mb-2">
        <label class="text-start">Observacion Interna</label>
        <textarea name="" id="" [(ngModel)]="informeLiq.observaciones" rows="2" class="w-100"></textarea>
    </div>
  
    <div class="mb-2">
      <label>Seleccionar archivo PDF</label>
      <input type="file" class="form-control" (change)="seleccionarArchivo($event)" accept=".pdf" />
      <button class="btn btn-secondary mt-2" (click)="cargarDesdeQR()" [disabled]="!pdfSeleccionado" type="button">
        Leer QR desde PDF
      </button>
    </div>
  
</div>

<div class="modal-footer">
  <button class="btn btn-primary" (click)="guardar()" [disabled]="!leido" >Vincular</button>
  <button class="btn btn-outline-secondary" (click)="cancelar()">Cancelar</button>
</div>

@if (isLoading) {
  <app-spinner></app-spinner>
}