<div class="d-flex justify-content-between mt-5">
  <div class="d-flex w-50">
    <h2 class="d-flex align-items-center">Consultar Resumen de Ventas por Vendedor: </h2>
     <div class="form-group mb-2 ms-2 d-flex align-items-center">        
        <select class="form-select" (change)="changeVendedor($event)">
            <option value="">{{vendSeleccionado ? vendSeleccionado.datosPersonales.apellido + " " + vendSeleccionado.datosPersonales.nombre : "Elegir Vendedor"}}</option>
            @for (v of vendedores; track v) {
                <option [value]="v.idVendedor">
                  {{v.datosPersonales.apellido}} {{v.datosPersonales.nombre}}
                </option>
            }
        </select>
    </div>
  </div>
  @if (vendSeleccionado) {
    <div  style="width:110px;">
      <label for="">Cantidad de Informes</label>
      <div class="input-group">
        <input type="text" inputmode="numeric" class="form-control"  placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="limite" (keyup.enter)="consultarTarifasEventuales()" appSoloNumeros>
        <button class="btn btn-secondary " type="button" id="button-addon2"  (click)="consultarTarifasEventuales()">Consultar</button>
      </div>
    </div>
  }
</div>

<hr class="mt-5">
@if (vendSeleccionado && resumenVentas.length > 0) {
  <div class="mt-5">
    <h1>Resumenes de Venta</h1>
    <table class="table table-light table-striped align-middle" >
      <thead class="sticky-top">
        <tr>          
          <th>Periodo</th>
          <th>Fecha</th>
          <th>IdResumen</th>
          <th>Clientes</th>
          <th c>Total</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        @for (r of resumenVentas; track r) {
          <tr>            
            <td class="table-info">{{r.periodo.mes}}/{{r.periodo.anio}} </td>
            <td>{{r.fecha}}</td>
            <td>{{r.idResumen}}</td>           
            <td>
              <table class="table table-light table-striped table-bordered table-sm align-middle m-0">                
                @for(asig of r.asignacionesExt; track asig ){
                  <tbody>
                      <tr>
                          <td>{{getCliente(asig.idCliente)}}</td>
                          <td>{{(asig.totalCliente * asig.porcentaje)/100| formatearValor:'$'}}</td>
                      </tr>                  
                  </tbody>
                  
                }
              </table>
            </td>
            <td class="table-success">{{r.total | formatearValor:'$'}}</td>
            <td>
              <app-btn-leer name="DetalleColor"class="me-2" (click)="abrirDetalle(r, modalDetalle)"></app-btn-leer>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div class="mt-5">
    <h3>No se registran resumenes de ventas</h3>
  </div>
}

<!-- MODAL -->
<ng-template #modalDetalle let-modal>
    @if(resumenDetalle){
      
          <div class="modal-header">
              <h3 class="modal-title">
                {{getVendedor(resumenDetalle.idVendedor) }}
              </h3>              
              <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
          </div>
          <div class="modal-body">
              <h4 class="my-0">
                Resumen id: {{resumenDetalle.idResumen}}
              </h4>              
              <h4 class="mt-0 mb-2">
                Periodo: {{resumenDetalle.periodo.mes}}/{{resumenDetalle.periodo.anio}}
              </h4>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                      <th>Cliente</th>                                       
                      <th>Total Cliente</th>
                      <th>Comision</th>
                      <th>Pago Vendedor</th>
                    </tr>
                </thead>
                <tbody>
                    @for (asig of resumenDetalle.asignacionesExt; track asig) {
                        <tr>
                          <td>{{getCliente(asig.idCliente)}}</td>
                          <td>{{asig.totalCliente | formatearValor:'$'}}</td>
                          <td>{{asig.porcentaje | formatearValor}}%</td>
                          <td>{{asig.totalComision | formatearValor:'$'}}</td>
                        </tr>
                    }
                </tbody>
                
            </table>
            
          </div>
          <div class="modal-footer">
              <tr>
                <td colspan="3">Total</td>
                <td>{{resumenDetalle.total | formatearValor:'$'}}</td>
              </tr>
          </div>    
    
    }  

  
</ng-template>
@if (isLoading) {
  <app-spinner></app-spinner>
}



