td, th, select, input {
    font-size: 1.3rem ;
}

/* CELDAS MONEDA */
.col-numero {
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-family: "Inter", system-ui, sans-serif;
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
  font-weight: 500;
}



.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}