<!-- <h1 class="text-center">Operaciones Abiertas</h1> -->

<!-- <div class="mt-5">
  <button (click)="toggle()" id="bt" class="btn btn-outline-secondary">
    {{ buttonName }}
  </button>
</div> -->

<!-- <ng-container *ngIf="show">
  <app-consulta-op (newItemEvent)="getMsg($event)" [titulo]="titulo"></app-consulta-op>
</ng-container> -->

<h3 *ngIf="!btnConsulta" class="mt-5">Operaciones: {{primerDia}} / {{ultimoDia}} </h3>

<h3 *ngIf="btnConsulta" class="mt-5">Resultado de la consulta: {{fechasConsulta.fechaDesde}} / {{fechasConsulta.fechaHasta}} </h3>

<input class="form-control mt-2" type="text" [(ngModel)]="searchText" placeholder="Buscar por chofer, cliente o número de operación">
<table class="table table-dark table-striped" *ngIf="($consultasOp | filter: searchText).length > 0; else noResults">
    <thead>
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">N° Operación</th>
          <th scope="col">Cliente</th>
          <th scope="col">Chofer</th>
          <th scope="col">Categoria</th>   
          <th scope="col">Proveedor</th> 
          <!-- <th scope="col">UcF</th>  -->
          <th scope="col">Acompañante</th>                                     
          <th scope="col">Tarifa Especial</th>                                     
          <th scope="col">Observaciones</th>               
          <th scope="col" colspan="4" class="" id="botones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor=" let op of $consultasOp | filter: searchText">
          <th class="align-middle" scope="row">{{op.fecha}} </th>
          <td class="align-middle">{{op.idOperacion}}</td>
          <td class="align-middle">{{op.cliente.razonSocial}}</td>
          <td class="align-middle">{{op.chofer.apellido}} {{op.chofer.nombre}}</td>        
          <td class="align-middle">{{op.chofer.vehiculo.categoria}}</td> 
          <td class="align-middle"> {{ op.chofer.proveedor === 'monotributista' ? 'No' : op.chofer.proveedor }}</td> 
          <!-- <td class="align-middle" *ngIf="op.unidadesConFrio">Si</td>
          <td class="align-middle" *ngIf="!op.unidadesConFrio">No</td> -->
          <td class="align-middle">{{ op.acompaniante ? 'Si':'No' }}</td>
          <td class="align-middle">{{ op.tarifaEspecial ? 'Si':'No' }}</td>
          <td class="align-middle">{{op.observaciones}}</td>          
          <td class="align-middle"> <app-btn-leer name="Detalle" data-bs-target="#exampleModal" data-bs-toggle="modal" (click)="seleccionarOp(op)"></app-btn-leer> </td>
          <td class="align-middle"> <app-btn-editar name="Editar" data-bs-target="#edicionModal" data-bs-toggle="modal" (click)="abrirEdicion(op)"></app-btn-editar> </td>
          <td class="align-middle"> <app-btn-eliminar name="Eliminar" (click)="eliminarOperacion(op)" ></app-btn-eliminar> </td>           
          <td class="align-middle"> <app-btn-agregar name="Factura" data-bs-target="#facturarModal" data-bs-toggle="modal" (click)="crearFacturaOp(op)"></app-btn-agregar> </td>           
        </tr>    
      </tbody>
</table>

<ng-template #noResults>
  <p>Sin resultados para: "{{searchText}}".</p>
</ng-template>  


<!-- MODAL VISTA -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Detalle Operación</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="facturarFalso()"></button>
        </div>
        <div class="modal-body" *ngIf="detalleOp !== undefined">          
              <div>
                <h3>N° Operacion: {{detalleOp.idOperacion}} </h3>                
              </div>    
              <div>
                <h3> Fecha: {{detalleOp.fecha}} </h3>                
              </div> 
              <div>
                <h3>Cliente: {{detalleOp.cliente.razonSocial}} </h3>                
              </div>
              <div>
                <h3>Destino: {{detalleOp.cliente.direccion}} </h3>                
              </div>                
              <div>
                <h3>Chofer: {{detalleOp.chofer.apellido}}  {{detalleOp.chofer.nombre}} </h3>                
              </div> 
              <div>
                <h3>Contacto: {{detalleOp.chofer.celularContacto}} </h3>                
              </div> 
              <div>
                <h3>Categoria: {{detalleOp.chofer.vehiculo.categoria}} </h3>                
              </div> 
              <div>
                <h3>Proveedor: {{ detalleOp.chofer.proveedor === 'monotributista' ? 'No' : detalleOp.chofer.proveedor }} </h3>                
              </div> 
              <div>
                <h3>Acompañante: {{ detalleOp.acompaniante  ? 'Si' : "No" }} </h3>                
              </div> 
              <div>
                <h3>Tarifa Especial: {{ detalleOp.tarifaEspecial  ? 'Si' : "No" }} </h3>                
              </div>
              <div *ngIf="detalleOp.tarifaEspecial && detalleOp.tEspecial !== null" class="ms-3">
                  <h3>Chofer:</h3>
                  <div class="ms-3">
                      <h3>Tarifa Especial Concepto: {{detalleOp.tEspecial.chofer.concepto}} </h3>                
                  </div>
                  <div class="ms-3">
                      <h3>Tarifa Especial Valor: {{detalleOp.tEspecial.chofer.valor}} </h3>                
                  </div>
                  <h3>Cliente:</h3>
                  <div class="ms-3">
                      <h3>Tarifa Especial Concepto: {{detalleOp.tEspecial.cliente.concepto}} </h3>                
                  </div>
                  <div class="ms-3">
                      <h3>Tarifa Especial Valor: {{detalleOp.tEspecial.cliente.valor}} </h3>                
                  </div>

              </div>
              <div>
                <h3>Observaciones: </h3>                 
                <textarea name="" class="w-100 fs-4" id="">{{detalleOp.observaciones}}</textarea>
              </div>
              
              <app-btn-eliminar name="Cerrar" data-bs-dismiss="modal" class="mt-2" ></app-btn-eliminar>

            <!--   <button class="btn btn-secondary mt-2" type="submit" data-bs-dismiss="modal" *ngIf="!facturar">
                Cerrar 
              </button>    -->
                 
              
        </div>      
      </div>
    </div>
</div> 

<!-- MODAL FACTURAR -->
<div class="modal fade modal-sm" id="facturarModal" tabindex="-1" aria-labelledby="facturarModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Facurar Operación</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="facturarFalso()"></button>
      </div>
      <div class="modal-body">          
        <form [formGroup]="opForm" (ngSubmit)="onSubmit()" >                            
          <div class="form-group">
              <label for="Km">Km recorridos</label>
              <div class="input-group ">
                <input formControlName="km" class="form-control" required type="number">
              </div>
          </div>    
          <!-- <div class="form-group">              
              <div class="mb-3">
                <label for="formFile" class="form-label">Cargar remito de operacion</label>
                <input class="form-control" formControlName="remito" type="file" id="formFile">
              </div>                    
          </div>   -->  
      
         <!--  <button class="btn btn-secondary" type="submit" data-bs-dismiss="modal" aria-label="Close">
            Facturar 
          </button> -->

          <app-btn-agregar name="Facturar" type="submit" data-bs-dismiss="modal" aria-label="Close"></app-btn-agregar>
            
            <!-- <app-btn-eliminar name="Cerrar" data-bs-dismiss="modal" class="mt-2" ></app-btn-eliminar> -->

          <!--   <button class="btn btn-secondary mt-2" type="submit" data-bs-dismiss="modal" *ngIf="!facturar">
              Cerrar 
            </button>    -->
               
        </form>    
      </div>      
    </div>
  </div>
</div>

<!-- MODAL EDICION -->
<div class="modal fade" id="edicionModal" tabindex="-1" aria-labelledby="edicionModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title " id="exampleModalLabel">Editar Operaciones</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"  *ngIf="opEditar !== undefined" >
        <form [formGroup]="form" (ngSubmit)="onSubmitEdit()">
            <div class="form-group">
              <label for="Fecha">Fecha</label>
              <div class="input-group">
                <input formControlName="fecha" class="form-control edicion" required type="date">            
              </div>
            </div>    
            <div class="form-group">
              <label for="Cliente">Cliente</label>
              <select class="form-select form-select-md mb-3" (change)="changeCliente($event)">
                  <option>{{opEditar.cliente.razonSocial}}</option>
                  <option *ngFor="let cliente of $clientes">
                    {{cliente.razonSocial}}
                  </option>
              </select>
            </div>    
            <div class="form-group">
                <label for="Chofer">Chofer</label>
                <select class="form-select form-select-md mb-3" (change)="changeChofer($event)">
                  <option>{{opEditar.chofer.apellido}}</option>
                  <option *ngFor="let chofer of $choferes">
                    {{chofer.apellido}}
                  </option>
              </select>
            </div>     
           <!--  <div class="form-group">
              <label for="UCF">Unidades con Frio</label>
              <select class="form-select" aria-label="Default select example" (change)="selectUCF($event)">
                  <option selected>Seleccione</option>
                  <option value="si">Si</option>
                  <option value="no">No</option>              
              </select>
          </div>     -->     
          <div class="form-group" *ngIf="!opEditar.tarifaEspecial">
            <label for="Acompaniante">Acompañante</label>
            <select class="form-select mb-3" aria-label="Default select example" (change)="selectAcompaniante($event)">
                <option value="auto">{{opEditar.acompaniante? "Si" : "No"}}</option>
                <option value="si">Si</option>
                <option value="no">No</option>              
            </select>
        </div>   
        <div class="form-group">
          <label for="tarifaEspecial">Tarifa Especial</label>
          <select class="form-select mb-3" aria-label="Default select example" (change)="selectTarifaEspecial($event)">
              <option value="auto">{{opEditar.tarifaEspecial? "Si" : "No"}}</option>
              <option value="si">Si</option>
              <option value="no">No</option>              
          </select>
      </div>  
        <div class="form-group">
          <label for="Observaciones">Observaciones</label>
          <div class="input-group">
            <textarea  formControlName="observaciones" class="form-control edicion" required type="text"></textarea>            
          </div>
        </div>                   
         <!--    <button class="btn btn-secondary mt-2" type="submit" data-bs-dismiss="modal">
              Guardar 
            </button> -->
            <app-btn-agregar name="Guardar" class="mt-2" type="submit" data-bs-dismiss="modal"></app-btn-agregar>
        
          </form>
      </div>      
    </div>
  </div>
</div> 
