<!-- POSIBLEMENTE NO SE USE MAS!!!!!!!!!! -->

<!-- <div class="container">
    <h1>Legajo Chofer</h1>
    <div class="w-50">
        <h2>Seleccionar Chofer: </h2>
        <select class="form-select form-select-md mb-3" (change)="changeChofer($event)">
            <option selected>Seleccione</option>
            <option *ngFor="let chofer of choferes$.source._value">
              {{chofer.apellido}} {{chofer.nombre}}
            </option>
          </select>
    </div>
    <div class="d-flex justify-content-evenly">
        <div>
            <h2>Datos Personales: </h2>
            <div >
                <table>
                    <tbody *ngIf="choferSeleccionado !== undefined else sinSeleccion">
                        <tr class="form-group">
                            <td class="parametro">Apellido:  </td>
                            <td>
                                {{perfilChofer$.source._value[0].apellido}}
                            </td>
                        </tr>                               
                        <tr class="form-group">
                            <td class="parametro">Nombre:  </td>
                            <td>
                                {{perfilChofer$.source._value[0].nombre}} 
                            </td>
                        </tr>                               
                        <tr class="form-group">
                            <td class="parametro">CUIT:  </td>
                            <td>
                                {{perfilChofer$.source._value[0].cuit}}
                            </td>
                        </tr>   
                        <tr class="form-group">
                            <td class="parametro">Celular:  </td>
                            <td>
                                {{perfilChofer$.source._value[0].celularContacto}}
                            </td>
                        </tr>   
                    </tbody>
                    
                </table>
            </div>
            
        </div>
        <div>
            <h2>Documentacion: </h2>
        </div>
    </div>
</div>

<ng-template #sinSeleccion>
    <h2>Seleccione Chofer</h2>
</ng-template> -->