.isDisabled {
    pointer-events: none;
    cursor: not-allowed;    
    opacity: 0.5; /* o cualquier otro estilo para indicar que está deshabilitado */
}

.adicionalKm{
    width: 7.3rem;
}

th, td, input {
    font-size: 1.4rem;
}

.op-facturada{
    color: green;
    font-weight: bold;
}

.op-sinFacturar{
    color: red;
    font-weight: bold;
}

.general{
    color: lightgreen;
    font-weight: bold;
}

.especial{
    color: lightyellow;
    font-weight: bold;
}

.eventual{
    color: lightpink;
    font-weight: bold;
}

.personalizada{
    color: lightsalmon;
    font-weight: bold;
}
  
thead {
    table-layout: fixed;
    width: 100%;
}

::ng-deep .modal-xxl .modal-dialog {
  max-width: 72vw;     // Casi ancho total del viewport
  width: 72vw;
  max-height: 82vh;
}

::ng-deep .modal-xxl .modal-content {
  height: 75vh;         // Alto del 90% de la ventana
  overflow-y: auto;     // Scrolleable si se necesita
}

::ng-deep .modal-xxl .modal-content .modal-footer {
  max-height: 50px;         
  height: 50px;
  
}

/* Scroll suave y elegante */
::ng-deep .modal-xxl .modal-content::-webkit-scrollbar {
  width: 8px;
}
::ng-deep .modal-xxl .modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
::ng-deep .modal-xxl .modal-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1400px) {
  ::ng-deep .modal-xxl .modal-dialog {
    max-width: 92vw;     // Casi ancho total del viewport
    width: 92vw;
  }

  ::ng-deep .modal-xxl .modal-content {
    max-height: 90vh;         // Alto del 90% de la ventana
    height: 90vh;
    overflow-y: auto;     // Scrolleable si se necesita
  }

}

