<div class="d-flex justify-content-between mt-5">
  <div class="d-flex w-50">
    <h2 class="d-flex align-items-center">Consultar Resumen de Ventas por Vendedor: </h2>
     <div class="form-group mb-2">        
        <select class="form-select" (change)="changeVendedor($event)">
            <option value="">{{vendSeleccionado ? vendSeleccionado.datosPersonales.apellido + " " + vendSeleccionado.datosPersonales.nombre : "Elegir Vendedor"}}</option>
            @for (v of vendedores; track v) {
                <option [value]="v.idVendedor">
                  {{v.datosPersonales.apellido}} {{v.datosPersonales.nombre}}
                </option>
            }
        </select>
    </div>
  </div>
  @if (vendSeleccionado) {
    <div  style="width:100px;">
      <label for="">Cantidad de Informes</label>
      <div class="input-group">
        <input type="text" inputmode="numeric" class="form-control"  placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="limite" (keyup.enter)="consultarTarifasEventuales()" appSoloNumeros>
        <button class="btn btn-secondary " type="button" id="button-addon2"  (click)="consultarTarifasEventuales()">Consultar</button>
      </div>
    </div>
  }
</div>

<hr class="mt-5">
@if (vendSeleccionado && resumenVentas.length > 0) {
  <div class="mt-5">
    <h1>Resumenes de Venta</h1>
    <table class="table table-light table-striped" >
      <thead class="sticky-top">
        <tr>
          <th>Fecha</th>
          <th>Periodo</th>
          <th>IdResumen</th>
          <th>Clientes</th>
          <th>Total</th>
          <th>Detalle</th>
        </tr>
      </thead>
      <tbody>
        @for (r of resumenVentas; track r) {
          <tr>
            <td>{{r.fecha}}</td>
            <td>{{r.periodo.mes}}/{{r.periodo.anio}} </td>
            <td>{{r.idResumen}}</td>           
            <td>
              <table class="table table-light table-striped table-bordered">                
                @for(asig of r.asignacionesExt; track asig ){
                  <tr>
                      <td>{{getCliente(asig.idCliente)}}</td>
                      <td>{{(asig.totalCliente * asig.porcentaje)/100| formatearValor:'$'}}</td>
                  </tr>                  
                }
              </table>
            </td>
            <td>{{r.total | formatearValor:'$'}}</td>
            <td>
              <app-btn-leer name="DetalleColor"class="me-2"></app-btn-leer>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div class="mt-5">
    <h3>No se registran resumenes de ventas</h3>
  </div>
}



