.parametro{
    width: 10rem;
}
.tabla{
    width: 18rem;
}

.valores{
    width: 18rem;
}

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}
  
.isDisabled:hover {
    cursor: not-allowed;
}

.adicional{
    //width: 100rem;
}

/* .adicionalKm{
    width: 8rem;
} */

.altaIsDisabled{
    visibility: hidden;
}

.isDisabledAjustes{
    visibility: hidden;
}

td, input{
    font-size: 1.15rem;
}