/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    /* background-color: #a3a3a3; */
    background-color: #eaf4f8f6;
}

button{
    background-color: transparent;    
    border-color: #007bff;    
}

button:hover{
    background-color: #002b5c;    
    
}

svg{
    color: #007bff
}


.wrapper {
    display: flex;
    width: 100%;
    /* align-items: stretch; */
    /* background-color: #a3a3a3; */
    background-color: #eaf4f8f6;
}

#sidebar {
    margin: 16px;
    border-radius: 20px;
    min-width: 200px;
    max-width: 200px;
    background: #002b5c;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    
}

