<div *ngIf="!papelera">
<div *ngIf="fromParent?.item && fromParent.item.length > 0">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let archivo of fromParent.item; let index = index">
      <div class="d-flex justify-content-center align-items-center">
        <!-- Condicional para mostrar imágenes o PDFs -->
        <ng-container *ngIf="esImagen(archivo.url); else pdfPreview">
          <img
            [src]="archivo.url"
            [alt]="'Imagen ' + (index + 1)"
            class="d-block"
            style="max-height: 100%; max-width: 100%;"
          />
        </ng-container>
        <!-- Vista previa para PDFs -->
        <ng-template #pdfPreview>
          <iframe
            [src]="archivo.url | safeUrl"
            type="application/pdf"
            style="width: 100%; height: 400px;"
          ></iframe>
        </ng-template>
      </div>
      <div class="carousel-caption">
        Archivo {{ index + 1 }} de {{ fromParent.item.length }}
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div *ngIf="!fromParent?.item || fromParent.item.length === 0" class="text-center">
  <p>No hay archivos disponibles.</p>
</div>
</div>

<div *ngIf="imagenes && imagenes.length > 0 && papelera">
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let archivo of imagenes; let index = index">
      <div class="d-flex justify-content-center align-items-center">
        <!-- Condicional para mostrar imágenes o PDFs -->
        <ng-container *ngIf="esImagen(archivo.url); else pdfPreview">
          <img
            [src]="archivo.url"
            [alt]="'Imagen ' + (index + 1)"
            class="d-block"
            style="max-height: 100%; max-width: 100%;"
          />
        </ng-container>
        <!-- Vista previa para PDFs -->
        <ng-template #pdfPreview>
          <iframe
            [src]="archivo.url | safeUrl"
            type="application/pdf"
            style="width: 100%; height: 400px;"
          ></iframe>
        </ng-template>
      </div>
      <div class="carousel-caption">
        Archivo {{ index + 1 }} de {{ imagenes.length }}
      </div>
    </ng-template>
  </ngb-carousel>
</div>