<div  class="col-12 ">
    <div id="caja" class="border border-2 p-4 rounded-4">
      <h2>Consulta de Operaciones</h2>
      <div class="d-sm-flex col-12 mb-5">
        <div class="col-12 col-sm-6 mt-3">
          <h3>Desde:</h3>
          <div class="d-flex justify-content-evenly mt-3">
            <div class="align-self-center">
              <form class="row row-cols-sm-auto">
                <div class="col-12 mx-auto">
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="yyyy-mm-dd"
                      name="d1"
                      #c1="ngModel"
                      [(ngModel)]="model1"
                      ngbDatepicker
                      #d1="ngbDatepicker"
                    />
                    <button
                      class="btn btn-outline-secondary bi bi-calendar3"
                      (click)="d1.toggle()"
                      type="button"
                    ></button>
                  </div>
                </div>
              </form>
  
              <button
                class="btn btn-sm btn-outline-primary mt-3"
                (click)="model1 = today"
              >
                Seleccionar Hoy
              </button>
              <!-- 
                          <pre>Model: {{ model2 | json }}</pre>
                          <pre>State: {{ c2.status }}</pre> -->
            </div>
            <!-- <div class="align-self-center">
              <ngb-timepicker [(ngModel)]="time1"></ngb-timepicker>
  
              <pre>Selected time: {{time | json}}</pre>
            </div> -->
          </div>
        </div>
  
        <div class="col-12 col-sm-6 mt-3">
          <h3>Hasta:</h3>
          <div class="d-flex justify-content-evenly mt-3">
            <div class="align-self-center">
              <form class="row row-cols-sm-auto">
                <div class="col-12 mx-auto">
                  <div class="input-group">
                    <input
                      class="form-control "
                      placeholder="yyyy-mm-dd"
                      name="d2"
                      #c2="ngModel"
                      [(ngModel)]="model2"
                      ngbDatepicker
                      #d2="ngbDatepicker"
                    />
                    <button
                      class="btn btn-outline-secondary bi bi-calendar3"
                      (click)="d2.toggle()"
                      type="button"
                    ></button>
                  </div>
                </div>
              </form>
  
              <button
                class="btn btn-sm btn-outline-primary mt-3"
                (click)="model2 = today"
              >
                Seleccionar Hoy
              </button>
              <!-- 
                          <pre>Model: {{ model2 | json }}</pre>
                          <pre>State: {{ c2.status }}</pre> -->
            </div>
            <!-- <div class="align-self-center">
              <ngb-timepicker [(ngModel)]="time2"></ngb-timepicker>
              <pre>Selected time: {{time | json}}</pre>
            </div> -->
          </div>
        </div>
      </div>
  
      <button
        class="btn btn-lg btn-outline-primary mt-2"  data-bs-dismiss="modal" aria-label="Close"
        (click)="buscarOperaciones()"
      >
        Buscar
      </button>
    </div>
   
  </div>
  
