<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-2" id="exampleModalToggleLabel2">Aplicar Descuentos</h1>
                    
            <button type="button" class="btn-close btn " id="cerrar" (click)="activeModal.close()"></button>
        </div>        
        <div class="modal-body">
            <div class="">                
                <td class="w-75 align-middle">
                    <label>Concepto:</label>    
                    <div class="input-group">                            
                        <input                        
                        class="form-control" 
                        [(ngModel)]="descuento.concepto"
                        type="text">
                    </div>                        
                </td>
                <td class="w-25 align-middle">
                    <label>Valor: </label>    
                    <div class="input-group">                            
                        <span class="input-group-text" style="font-size: 1.25rem;" id="basic-addon1">$</span>
                        <input                        
                        class="form-control" 
                        (keyup.enter)="agregarDescuento()"
                        [(ngModel)]="descuento.valor"
                        type="text"
                        inputmode="number"
                        appFormatoNumericoNgModel
                        >
                    </div>
                </td>
                <td class="align-bottom text-center">
                    <label for="">Aplicar </label>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle mb-2 mt-2" viewBox="0 0 16 16" type="button" style="color: rgb(0, 110, 255);" (click)="agregarDescuento()">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                </td>      

            </div>
            <div *ngIf="descuentos.length > 0">
                <table class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let desc of descuentos; let i=index">
                            <td>{{desc.concepto}}</td>
                            <td>{{desc.valor  | formatearValor:"$"}}</td>
                            <td style="width: 10%;"><app-btn-eliminar name="Eliminar" (click)="eliminarDescuento(i)"></app-btn-eliminar> </td>
                        </tr>
                    </tbody>
                    <tfoot class="table-group-divider">
                        <tr>
                            <th>Total</th>
                            <th colspan="2">{{totalDescuento | formatearValor:"$"}}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="modal-footer" [ngClass]="{'isDisabled': descuentos.length === 0}">
            <button class="btn aplicar" (click)="aplicarDescuento()">Guardar Descuento</button>
        </div>
    </div>  
</div>