#cerrar{
    background-color: transparent;
    border-color: black;
  }
  
  #cerrar:hover{
    background-color: #0d6efd;
    color: white;
  }

  input, td, th {
    font-size: 1.3rem;
  }

  .aplicar{
    background-color: #3d8bfd;
    color: white;
    font-size: 1.25rem;
  }  
  .aplicar:hover{
      background-color: #0d6efd;
      color: white;
  } 