<div class="container">
    <div class=" d-flex">
        <h1 class="text-center w-100 mx-auto">Facturación de Clientes</h1>
        <app-facturacion-consulta (newItemEvent)="getMsg($event)" [fechasConsulta]="fechasConsulta" class="flex-shrink-1 w-25"></app-facturacion-consulta>      
    </div>    

    <div class="mt-2">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                  <th scope="col" class=""></th>
                  <th scope="col" class="">Razon Social</th>
                  <th scope="col" class="">Cant Op</th>
                  <th scope="col" class="">op sin Facturar</th>  
                  <th scope="col" class="">op Facturadas</th>                        
                  <th scope="col" class="">Total</th>                      
                </tr>
            </thead>
             <tbody>
                <tr *ngFor="let cliente of datosTabla">
                    <td>{{ cliente.idCliente }}</td>
                    <td>{{ cliente.razonSocial }}</td>
                    <td>{{ cliente.cantOp }}</td>
                    <td>{{ cliente.opSinFacturar }}</td>
                    <td>{{ cliente.opFacturadas }}</td>
                    <td>{{ cliente.total }}</td>
                </tr>                
            </tbody> 
        </table>
    </div>

    
</div>

  