<div class="container">
    <div class=" d-flex">
        <h1 class="text-center w-100 mx-auto">Facturación de Clientes</h1>
        <div class="flex-shrink-1 border border-2 p-4 rounded-4 w-25">
            <h2>Consulta de datos</h2>
          
            <div>
              <label for="consultaAnual">Consulta Anual:</label>
              <input type="radio" id="consultaAnual" name="consultaTipo" (change)="seleccionarConsulta('anual')" [(ngModel)]="consultaTipo" value="anual">
            </div>
          
            <div>
              <label for="consultaMensual">Consulta Mensual:</label>
              <input type="radio" id="consultaMensual" name="consultaTipo" (change)="seleccionarConsulta('mensual')" [(ngModel)]="consultaTipo" value="mensual">
            </div>
          
            <div *ngIf="consultaTipo === 'anual'">
              <label for="anio">Seleccione el año:</label>
              <select id="anio" [(ngModel)]="anioSeleccionado">
                <option *ngFor="let anio of aniosDisponibles" [value]="anio">{{ anio }}</option>
              </select>
            </div>
          
            <div *ngIf="consultaTipo === 'mensual'">
              <label for="mes">Seleccione el mes:</label>
              <select id="mes" [(ngModel)]="mesSeleccionado">
                <option *ngFor="let mes of mesesDisponibles" [value]="mes.numero">{{ mes.nombre }}</option>
              </select>
            </div>
          
            <!-- Aquí puedes agregar botones o acciones para ejecutar la consulta -->
        </div>
    </div>    
    
</div>

  