<div class="modal-content">
    <div class="modal-header">
        <div class="d-flex">
            <h1>Editar Tarifa</h1>
            <div class="ms-2">
                <svg (click)="alerta()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.48 1.48 0 0 1 0-2.098zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                </svg>
            </div>
        </div>        
        <button type="button" class="btn-close btn" id="cerrar" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 5%;"></th>
                    <th style="width: 25%;">Categoria</th>
                    <th style="width: 35%;">Nombre</th>
                    <th style="width: 35%;">Valor</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let categoria of tarifa.cargasGenerales">
                    <tr>
                        <td><app-btn-eliminar name="Eliminar" (click)="eliminarCategoria(categoria.orden)"></app-btn-eliminar></td>
                        <td>Categoria {{categoria.orden}}</td>
                        <td> 
                            <div class="input-group mb-3" [ngClass]="{'isDisabled': fromParent.modo === 'especial'}">                            
                                <input type="text" [(ngModel)]="categoria.nombre">
                            </div>                        
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                                <input type="text" inputmode="numeric"   class="w-75" [(ngModel)]="categoria.valor" appFormatoNumericoNgModel>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>                        
                        <td>Km 1er Sector valor</td>                        
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                            <input type="text" inputmode="numeric"  class="w-75" [(ngModel)]="categoria.adicionalKm.primerSector" appFormatoNumericoNgModel>
                        </div>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td>Km Intervalos valor</td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                            <input type="text" inputmode="numeric"  class="w-75" [(ngModel)]="categoria.adicionalKm.sectoresSiguientes" appFormatoNumericoNgModel>
                        </div>
                    </tr>
                </ng-container>                           
                <tr>
                    <td colspan="3">Acompañante: </td>
                    <td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width:30px">$</span>
                            <input type="text" inputmode="numeric"  class="w-75" [(ngModel)]="tarifa.adicionales.acompaniante" appFormatoNumericoNgModel>
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Km 1er Sector distancia:</td>
                    <td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width:30px">Km</span>
                            <input type="text" inputmode="numeric"  class="w-75" [(ngModel)]="tarifa.adicionales.KmDistancia.primerSector" appFormatoNumericoNgModel>
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td colspan="3">Km Intervalos distancia:</td>
                    <td>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" style="width:30px">Km</span>
                            <input type="text" inputmode="numeric"  class="w-75" [(ngModel)]="tarifa.adicionales.KmDistancia.sectoresSiguientes" appFormatoNumericoNgModel>
                        </div>                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <app-btn-agregar name="Guardar" (click)="updateItem()"></app-btn-agregar>
    </div>
</div>