th, td, input, textarea {
    font-size: 1.4rem;
}

.division {
  border-top: 2px solid #5e5d5d;  
}

.positivo{
color: green;
}

.negativo{
color: red;
}


::ng-deep .modal-xxl .modal-dialog {
  max-width: 70vw;     // Casi ancho total del viewport
  width: 70vw;
}

::ng-deep .modal-xxl .modal-content {
  height: 80vh;         // Alto del 90% de la ventana
  overflow-y: auto;     // Scrolleable si se necesita
}

/* Scroll suave y elegante */
::ng-deep .modal-xxl .modal-content::-webkit-scrollbar {
  width: 8px;
}
::ng-deep .modal-xxl .modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
::ng-deep .modal-xxl .modal-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}