th, td, input, textarea {
    font-size: 1.4rem;
}

.division {
  border-top: 2px solid #5e5d5d;  
}

.positivo{
color: green;
}

.negativo{
color: red;
}

.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5; /* o cualquier otro estilo para indicar que está deshabilitado */
}

.isDisabled:hover {
    cursor: not-allowed;
    opacity:0.5;
}

/* CELDAS MONEDA */
.col-numero {
  text-align: right;
  font-variant-numeric: tabular-nums;
  font-family: "Inter", system-ui, sans-serif;
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
  font-weight: 500;
}


::ng-deep .modal-xxl .modal-dialog {
  max-width: 72vw;     // Casi ancho total del viewport
  width: 72vw;
  max-height: 82vh;
}

::ng-deep .modal-xxl .modal-content {
  height: 75vh;         // Alto del 90% de la ventana
  overflow-y: auto;     // Scrolleable si se necesita
}

::ng-deep .modal-xxl .modal-content .modal-footer {
  max-height: 50px;         
  height: 50px;
  
}

/* Scroll suave y elegante */
::ng-deep .modal-xxl .modal-content::-webkit-scrollbar {
  width: 8px;
}
::ng-deep .modal-xxl .modal-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
::ng-deep .modal-xxl .modal-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1400px) {

  th, td, input, textarea {
    font-size: 1.3rem;
  }

  ::ng-deep .modal-xxl .modal-dialog {
    max-width: 92vw;     // Casi ancho total del viewport
    width: 92vw;
  }

  ::ng-deep .modal-xxl .modal-content {
    max-height: 90vh;         // Alto del 90% de la ventana
    height: 90vh;
    overflow-y: auto;     // Scrolleable si se necesita
  }

}