<h1 class="mt-5">Alta Chofer</h1>

<p>{{data}} </p>

<div class="container d-flex justify-content-center align-self-center">

  <form action="" class="w-100"  (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-evenly w-100">
          <div>

            <h2>Datos Personales</h2>
        
            <form [formGroup]="form" >
              <div class="form-group">
                <label for="Nombre">Nombre</label>
                <div class="input-group">
                  <input formControlName="nombre" class="form-control edicion" required type="text" [ngClass]="{ 'is-invalid': form.get('nombre').invalid && (form.get('nombre').dirty || form.get('nombre').touched) }" >            
                </div>
              </div>    
              <div class="form-group">
                <label for="Apellido">Apellido</label>
                <div class="input-group">
                  <input formControlName="apellido" class="form-control" required type="text"  [ngClass]="{ 'is-invalid': form.get('apellido').invalid && (form.get('apellido').dirty || form.get('apellido').touched) }" >
                </div>
              </div>    
              <div class="form-group">
                <label for="Cuit">CUIT</label>
                <div class="input-group">
                  <input formControlName="cuit" class="form-control" required type="text" [placeholder]="'ej: 20213456789'"  [ngClass]="{ 'is-invalid': form.get('cuit').invalid && (form.get('cuit').dirty || form.get('cuit').touched) }" >
                </div>
              </div>                 
              <div class="form-group">
                  <label for="Celular de contacto">Celular de Contacto</label>
                  <div class="input-group">
                    <input formControlName="celularContacto" class="form-control" required type="text" [placeholder]="'ej: 1154776234'"  [ngClass]="{ 'is-invalid': form.get('celularContacto').invalid && (form.get('celularContacto').dirty || form.get('celularContacto').touched) }">
                  </div>
              </div>   
              <div class="form-group">
                <label for="Celular de emergencia">Celular de Emergencia</label>
                <div class="input-group">
                  <input formControlName="celularEmergencia" class="form-control" required type="text" [placeholder]="'ej: 1154776234'" [ngClass]="{ 'is-invalid': form.get('celularEmergencia').invalid && (form.get('celularEmergencia').dirty || form.get('celularEmergencia').touched) }">
                </div>
              </div>   
              <div class="form-group">
                <label for="Domicilio">Domicilio</label>
                <div class="input-group">
                  <input formControlName="domicilio" class="form-control" required type="text" [ngClass]="{ 'is-invalid': form.get('domicilio').invalid && (form.get('domicilio').dirty || form.get('domicilio').touched) }">
                </div>
              </div> 
              <div class="form-group">
                <label for="Email">Email</label>
                <div class="input-group">
                  <input formControlName="email" class="form-control" required type="email"[placeholder]="'ej: ValdeMario@gmail.com'" [ngClass]="{ 'is-invalid': form.get('email').invalid && (form.get('email').dirty || form.get('email').touched) }">
                </div>
            </div>       
              <div class="form-group">
                <label for="FechaNac">Fecha Nacimiento</label>
                <div class="input-group">
                  <input formControlName="fechaNac" class="form-control" required type="date" [ngClass]="{ 'is-invalid': form.get('fechaNac').invalid && (form.get('fechaNac').dirty || form.get('fechaNac').touched) }">
                </div>
              </div>        
              <div class="form-group">
                <label for="Proveedor">Proveedor</label>
                <select class="form-select form-select-md mb-3" (change)="changeProveedor($event)" required>
                  <option>Elegir Proveedor</option>
                  <option value="monotributista">monotributista</option>
                  <option *ngFor="let proveedor of $proveedores">
                    {{proveedor.razonSocial}}
                  </option>
                </select>
            </div> 
        
            <button class="btn btn-secondary mt-2" type="submit" [disabled]="form.invalid || vehiculoForm.invalid ">
              Guardar 
            </button>
        
            </form>
        
          </div>
        
          <div>
              <h2>Datos Vehiculo</h2>
              <form [formGroup]="vehiculoForm">
                  <div class="form-group">
                      <label for="Dominio">Dominio</label>
                      <div class="input-group">
                        <input formControlName="dominio" class="form-control" required type="text" [placeholder]="'ej: gbc408  ó  ab123ca'" [ngClass]="{ 'is-invalid': vehiculoForm.get('dominio').invalid && (vehiculoForm.get('dominio').dirty || vehiculoForm.get('dominio').touched) }">
                        
                      </div>
                  </div>  
                  <div class="form-group">
                    <label for="Marca">Marca</label>
                    <div class="input-group">
                      <input formControlName="marca" class="form-control" required type="text" [ngClass]="{ 'is-invalid': vehiculoForm.get('marca').invalid && (vehiculoForm.get('marca').dirty || vehiculoForm.get('marca').touched) }"> 
                    </div>
                  </div> 
                  <div class="form-group">
                      <label for="Modelo">Modelo</label>
                      <div class="input-group">
                        <input formControlName="modelo" class="form-control" required type="text" [ngClass]="{ 'is-invalid': vehiculoForm.get('modelo').invalid && (vehiculoForm.get('modelo').dirty || vehiculoForm.get('modelo').touched) }">
                      </div>
                  </div>     
                  <div class="form-group">
                      <label for="Categoria">Categoria Vehiculo</label>
                      <select class="form-select form-select-md mb-3" (change)="changeCategoria($event)" required>
                        <option value={{categoriaSeleccionada}} required>Elegir Categoria</option>
                        <option *ngFor="let categoria of categorias" required>
                          {{categoria.categoria}}
                        </option>
                      </select>
                  </div> 
                  <div class="form-group">
                      <label for="Categoria">Tipo de Combustible</label>
                      <select class="form-select form-select-md mb-3" (change)="changeTipoCombustible($event)" required>
                        <option >Elegir Categoria</option>
                        <option value="gas">Gas</option>
                        <option value="nafta">Nafta</option>                        
                      </select>
                  </div> 
                  <div class="form-group">
                      <label for="Categoria">Tarjeta de Combustible</label>
                      <select class="form-select form-select-md mb-3" (change)="changeTarjetaombustible($event)" required>
                        <option >Seleccione</option>
                        <option value="si">si</option>
                        <option value="no">no</option>                        
                      </select>
                  </div> 
                  <div class="form-group">
                    <label for="Categoria">Publicidad</label>
                    <select class="form-select form-select-md mb-3" (change)="changePublicidad($event)" required>
                      <option >Seleccione</option>
                      <option value="si">si</option>
                      <option value="no">no</option>                        
                    </select>
                </div> 
                <!-- <div class="form-group">
                    <label for="Categoria mt-2">Refrigeracion</label>
                    <select class="form-select form-select-md mb-3" (change)="selectRefrigeracion($event)" required>
                      <option >Seleccionar</option>
                      <option value="si">si</option>   
                      <option value="no">no</option>                        
                    </select>
                </div>  -->
                  <div class="form-group">
                      <label for="Categoria">Seguimiento Satelital</label>
                      <select class="form-select form-select-md mb-3" (change)="seguimientoSatelital($event)" required>
                        <option >Seleccionar</option>
                        <option value="si">si</option>   
                        <option value="no">no</option>                        
                      </select>
                  </div>                  
                  <div *ngIf="seguimiento">
                      <form [formGroup]="seguimientoForm">
                          <h4 for="Categoria">Detalle Seguimiento Satelital</h4>
                          <label for="proveedor">Proveedor</label>
                          <div class="input-group">
                            <input formControlName="proveedor" class="form-control" required type="text">
                          </div>
                          <label for="Marca">Marca</label>
                          <div class="input-group">
                            <input formControlName="marcaGps" class="form-control" required type="text">
                          </div>
                      </form>                      
                  </div> 
                  
              </form>
          </div>

       </div>
  
    

       
 
 
  </form>  


</div>


<!-- <div class="form-group">
  <label for="Dominio">dominio</label>
  <div class="input-group">
    <input formControlName="dominio" class="form-control" required type="text">
  </div>
</div>      
<div class="form-group">
  <label for="Categoria">Categoria Vehiculo</label>
  <select class="form-select form-select-md mb-3" (change)="changeCategoria($event)" required>
    <option value={{categoriaSeleccionada}} required>Elegir Categoria</option>
    <option *ngFor="let categoria of categorias" required>
      {{categoria.categoria}}
    </option>
  </select>
</div>    -->




 <!--  <div>
    
            <h2>Jornada</h2>
        
              <div class="form-group">       
                <table>
                  <tbody>
                    <tr class="form-group">
                      <td>Base: </td>
                      <td>
                        <input form            <form [formGroup]="jornadaForm" >             
ControlName="base" class="form-control edicion" required type="number">   
                      </td>
                    </tr>         
                    <tr class="form-group">
                      <td>Carga: </td>
                      <td>
                        <input formControlName="carga" class="form-control" required type="number">
                      </td>
                    </tr>
                    <tr class="form-group">
                      <td>Publicidad: </td>
                      <td>
                        <input formControlName="publicidad" class="form-control" required type="number">
                      </td>
                    </tr>
                  </tbody>
                  
                </table>
                
              </div>    
             
              <form [formGroup]="adicionalForm" >
                  <label for="Km">Adicional por Km: </label>
                  <thead>
                    <tr>
                      <th>Distancia</th>
                      <th>Valor</th>
                    </tr>          
                  </thead>
                  <tbody>            
                    <tr>
                      <td>0-100 km</td>
                      <td>
                        <input class="form-control edicion" required type="text" disabled value="0">            
                      </td>
                    </tr>
                    <tr>
                      <td>101-150 km</td>
                      <td>
                        <input formControlName="adicionalKm1" class="form-control edicion" required type="number">            
                      </td>
                    </tr>
                    <tr>
                      <td>151-200 km</td>
                      <td>
                        <input formControlName="adicionalKm2" class="form-control edicion" required type="number">            
                      </td>
                    </tr>
                    <tr>
                      <td>201-250 km</td>
                      <td>
                        <input formControlName="adicionalKm3" class="form-control edicion" required type="number">            
                      </td>
                    </tr>
                    <tr>
                      <td>251-300 km</td>
                      <td>
                        <input formControlName="adicionalKm4" class="form-control edicion" required type="number">            
                      </td>
                    </tr>
                    <tr>
                      <td>301-350 km</td>
                      <td>
                        <input formControlName="adicionalKm5" class="form-control edicion" required type="number">            
                      </td>
                    </tr>
                  </tbody>
              </form>
            </form>          
          </div> -->