<div class="modal-content">
    <div class="modal-header">
        <h3>Detalles de la operación N° {{data.operacion.idOperacion}}</h3>
        <button type="button" class="btn-close btn btn-outline-secondary" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">        
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="text-center">Cliente</h3>
                    <h4>Razón Social: <span class="text-end">{{data.operacion.cliente.razonSocial}}</span> </h4>
                    <h4>Id Cliente: {{data.idCliente}}</h4>
                    <h4>Dirección: {{data.operacion.cliente.direccion}}</h4>
                </div>
                <div class="col" *ngIf="data.operacion.chofer.proveedor === 'monotributista' && tarifaChoferAplicada !== undefined">
                    <h3 class="text-center">Chofer</h3>
                    <h4>Nombre: {{data.operacion.chofer.apellido}} {{data.operacion.chofer.nombre}}</h4>
                    <h4>Id Chofer: {{data.operacion.chofer.idChofer}}</h4>
                    <h4>Dominio: {{data.operacion.chofer.vehiculo.dominio}} </h4>
                    <h4>Categoria: {{data.operacion.chofer.vehiculo.categoria}}</h4>
                    <h4>Km: {{data.operacion.km}}</h4>
                    <h4>Acompañante: {{data.operacion.acompaniante? "Si": "No"}}</h4>
                </div>
                <div class="col"*ngIf="data.operacion.chofer.proveedor !== 'monotributista' && tarifaProveedorAplicada !== undefined">
                    <h3 class="text-center">Proveedor</h3>
                    <h4>Razon Social: {{data.operacion.chofer.proveedor}}</h4>
                    <h4>Id Proveedor: {{tarifaProveedorAplicada.idProveedor}}</h4>
                    <h4>Dominio: {{data.operacion.chofer.vehiculo.dominio}} </h4>
                    <h4>Categoria: {{data.operacion.chofer.vehiculo.categoria}}</h4>
                    <h4>Km: {{data.operacion.km}}</h4>
                    <h4>Acompañante: {{data.operacion.acompaniante? "Si": "No"}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col border border-dark-subtle border-opacity-50 border-2 rounded-4 me-1 fondo">
                    <h3 class="border-bottom border-dark-subtle border-opacity-50 border-2">Tarifa Aplicada</h3>
                    <h4>Id Tarifa: {{data.idTarifa}}</h4>
                    <h4>Jornada: {{data.valorJornada}}</h4>
                    <h4>Acompañante: {{tarifaClienteAplicada.adicionales.acompaniante}} </h4>
                    <h4>Adicional Km</h4>                    
                    <h4> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                        Primer Sector: {{tarifaClienteAplicada.adicionales.adicionalKm.primerSector.valor }} 
                    </h4>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                        Intervalos: {{tarifaClienteAplicada.adicionales.adicionalKm.sectoresSiguientes.valor}} 
                    </h4>                    
                    <h4>Tarifa Especial: {{tarifaClienteAplicada.tarifaEspecial.valor}} </h4>
                    <h4 class="border-top border-dark-subtle border-opacity-50 border-2">Total Factura: {{data.total}}</h4>
                </div>
                <div *ngIf="data.operacion.chofer.proveedor === 'monotributista' && tarifaChoferAplicada !== undefined" class="col border border-dark-subtle border-opacity-50 border-2 rounded-4 ms-1 fondo">
                    <h3 class="border-bottom border-dark-subtle border-opacity-50 border-2">Tarifa Aplicada</h3>
                    <h4>Id Tarifa: {{tarifaChoferAplicada.idTarifa}}</h4>
                    <h4>Jornada:{{tarifaChoferAplicada.valorJornada}}</h4>
                    <h4>Acompañante:{{tarifaChoferAplicada.acompaniante}} </h4>
                    <h4>Adicional Km</h4>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                        Primer Sector: {{tarifaChoferAplicada.km.primerSector.valor}} </h4>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                        Km Intervalos: {{tarifaChoferAplicada.km.sectoresSiguientes.valor}} </h4>
                    <h4>Tarifa Especial: {{tarifaChoferAplicada.tarifaEspecial.valor}}  </h4>
                    <h4 class="border-top border-dark-subtle border-opacity-50 border-2">Total Factura: {{data.montoFacturaChofer}} </h4>
                </div>
                <div *ngIf="data.operacion.chofer.proveedor !== 'monotributista' && tarifaProveedorAplicada !== undefined" class="col border border-dark-subtle border-opacity-50 border-2 rounded-4 ms-1 fondo">
                    <h3 class="border-bottom border-dark-subtle border-opacity-50 border-2">Tarifa Aplicada</h3>
                    <h4>Id Tarifa: {{tarifaProveedorAplicada.idTarifaProveedor}}</h4>
                    <h4>Jornada:</h4>
                    <h4>Acompañante:{{tarifaProveedorAplicada.adicionales.acompaniante}} </h4>
                    <h4>Adicional Km</h4>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                        Primer Sector: {{tarifaProveedorAplicada.adicionales.adicionalKm.primerSector.valor}} </h4>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                        Km Intervalos: {{tarifaProveedorAplicada.adicionales.adicionalKm.sectoresSiguientes.valor}} </h4>
                    <h4>Tarifa Especial: {{tarifaProveedorAplicada.tarifaEspecial.valor}}  </h4>
                    <h4 class="border-top border-dark-subtle border-opacity-50 border-2">Total Factura: {{data.montoFacturaChofer}} </h4>
                </div>
            </div>            
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Cerrar</button>    
    </div>
</div>
