th, td, select, input{
    font-size:1.4rem;
}

.container {
    margin-top: 20px;
  }
  
  form {
    margin-top: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  .isDisabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .isDisabled:hover {
    cursor: not-allowed;
  }

.card {
    position: relative;
    margin: 5px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 5px;
    font-size: 12px;
  }