<div>
    <div class="col-3 mt-4">
        <h2>Seleccionar Chofer: </h2>
        <select class="form-select form-select-md mb-3" (change)="changeChofer($event)">
            <option selected>Seleccione</option>
            <option *ngFor="let chofer of $choferes" [value]="chofer.idChofer">
              {{chofer.apellido}} {{chofer.nombre}} 
            </option>
          </select>
    </div>     
</div>

<!-- Documentación del chofer seleccionado -->
<div *ngIf="legajoSeleccionado" class="mt-4">
    <h3>Documentación de {{ choferSeleccionado.apellido }} {{ choferSeleccionado.nombre }}</h3>
    <form>
        <table class="table table-striped table-bordered">
            <thead>
                <th style="width: 24%">Documento</th>
                <th style="width: 6%">Sin vto</th>
                <th style="width: 10%">Fecha vto</th>
                <th style="width: 30%">Subir imagenes</th>
                <th style="width: 30%">Imagenes</th>
            </thead> 
            <tbody>
                <tr *ngFor="let doc of legajoSeleccionado.documentacion; let i = index">
                  <td>{{doc.titulo}}</td>
                  <td>
                    <input
                      type="checkbox"
                      id="sinVto-{{ i }}"
                      [(ngModel)]="doc.sinVto"
                      [ngModelOptions]="{standalone: true}"
                      (change)="toggleSinVto(i, $any($event.target).checked)"
                    />
                  </td>
                  <td>
                    <input
                      type="date"
                      class="form-control"
                      [value]="doc.fechaVto ? (doc.fechaVto | date:'yyyy-MM-dd') : ''"
                      (change)="actualizarFechaVto(i, $any($event.target).value)"
                    />
                  </td>
                  <td>
                    <input
                      type="file"
                      id="fileInput-{{ i }}"
                      multiple
                      class="form-control"
                      (change)="agregarImagen(i, $any($event.target).files)"
                      />
                  </td>
                  <td>
                      <!-- <div id="carouselExampleCaptions" class="carousel slide">
                          <div class="carousel-indicators">
                            <button *ngFor="let imagen of doc.imagenes; let j=index"  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to=j class="active" aria-current="true" ></button>
                            
                          </div>
                          <div class="carousel-inner">
                              <div *ngFor="let imagen of doc.imagenes; let j=index" class="carousel-item active">
                                  <img [src]="imagen" class="card-img-top" alt="Imagen cargada" />
                                  <div class="carousel-caption d-none d-md-block">
                                      <button type="button" class="btn btn-danger btn-sm" (click)="eliminarImagen(i, j)">
                                        Eliminar
                                      </button>
                                  </div>                            
                              </div>                                                    
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                          </button>
                      </div> -->
                      <div id="carouselExample" class="carousel slide">
                          <div class="carousel-inner">
                              <div *ngFor="let imagen of doc.imagenes; let j=index" class="carousel-item active">
                                  <img [src]="imagen" class="card-img-top" alt="Imagen cargada" />
                                  <div class="carousel-caption d-none d-md-block">
                                      <button type="button" class="btn btn-danger btn-sm" (click)="eliminarImagen(i, j)">
                                        Eliminar
                                      </button>
                                  </div>         
                              </div>                            
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                          </button>
                      </div>
                  </td>                  
                </tr>
            </tbody>            
        </table>
<!--       <div class="row" *ngFor="let doc of legajoSeleccionado.documentacion; let i = index">
        <div class="col-md-3">
          <label>{{ doc.titulo }}</label>
        </div>
        <div class="col-md-2">
          <input
            type="checkbox"
            id="sinVto-{{ i }}"
            [(ngModel)]="doc.sinVto"
            [ngModelOptions]="{standalone: true}"
            (change)="toggleSinVto(i, $any($event.target).checked)"
          />
          <label for="sinVto-{{ i }}">Sin vencimiento</label>
        </div>
        <div class="col-md-3" *ngIf="!doc.sinVto">
          <input
            type="date"
            class="form-control"
            [value]="doc.fechaVto ? (doc.fechaVto | date:'yyyy-MM-dd') : ''"
            (change)="actualizarFechaVto(i, $any($event.target).value)"
          />
        </div>
        <div class="col-md-4">
          <label for="fileInput-{{ i }}">Subir imágenes:</label>
          <input
            type="file"
            id="fileInput-{{ i }}"
            multiple
            class="form-control"
            (change)="agregarImagen(i, $any($event.target).files)"
            />
        </div>
        
        <div class="col-12 mt-2">
          <div class="row">
            <div
              class="col-md-2"
              *ngFor="let imagen of doc.imagenes; let j = index"
            >
              <div class="card">
                <img [src]="imagen" class="card-img-top" alt="Imagen cargada" />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="eliminarImagen(i, j)"
                >
                  Eliminar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </form>
</div>
  <div class="mt-4">
    <button
      class="btn btn-primary"
      (click)="guardar()"
      [disabled]="!legajoSeleccionado"
    >
      Guardar Cambios
    </button>
  </div>

