<div class="d-flex justify-content-between">
  <div class="align-self-start mt-3 me-2">
    <app-btn-leer
      name="Vendedor"
      modulo="vendedores"
      accion="agregar"
      (click)="abrirModal('alta')">
    </app-btn-leer>
  </div>

  <div class="d-flex w-100 h-50 align-self-end justify-content-end">
    <div class="btn-group ms-3 mb-2 me-2" role="group">
      <input type="radio" class="btn-check" name="filtroVendedores" id="vendedoresActivos"
        autocomplete="off" checked (change)="cambiarFiltro('activos')" />
      <label class="btn btn-outline-primary" for="vendedoresActivos">Activos</label>
      <input type="radio" class="btn-check" name="filtroVendedores" id="vendedoresInactivos"
        autocomplete="off" (change)="cambiarFiltro('inactivos')" />
      <label class="btn btn-outline-primary" for="vendedoresInactivos">Inactivos</label>
      <input type="radio" class="btn-check" name="filtroVendedores" id="vendedoresTodos"
        autocomplete="off" (change)="cambiarFiltro('todos')" />
      <label class="btn btn-outline-primary" for="vendedoresTodos">Todos</label>
    </div>
  </div>
</div>

<app-tabla-generica
  [columnas]="columnas"
  [filas]="filas"
  [acciones]="accionesTabla"
  modulo="vendedores">
</app-tabla-generica>

@if (isLoading) {
  <app-spinner></app-spinner>
}
