<div class="d-flex justify-content-between">
  <div class="d-flex">
    <div class="align-self-start mt-3 me-2">
      <app-btn-leer
        name="Chofer"
        (click)="openModal('alta')"
        [ngClass]="{'isDisabled': usuarioSesion.esRol('demo')}">
      </app-btn-leer>
    </div>
    <div class="align-self-start mt-3 mb-1">
      <button class="btn btn-primary boton-alta" type="button" (click)="descargarChoferes()">
        Descargar Choferes
      </button>
    </div>
    <div class="align-self-start ms-2 mt-3 mb-1">
      <button
        class="btn btn-primary boton-alta"
        type="button"
        (click)="visibilidadChoferes()"
        [ngClass]="{'isDisabled': usuarioSesion.esRol('demo')}">
        Choferes Visibles
      </button>
    </div>
  </div>

  <div class="d-flex w-100 h-50 align-self-end justify-content-end">
    <div class="btn-group ms-3 mb-2 me-2" role="group">
      <input
        type="radio"
        class="btn-check"
        name="filtroChoferes"
        id="choferesActivos"
        autocomplete="off"
        checked
        (change)="cambiarFiltro('visibles')"
      />
      <label class="btn btn-outline-primary" for="choferesActivos">Visibles</label>
      <input
        type="radio"
        class="btn-check"
        name="filtroChoferes"
        id="choferesTodos"
        autocomplete="off"
        (change)="cambiarFiltro('todos')"
      />
      <label class="btn btn-outline-primary" for="choferesTodos">Todos</label>
    </div>
  </div>
</div>

<app-tabla-generica
  [columnas]="columnas"
  [filas]="filas"
  [acciones]="accionesTabla">
</app-tabla-generica>

@if (isLoading) {
  <app-spinner></app-spinner>
}
