

<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-2" id="exampleModalToggleLabel2">Liquidación de Servicios</h1>
                
      <button type="button" class="btn-close btn " id="cerrar" (click)="closeModal()"></button>
    </div>        
    <div class="modal-body">
        <h3>{{clienteSeleccionado.razonSocial}}</h3>       
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th *ngFor="let col of columnas" class="text-center">
                    <div class="d-flex">
                        <span class="w-100 text-center">{{ col.nombre }}</span>
                        <input
                          type="checkbox"
                          [(ngModel)]="col.seleccionada"
                          class="flex-shrink-1"
                          (change)="actualizarColumnasSeleccionadas()"
                        />
                    </div>                    
                    
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let operacion of facLiqCliente">
                  <td *ngFor="let col of columnas" class="text-center">
                    <span *ngIf="col.nombre === 'Quincena'; else defaultContent" [innerHTML]="obtenerDatoColumna(operacion, col)"></span>
                    <ng-template #defaultContent>
                      {{ obtenerDatoColumna(operacion, col) }}
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <div class="modal-footer">
        <h4>Generar Factura:</h4>
        <app-btn-leer name="excel" (click)="onSubmit('excel')"></app-btn-leer>
        <app-btn-leer name="pdf" (click)="onSubmit('pdf')"></app-btn-leer>
    </div>
  </div>
</div>