<h1 class="text-center">Facturación</h1>
<div class="d-flex justify-content-between">
  <div class="border border-rounded rounded-4">
    <div class="m-5">
        <h2>Resumen</h2>
        <p>Facturación Total: </p>
        <p>liquidación Total: </p>
        <P>Falta Pagar:</P>
        <P>Falta Cobrar:</P>
    </div>  
  </div>
  <div>
    <app-facturacion-consulta></app-facturacion-consulta>
  </div>
</div>

<div class="mt-4">       
  <h2>Clientes</h2> 
  <app-facturacion-cliente></app-facturacion-cliente>
</div>

