.bt{
    width: 15rem;
}

th{
    width: 20%;
}

.offcanvas-end {
    width: 300px;
}
.offcanvas-normal {
    height: 400px;
}

.offcanvas-personalizada {
    width: 500px;
    height: 400px;
}

.offcanvas-alta {
    height: 500px;
    width: 500px;
} 

