/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'sass:color';



html {
    font-size: 60%  /*adjust the size with percentage here. */
}


.container{
    margin-top:2%;
  }

  .fa{
    font-size: 20px;
  }

  .custom-modal-top-right .modal-dialog {
    position: fixed;
    top: 10px;
    right: 0px;
    margin: 0;
    width: auto;
    
}

.custom-modal-top-right .modal-content {
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
}

body.modal-open {
  overflow: visible !important;
}

.custom-offcanvas {
  max-width: 200px; /* Ancho personalizado */
}

.offcanvas {
  position: fixed;
  top: 0;
  left: -200px; /* Oculta el offcanvas fuera de la pantalla */
  width: 200px; /* Ancho del offcanvas */
  height: 100vh;
  transition: right 0.3s ease; /* Animación de desplazamiento */
}

/* Clase para abrir el offcanvas */
.offcanvas.open {
  left: 0; /* Muestra el offcanvas */
}

/* Estilo para el contenido principal */
.main-content {
  transition: margin-left 0s ease; /* Animación de desplazamiento */
}

/* Desplaza el contenido principal cuando el offcanvas está abierto */
.main-content.shifted {
  margin-left: 200px; /* Igual al ancho del offcanvas */
}

.ag-cell {
  user-select: text !important;
}




/* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

// @import "node_modules/bootstrap/scss/bootstrap";
