.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
  }
  
  .isDisabled:hover {
    cursor: not-allowed;
  }

  input, option, textarea, select {
    font-size: 1.15rem;
  }

  button{
    border-color: #0d6efd;    
  }

  button:hover{
    background-color: #0d6efd;
    color: white;
  }

  #cerrar{   
    background-color: transparent;
    border-color: black;
  }
  
  #cerrar:hover{
    background-color: #0d6efd;
    color: white;
  }
  