.table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .container {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  th, td, input {
    font-size: 1.15rem;
  }