input, select, option, label{
  font-size: 1.3rem;
}

.categoria-badge {
  font-size: 1.2rem;
}

.botonera{
  width: 12rem;
  color: white;
  opacity: 0.8;
  font-size: 1.3rem;
}

.btn-chofer{ 
  background: #002b5c;
}

.btn-chofer:hover{
  background: #0d6efd;
}
