.isDisabled {
    pointer-events: none;
    cursor: not-allowed;
}

.isDisabled:hover {
    cursor: not-allowed;
}

.invisible{
    display:none;   
}

.sectores{
    height: 375px !important;    
}

input, option, textarea, select, span {
    font-size: 1.3rem;
}

button{
    border-color: #0d6efd;    
}

#cerrar{   
    background-color: transparent;
    border-color: black;
}

#cerrar:hover{
    background-color: #0d6efd;
    color: white;
}