<div class="d-flex justify-content-between mt-3">
    <h1>Liquidación</h1>
</div>
<div class="tab-container mb-4">
    @for (tab of tabs; track tab) {
        <div
          class="tab"
          [class.active]="selectedTab === tab.id"
          (click)="selectTab(tab.id)">
          {{ tab.name }}
        </div>
    }
</div>
<!-- <app-tablero-calendario [modo]="modo" [ngClass]="{'invisible': ocultarCalendario}"></app-tablero-calendario> -->
<div class="d-flex justify-content-center">
    <div style="width:420px">
        <app-tablero-fechas defaultTipo="mes" [ngClass]="{'invisible': ocultarCalendario}"></app-tablero-fechas>  
    </div>    
</div>

<router-outlet></router-outlet>
